extends ../_default
block vars
    - var path = "../"
    - var title = "会社情報｜株式会社CHINTAI"
    - var description = "株式会社CHINTAIの会社情報のご紹介です。Vision、Mission、Valueなどの企業理念、代表メッセージ、会社・事業所情報、沿革について掲載しています。"
    - var pageClass = "dir-company is-header-dark"
    - var canonical = "https://www.chintai.jp/company/"

block content
    .p-company
        section.cm-section-header.cm-section-header--hasBG
            picture.cm-section-header__bg
                source(srcset=img + "p-company-mv-sp.webp" media="(max-width: 1023px)")
                img(src=img + "p-company-mv.webp" alt="社内画像")
            .l-container
                .cm-section-header__wrap
                    .c-heading-page.c-heading-page--wh
                        h1.c-heading-page__title
                            | 会社情報
                        p.c-heading-page__en
                            | Company
            ul.cm-section-header__bc
                li
                    a(href=path+"")
                        | Top
                li
                    span
                        | Company

        .p-company__wrap.js-sticky-section__content
            .p-company__aside.js-sticky-section__aside
                .cm-nav-aside
                    .cm-nav-aside__chitiger
                        figure
                            img(src=img + "chintiger-aside.svg" alt="チンタイガーの画像")
                        figure
                            img(src=img + "chintiger-aside2.svg" alt="チンタイガーの画像")
                    p.cm-nav-aside__title
                        span Index
                    ul.cm-nav-aside__list
                        li
                            a(href="#s1" data-scroll-anchor).cm-nav-aside-link.is-active
                                i.cm-nav-aside-link__arrow
                                    svg(width=42 height=42 aria-hidden="true")
                                        use(href="#ico-circle")
                                    svg(width=42 height=42 aria-hidden="true")._arrow
                                        use(href="#ico-arrow-right")
                                span.cm-nav-aside-link__text 企業理念
                        li
                            a(href="#s2" data-scroll-anchor).cm-nav-aside-link.is-active
                                i.cm-nav-aside-link__arrow
                                    svg(width=42 height=42 aria-hidden="true")
                                        use(href="#ico-circle")
                                    svg(width=42 height=42 aria-hidden="true")._arrow
                                        use(href="#ico-arrow-right")
                                span.cm-nav-aside-link__text 代表メッセージ
                        li
                            a(href="#s3" data-scroll-anchor).cm-nav-aside-link.is-active
                                i.cm-nav-aside-link__arrow
                                    svg(width=42 height=42 aria-hidden="true")
                                        use(href="#ico-circle")
                                    svg(width=42 height=42 aria-hidden="true")._arrow
                                        use(href="#ico-arrow-right")
                                span.cm-nav-aside-link__text 会社概要
                        li
                            a(href="#s4" data-scroll-anchor).cm-nav-aside-link.is-active
                                i.cm-nav-aside-link__arrow
                                    svg(width=42 height=42 aria-hidden="true")
                                        use(href="#ico-circle")
                                    svg(width=42 height=42 aria-hidden="true")._arrow
                                        use(href="#ico-arrow-right")
                                span.cm-nav-aside-link__text 沿革

            .p-company__content
                section.p-company-philosophy#s1
                    .l-container
                        .p-company-philosophy__wrap
                            .c-heading-section.c-heading-section--sm
                                h2.c-heading-section__title
                                    | 企業理念
                                p.c-heading-section__en
                                    | Philosophy
                            .p-company-philosophy-figure
                                figure.p-company-philosophy-figure__pic
                                    <svg width="760" height="280" viewBox="0 0 760 280" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="480" width="280" height="280" rx="140" fill="white"/>
                                    <rect x="492" y="12" width="256" height="256" rx="128" fill="white"/>
                                    <rect x="492" y="12" width="256" height="256" rx="128" stroke="#D5D5DA" stroke-width="4"/>
                                    <rect x="237" width="280" height="280" rx="140" fill="white"/>
                                    <rect x="249" y="12" width="256" height="256" rx="128" fill="white"/>
                                    <rect x="249" y="12" width="256" height="256" rx="128" stroke="#D5D5DA" stroke-width="4"/>
                                    <rect width="280" height="280" rx="140" fill="white"/>
                                    <rect x="12" y="12" width="256" height="256" rx="128" stroke="#D5D5DA" stroke-width="4"/>
                                    <rect class="line" x="12" y="12" width="256" height="256" rx="128" stroke="#9CB6E5" stroke-width="4" transform="rotate(150 140 140)"/>
                                    <path class="line" d="M198 238L229.5 269.5" stroke="white" stroke-width="10" stroke-linecap="round"/>
                                    <path class="line" d="M198 238L229.5 269.5" stroke="#9CB6E5" stroke-width="4"/>
                                    </svg>

                                    <svg width="760" height="302" viewBox="0 0 760 302" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="480" width="280" height="280" rx="140" fill="white"/>
                                    <rect x="492" y="12" width="256" height="256" rx="128" fill="white"/>
                                    <rect x="492" y="12" width="256" height="256" rx="128" stroke="#D5D5DA" stroke-width="4"/>
                                    <rect width="280" height="280" rx="140" fill="white"/>
                                    <rect x="12" y="12" width="256" height="256" rx="128" fill="white"/>
                                    <rect x="12" y="12" width="256" height="256" rx="128" stroke="#D5D5DA" stroke-width="4"/>
                                    <rect x="237" width="280" height="280" rx="140" fill="white"/>
                                    <rect x="249" y="12" width="256" height="256" rx="128" fill="white"/>
                                    <rect class="line" x="249" y="12" width="256" height="256" rx="128" stroke="#9CB6E5" stroke-width="4" transform="rotate(180 377 140)"/>
                                    <path d="M377 259L377 297" stroke="white" stroke-width="10" stroke-linecap="round"/>
                                    <path class="line" d="M377 259L377 299" stroke="#9CB6E5" stroke-width="4"/>
                                    </svg>

                                    <svg width="760" height="280" viewBox="0 0 760 280" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="280" height="280" rx="140" fill="white"/>
                                    <rect x="12" y="12" width="256" height="256" rx="128" fill="white"/>
                                    <rect x="12" y="12" width="256" height="256" rx="128" stroke="#D5D5DA" stroke-width="4"/>
                                    <rect x="237" width="280" height="280" rx="140" fill="white"/>
                                    <rect x="249" y="12" width="256" height="256" rx="128" fill="white"/>
                                    <rect x="249" y="12" width="256" height="256" rx="128" stroke="#D5D5DA" stroke-width="4"/>
                                    <rect width="280" height="280" rx="140" transform="matrix(-1 0 0 1 760 0)" fill="white"/>
                                    <rect x="-2" y="2" width="256" height="256" rx="128" transform="matrix(-1 0 0 1 746 10)" fill="white"/>
                                    <rect class="line-reverse" x="-2" y="2" width="256" height="256" rx="128" transform="matrix(-1 0 0 1 746 10) rotate(150 126 130)" stroke="#9CB6E5" stroke-width="4"/>
                                    <path d="M562 238L530.5 269.5" stroke="white" stroke-width="10"/>
                                    <path class="line" d="M562 238L530.5 269.5" stroke="#9CB6E5" stroke-width="4"/>
                                    </svg>
                                .p-company-philosophy-figure__items
                                    .p-company-philosophy-figure-item
                                        p._en Vision
                                        p._ja 実現したい姿
                                    .p-company-philosophy-figure-item
                                        p._en Mission
                                        p._ja CHINTAIの役割
                                    .p-company-philosophy-figure-item
                                        p._en Value
                                        p._ja 行動指針
                            .p-company-philosophy__items
                                .p-company-philosophy-item
                                    .p-company-philosophy-item__wrap
                                        h3.c-heading-text-sm
                                            | 気づく、であう、広がる。
                                            br
                                            | 自分らしい暮らしが叶う社会を創る。
                                        p.c-paragraph
                                            | 「お部屋探し」は人生の中でそう多くない、貴重な体験のひとつです。
                                            br
                                            | CHINTAIは、新しい街や価値観との出会いを通じて暮らしの可能性をひろげ、自分らしい暮らしが実現する社会に向けて、一人ひとりに寄り添いながら、そのきっかけを生み出し続けます。
                                .p-company-philosophy-item
                                    .p-company-philosophy-item__wrap
                                        h3.c-heading-text-sm
                                            | 前例にとらわれず、
                                            br
                                            | 住まいと暮らしの新たな定番を生み出す
                                        ul
                                            li 賃貸生活の可能性を考え続ける
                                            li 気軽で安心できるお部屋探しを実現させる
                                            li 住まいの枠を超えた新しい暮らしの形をつくる
                                .p-company-philosophy-item
                                    .p-company-philosophy-item__wrap
                                        ol
                                            li
                                                span._no 01
                                                span 価値創造を通して、感謝を循環させる
                                            li
                                                span._no 02
                                                span 自分ごと化し、熱意をもって取り組む
                                            li
                                                span._no 03
                                                span 誰よりも速く・たくさん、学び・挑戦する
                                            li
                                                span._no 04
                                                span 信頼につながる正しいことを成す
                                            li
                                                span._no 05
                                                span 他者を尊重し、チームワークで価値を最大化する

                section.p-company-message#s2
                    .l-container
                        .p-company-message__wrap
                            .c-heading-section.c-heading-section--sm
                                h2.c-heading-section__title
                                    | 代表メッセージ
                                p.c-heading-section__en
                                    | Message
                            .p-company-message__block
                                figure.p-company-message__pic
                                    img(src=img+"p-company-message.webp" alt="代表取締役社長 奥田 倫也")
                                    figcaption
                                        span 代表取締役社長
                                        img(src=img+"p-company-message-name.svg" alt="代表取締役社長 奥田 倫也")
                                .p-company-message__content
                                    h3.p-company-message__title
                                        | 「新たな定番」を創り、
                                        br
                                        | 暮らしの可能性を広げる
                                    p.c-paragraph
                                        | 住まいは、人生の大切な時間を支える基盤です。CHINTAIはこれまで、「お部屋探し」を起点に、人々の暮らしに寄り添いながら事業を展開してきました。
                                        br
                                        | 私たちは、前例や既存の枠にとらわれることなく、住まいと暮らしの新たな定番を生み出すことに挑戦し続けています。住まいとの出会いが、その人の暮らしをより良いものへとつながっていくよう、サービスのあり方を磨き続けています。
                                        br
                                        | 賃貸という選択肢が、もっと自由で、前向きなものになるように。CHINTAIはこれからも、変化を恐れず、誠実に挑戦を重ね、暮らしの可能性を広げてまいります。
                section.p-company-information#s3
                    .l-container
                        .p-company-information__wrap
                            .p-company-information__outline
                                .c-heading-section.c-heading-section--sm
                                    h2.c-heading-section__title
                                        | 会社概要
                                    p.c-heading-section__en
                                        | Company Information
                                .p-company-information__outlineList
                                    dl.c-list-data
                                        dt.c-list-data__title
                                            | 会社名
                                        dd.c-list-data__data
                                            p.c-list-data__company
                                                span 株式会社CHINTAI
                                                span ／ <br class="sp">
                                                span CHINTAI Corporation（英語名表記）
                                    dl.c-list-data
                                        dt.c-list-data__title
                                            | 設立日
                                        dd.c-list-data__data
                                            | 1992年4月17日
                                    dl.c-list-data
                                        dt.c-list-data__title
                                            | 資本金
                                        dd.c-list-data__data
                                            | 1億円
                                    dl.c-list-data
                                        dt.c-list-data__title
                                            | 事業内容
                                        dd.c-list-data__data
                                            | 賃貸物件の空室情報提供サービス
                                    dl.c-list-data
                                        dt.c-list-data__title
                                            | 従業員数
                                        dd.c-list-data__data
                                            | 155名（単体） ※2025年10月期
                                    dl.c-list-data
                                        dt.c-list-data__title
                                            | 役員
                                        dd.c-list-data__data
                                            p.c-list-data__member
                                                span 代表取締役会長
                                                span 佐藤 茂
                                            p.c-list-data__member
                                                span 代表取締役社長
                                                span 奥田 倫也
                                            p.c-list-data__member
                                                span 取締役副社長
                                                span 山下 悠子
                                            p.c-list-data__member
                                                span 取締役
                                                span 小原 康二
                                            p.c-list-data__member
                                                span 取締役
                                                span 齋藤 和義
                                            p.c-list-data__member
                                                span 監査役
                                                span 田村 守
                                            p.c-list-data__member
                                                span 監査役
                                                span 楠原 みのり
                            .p-company-information__office
                                .c-heading-section.c-heading-section--sm
                                    h2.c-heading-section__title
                                        | 事業所一覧
                                    p.c-heading-section__en
                                        | Office
                                .p-company-information__officeList
                                    .c-list-office
                                        button.c-list-office__button.js-accordion(aria-label="アコーディオンを開く")
                                            span.c-list-office__name
                                                | 本社（東日本営業部）
                                            i.c-list-office__status
                                                span._status
                                                svg(width=42 height=42 aria-hidden="true")._circle
                                                    use(href="#ico-circle")
                                        .c-list-office__data(style="display: none;")
                                            p
                                                | 〒107-0051
                                                br
                                                | 東京都港区元赤坂1丁目2番7号 <br class="sp">AKASAKA K-TOWER 10階
                                                br
                                                | 03-5771-4600
                                            p
                                                a(href="https://www.google.com/maps/place/%E3%88%B1CHINTAI/@35.6766783,139.7336875,14.24z/data=!4m6!3m5!1s0x60188c7e99e2b751:0x70e421262dde33b!8m2!3d35.6777417!4d139.7348684!16s%2Fg%2F11_psq1ht?hl=ja&entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D" target="_blank")
                                                    span Google Maps
                                                    svg(width=13 height=13 aria-hidden="true")
                                                        use(href="#ico-external-sm")
                                    .c-list-office
                                        button.c-list-office__button.js-accordion(aria-label="アコーディオンを開く")
                                            span.c-list-office__name
                                                | 北海道支社
                                            i.c-list-office__status
                                                span._status
                                                svg(width=42 height=42 aria-hidden="true")._circle
                                                    use(href="#ico-circle")
                                        .c-list-office__data(style="display: none;")
                                            p
                                                | 〒060-0061
                                                br
                                                | 札幌市中央区南1条西6丁目4番19号 <br class="sp">旭川信金ビル5階
                                                br
                                                | 011-210-5240
                                            p
                                                a(href="https://www.google.com/maps/place/%E3%88%B1CHINTAI/@43.058218,141.3459376,17z/data=!3m2!4b1!5s0x5f0b299b252a2db3:0xb3ec7b4da91115aa!4m6!3m5!1s0x5f0b299b3e98b70f:0xa9e48c088ac2ea73!8m2!3d43.0582141!4d141.3485179!16s%2Fg%2F1vp73kyc?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D" target="_blank")
                                                    span Google Maps
                                                    svg(width=13 height=13 aria-hidden="true")
                                                        use(href="#ico-external-sm")
                                    .c-list-office
                                        button.c-list-office__button.js-accordion(aria-label="アコーディオンを開く")
                                            span.c-list-office__name
                                                | 関西・中部支社（大阪オフィス）
                                            i.c-list-office__status
                                                span._status
                                                svg(width=42 height=42 aria-hidden="true")._circle
                                                    use(href="#ico-circle")
                                        .c-list-office__data(style="display: none;")
                                            p
                                                | 〒530-0003
                                                br
                                                | 大阪市北区堂島1丁目2番6号 シーサⅫ 6階
                                                br
                                                | 06-6348-8518
                                            p
                                                a(href="https://www.google.com/maps/place/%E3%80%92530-0003+%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E5%8C%97%E5%8C%BA%E5%A0%82%E5%B3%B6%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%92%E2%88%92%EF%BC%96+%E3%82%B7%E3%83%BC%E3%82%B5XII/@34.6962705,135.4992871,17z/data=!3m1!4b1!4m6!3m5!1s0x6000e6ee876392f3:0xd657f045d99def9c!8m2!3d34.6962705!4d135.4992871!16s%2Fg%2F11tmws1t9d?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D" target="_blank")
                                                    span Google Maps
                                                    svg(width=13 height=13 aria-hidden="true")
                                                        use(href="#ico-external-sm")
                                    .c-list-office
                                        button.c-list-office__button.js-accordion(aria-label="アコーディオンを開く")
                                            span.c-list-office__name
                                                | 関西・中部支社（名古屋オフィス）
                                            i.c-list-office__status
                                                span._status
                                                svg(width=42 height=42 aria-hidden="true")._circle
                                                    use(href="#ico-circle")
                                        .c-list-office__data(style="display: none;")
                                            p
                                                | 〒460-0003
                                                br
                                                | 名古屋市中区錦2丁目3番11号　ニシキ21ビル2階
                                                br
                                                | 052-204-3328
                                            p
                                                a(href="https://www.google.com/maps/place/%E3%80%92460-0003+%E6%84%9B%E7%9F%A5%E7%9C%8C%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E4%B8%AD%E5%8C%BA%E9%8C%A6%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%93%E2%88%92%EF%BC%91%EF%BC%91+%E3%83%8B%E3%82%B7%E3%82%AD%EF%BC%92%EF%BC%91%E3%83%93%E3%83%AB+2%E9%9A%8E/@35.1729289,136.9004577,16z/data=!3m1!4b1!4m5!3m4!1s0x600376d50778efbf:0xb06ecad557335907!8m2!3d35.1729289!4d136.9004577?hl=ja&entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D" target="_blank")
                                                    span Google Maps
                                                    svg(width=13 height=13 aria-hidden="true")
                                                        use(href="#ico-external-sm")
                                    .c-list-office
                                        button.c-list-office__button.js-accordion(aria-label="アコーディオンを開く")
                                            span.c-list-office__name
                                                | 西日本支社（福岡オフィス）
                                            i.c-list-office__status
                                                span._status
                                                svg(width=42 height=42 aria-hidden="true")._circle
                                                    use(href="#ico-circle")
                                        .c-list-office__data(style="display: none;")
                                            p
                                                | 〒810-0041
                                                br
                                                | 福岡市中央区大名1丁目8番10号　<br class="sp">福岡安藤ハザマビル3階
                                                br
                                                | 092-714-4926
                                            p
                                                a(href="https://www.google.com/maps/place/%E3%80%92810-0041+%E7%A6%8F%E5%B2%A1%E7%9C%8C%E7%A6%8F%E5%B2%A1%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%A4%A7%E5%90%8D%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%98%E2%88%92%EF%BC%91%EF%BC%90+%E7%A6%8F%E5%B2%A1%E5%AE%89%E8%97%A4%E3%83%8F%E3%82%B6%E3%83%9E%E3%83%93%E3%83%AB+3%E9%9A%8E/@33.5864463,130.389773,17z/data=!3m1!4b1!4m5!3m4!1s0x35419187346916b9:0x7f7b491bda757920!8m2!3d33.5864463!4d130.3919617?hl=ja&shorturl=1" target="_blank")
                                                    span Google Maps
                                                    svg(width=13 height=13 aria-hidden="true")
                                                        use(href="#ico-external-sm")
                                    .c-list-office
                                        button.c-list-office__button.js-accordion(aria-label="アコーディオンを開く")
                                            span.c-list-office__name
                                                | 西日本支社（広島オフィス）
                                            i.c-list-office__status
                                                span._status
                                                svg(width=42 height=42 aria-hidden="true")._circle
                                                    use(href="#ico-circle")
                                        .c-list-office__data(style="display: none;")
                                            p
                                                | 〒730-0041
                                                br
                                                | 広島市中区小町1番25号　平和大通り小町ビル2階
                                                br
                                                | 082-504-6969
                                            p
                                                a(href="https://goo.gl/maps/yU768RPxCEfZqFxv8" target="_blank")
                                                    span Google Maps
                                                    svg(width=13 height=13 aria-hidden="true")
                                                        use(href="#ico-external-sm")

                section.p-company-history#s4
                    .p-company-history__bg
                        picture
                            source(srcset=img + "p-company-history-bg-sp.svg" media="(max-width: 1023px)")
                            img(src=img + "p-company-history-bg.svg" alt="")
                    .l-container
                        .p-company-history__wrap
                            .c-heading-section.c-heading-section--sm
                                h2.c-heading-section__title
                                    | 沿革
                                p.c-heading-section__en
                                    | History
                            .p-company-history-timeline
                                .p-company-history-timeline__line
                                    i
                                    i.indicator
                                    <svg class="nikukyu" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="1" y="1" width="38" height="38" rx="19" fill="white"/>
                                    <rect x="1" y="1" width="38" height="38" rx="19" stroke="#0C3096" stroke-width="2"/>
                                    <path d="M18.3609 10.8797C14.4072 11.3974 11.5264 14.2942 11.9265 17.3498C12.3266 20.4055 15.8561 22.4629 19.8099 21.9452C23.7636 21.4275 26.6444 18.5307 26.2443 15.475C25.8442 12.4194 22.3147 10.362 18.3609 10.8797Z" fill="#323795"/>
                                    <path d="M32.4963 18.3101C31.2693 17.9813 30.0081 18.7095 29.6794 19.9364C29.3506 21.1634 30.0787 22.4246 31.3057 22.7533C32.5327 23.0821 33.7939 22.354 34.1226 21.127C34.4514 19.9 33.7233 18.6389 32.4963 18.3101Z" fill="#323795"/>
                                    <path d="M26.1916 24.0972C24.9646 23.7684 23.7034 24.4966 23.3747 25.7235C23.0459 26.9505 23.7741 28.2117 25.001 28.5405C26.228 28.8692 27.4892 28.1411 27.8179 26.9141C28.1467 25.6871 27.4186 24.426 26.1916 24.0972Z" fill="#323795"/>
                                    <path d="M16.9377 25.6846C15.7107 25.3558 14.4495 26.084 14.1208 27.3109C13.792 28.5379 14.5201 29.7991 15.7471 30.1279C16.9741 30.4566 18.2353 29.7285 18.564 28.5015C18.8928 27.2745 18.1647 26.0134 16.9377 25.6846Z" fill="#323795"/>
                                    <path d="M8.57441 21.4156C7.34743 21.0868 6.08626 21.8149 5.75749 23.0419C5.42873 24.2689 6.15687 25.5301 7.38384 25.8588C8.61081 26.1876 9.87199 25.4594 10.2008 24.2325C10.5295 23.0055 9.80138 21.7443 8.57441 21.4156Z" fill="#323795"/>
                                    </svg>
                                .p-company-history-timeline__blocks
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 1992.
                                                span 04
                                            dd.p-company-history-timeline-block__detail
                                                | 賃貸住宅ニュース社設立
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 1994.
                                                span 01
                                            dd.p-company-history-timeline-block__detail
                                                | 情報誌「賃貸住宅ニュース」の<br>誌名を「CHINTAI」に変更
                                        figure.p-company-history-timeline-block__pic.y1994
                                            img(src=img + "p-company-history-timeline-block-1994.webp" alt="情報誌「賃貸住宅ニュース」")
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 1996.
                                                span 07
                                            dd.p-company-history-timeline-block__detail
                                                | インターネットでの賃貸住宅情報の提供を開始
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 1998.
                                                span 11
                                            dd.p-company-history-timeline-block__detail
                                                | 携帯電話向けに賃貸住宅情報の提供を開始
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2001.
                                                span 01
                                            dd.p-company-history-timeline-block__detail
                                                | 不動産業者向け賃貸不動産業務支援システム<br class="pc-tab">（CRS）の開発・提供開始
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2005.
                                                span 05
                                            dd.p-company-history-timeline-block__detail
                                                | 株式会社CHINTAI（CHINTAI Corporation）<br class="pc-tab">に商号を変更
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2011.
                                                span 04
                                            dd.p-company-history-timeline-block__detail
                                                | 賃貸物件オーナー様向け専門冊子<br>「わんだふるオーナーズ」発刊
                                        figure.p-company-history-timeline-block__pic.y2011
                                            img(src=img + "p-company-history-timeline-block-2011.webp" alt="わんだふるオーナーズ")
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2015.
                                                span 02
                                            dd.p-company-history-timeline-block__detail
                                                | LINEのトーク上でお部屋探しができる<br>「LINEでCHINTAI」<br class="sp">（現：CHINTAIエージェント）を提供
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2016.
                                                span 12
                                            dd.p-company-history-timeline-block__detail
                                                | 二人で一緒に部屋探しが行える<br>ペアリング型部屋探しアプリ<br class="sp">「ぺやさがし」サービス開始
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2017.
                                                span 10
                                            dd.p-company-history-timeline-block__detail
                                                | 埼玉エリア限定、地域密着の<br>コミュニティマガジン「街ドキ」創刊
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                span 12
                                            dd.p-company-history-timeline-block__detail
                                                | 女性専用お部屋探しサイト<br class="pc-tab">「Woman.CHINTAI」サービス開始
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2020.
                                                span 12
                                            dd.p-company-history-timeline-block__detail
                                                | 不動産業務システム<br class="sp">「CHINTAI BB 反響管理FA」<br>サービス開始
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2021.
                                                span 11
                                            dd.p-company-history-timeline-block__detail
                                                | 不動産会社比較検索サイト
                                                br
                                                | 「ふどサーチ」サービス開始
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                span 12
                                            dd.p-company-history-timeline-block__detail
                                                | 不動産賃貸仲介業にまつわる
                                                br
                                                | お役立ち情報サイト
                                                br
                                                | 「CHINTAI JOURNAL」オープン
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2023.
                                                span 07
                                            dd.p-company-history-timeline-block__detail
                                                | 賃貸業界初となる、やむを得ない転居を補償する<br class="pc-tab">「住みかえ解約補償」をリリース
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2024.
                                                span 07
                                            dd.p-company-history-timeline-block__detail
                                                | 自治体と共に安心・安全なまちづくりを推進する「CHINTAI社会貢献プロジェクト」始動
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                span 12
                                            dd.p-company-history-timeline-block__detail
                                                | 「住みかえ解約補償」を刷新し、<br>どんな住み替え理由でも補助金がもらえる<br>「CHINTAI安心パック」を提供開始
                                    .p-company-history-timeline-block
                                        dl.p-company-history-timeline-block__list
                                            dt.p-company-history-timeline-block__year
                                                | 2025.
                                                span 03
                                            dd.p-company-history-timeline-block__detail
                                                | 学生の初めての一人暮らしを<br class="sp">応援する「ガクサポ」<br class="pc-tab">をスタート
                                        figure.p-company-history-timeline-block__pic.y2025
                                            img(src=img+"p-company-history-timeline-block-2025.webp" alt="ガクサポ")


        - var cta = "company"
        include ../template/_cm-section-cta











