extends ../_default
block vars
    - var path = "../"
    - var title = "サービス｜株式会社CHINTAI"
    - var description = "株式会社CHINTAIのサービス内容・ビジネスモデルのご紹介です。「一人ひとりがもっと自分らしい豊かな暮らしのできる世界へ。」を実現すべく物件・暮らし・ウェブメディア・賃貸ビジネスなど多岐にわたるサービスを展開しています。"
    - var pageClass = "page-color dir-service"
    - var canonical = "https://www.chintai.jp/service/"

block content
    -
        var serviceList1 = [
            {
                "slug": "chintai",
                "title": "CHINTAIネット",
                "category": [
                    "WEB",
                    "アプリ"
                ],
                "desc": "毎日豊富な新着物件を沿線・駅や住所、地図や通勤通学先、さらには約100種類のこだわりテーマから探せるサイトです。1枚でお部屋の中をぐるっと見られる360度パノラマ写真付きの物件は、気になる物件の間取り図や写真だけではわからないお部屋の雰囲気を知ることができます。",
                "url": "https://www.chintai.net/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "agent",
                "title": "CHINTAIエージェント",
                "category": [
                    "LINE",
                ],
                "desc": "AIを活用し、自分では見つけられなかったお部屋や街との出会いを生み出すサービスです。LINEで会員登録後、希望条件や価値観を回答すると、AIが好みやこだわりを分析し、予想外のお部屋を提案。さらに、お部屋周辺のお店や街の雰囲気を織り交ぜた「あなただけのおすすめコメント」によって、これまでピンとくるお部屋に出会えなかった人でも納得できる、「暮らしが見える部屋探し」が叶います。",
                "url": "https://www.chintai.net/agent/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "woman",
                "title": "Woman.CHINTAI",
                "category": [
                    "WEB",
                    "アプリ"
                ],
                "desc": "これから初めて一人暮らしをする女性のための物件検索サイトです。簡単な設問で自分に合ったお部屋の条件を診断できる「タイプ検索」機能や、お部屋ごとにみんなの評価を確認できる「お部屋評価」など、住みたい街や条件がまだ固まっていない女性でも安心して部屋探しができるよう、さまざまな工夫を凝らしています。",
                "url": "https://woman.chintai/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "gakusei",
                "title": "ガクセイCHINTAI",
                "category": [
                    "WEB"
                ],
                "desc": "学校に通いやすいお部屋を簡単に検索できる、進学やキャンパス移動に伴う部屋探しをサポートするサイトです。学校名や学校の最寄り駅からの所要時間別にお部屋を探せます。",
                "url": "https://gakusei.chintai.net/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "magazine",
                "title": "情報誌CHINTAI",
                "category": [
                    "情報誌",
                ],
                "desc": "不動産会社が厳選した賃貸物件情報を掲載し、快適なお部屋探しをサポートする情報誌です。さらに、お部屋探しや引越しにまつわるハウツー・豆知識、豊かなライフスタイルを実現するためのヒントなど、さまざまな特集を毎号掲載し、賃貸生活ならではの自由な暮らし方を提案しています。",
                "url": "https://www.chintai.net/magazine/",
                "url_internal": "",
                "url_text": "",
            }
        ]
        var serviceList2 = [
            {
                "slug": "student",
                "title": "高校生のための<br>お部屋探し&一人暮らしガイド",
                "category": [
                    "情報誌"
                ],
                "desc": "高校生の自立を支援するため、「高校生のためのお部屋探し＆一人暮らしガイド」を制作・提供しています。本冊子は、高校の家庭科授業で活用できる副教材として、お部屋探しから引越しまでの流れや、賃貸借契約に関する用語解説、内見時のチェックポイントなど、一人暮らしに必要な基礎知識をわかりやすくまとめています。",
                "url": "../initiatives/student/#student02",
                "url_internal": true,
                "url_text": "詳しく見る",
            },
            {
                "slug": "anshinpack",
                "title": "CHINTAI安心パック",
                "category": [
                    "サポート"
                ],
                "desc": "賃貸物件への引越し後、早期に住み替える場合に補助金をお支払いするサービスです。引越し前に加入しておけば、引越し後に早期の住み替えが必要になった際も、補助金を受け取ることができます。住み替えの理由を問わず補償し、契約時には想定できなかった予期せぬ問題はもちろん、「住んでみたら思っていたのと違った」といった理由も対象です。満足のいく引越しを、費用面からサポートします。",
                "url": "https://www.chintai.net/anshinpack/index_03.html",
                "url_internal": "",
                "url_text": "",
            },
        ]
        var serviceList3 = [
            {
                "slug": "news",
                "title": "CHINTAI情報局",
                "category": [
                    "WEBメディア",
                ],
                "desc": "住まいや暮らしにまつわる「知らなかった！」をなくし、自分に合ったライフスタイルを見つけるための情報を発信するウェブメディアです。一人暮らしや同棲の基礎知識から、お部屋探し・契約・お金のこと、暮らしの疑問への答え、住まいを心地よくするヒントまで、毎日がちょっと嬉しくなる“暮らしのアイディア”をお届けします。",
                "url": "https://www.chintai.net/news/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "sundara_techo",
                "title": "住んだら手帳",
                "category": [
                    "SNS",
                ],
                "desc": "手帳に一発描きしたイラストマップで、街での暮らしを紹介するインスタグラムアカウントです。 お部屋探しを始める前の“住む街を考える”という部分にフォーカスし、その街に「住んだら」ついつい通いたくなるスポットをピックアップしています。 街で一人暮らしをしている人の休日の過ごし方を、絵日記風に紹介する「休日のお散歩日記」も連載中。 街の雰囲気や、その街ならではのエピソードも紹介しているので要チェックです。",
                "url": "https://www.instagram.com/sundara_techo/",
                "url_internal": "",
                "url_text": "Instagramを見る",
            },

        ]
        var serviceList4 = [
            {
                "slug": "fa",
                "title": "CHINTAI BB情報管理FA",
                "category": [
                    "システム",
                ],
                "desc": "賃貸仲介業者様向けの、反響管理・顧客管理の効率化をサポートする業務支援システムです。不動産仲介業務の実態に即した多様な便利機能や弊社スタッフによる導入後のサポートも充実しています。",
                "url": "https://solution.chintai.net/service/fa/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "journal",
                "title": "CHINTAI JOURNAL",
                "category": [
                    "WEBメディア",
                ],
                "desc": "不動産会社向けの情報メディアサイトです。CHINTAIならではのノウハウやスキル術をはじめ、賃貸仲介に携わる方のライフハックコンテンツも充実しています。",
                "url": "https://journal.chintai.net/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "wonderful_owners",
                "title": "わんだふるオーナーズ",
                "category": [
                    "情報誌",
                ],
                "desc": "全国63,000人の賃貸物件オーナーにご愛読いただいている会員誌です。空室対策や資産形成などの賃貸経営に関する専門的な情報はもちろん、健康や趣味、旅などのライフスタイルを豊かにする記事も充実しています。",
                "url": "https://www.chintai.net/wonderful_owners/",
                "url_internal": "",
                "url_text": "",
            },

        ]


    .p-service
        section.cm-section-header-service
            .l-container
                .cm-section-header-service__wrap
                    .cm-section-header-service__content
                        .c-heading-page
                            h2.c-heading-page__title
                                | サービス
                            p.c-heading-page__en
                                | Service
                        h3.cm-section-header-service__sub
                            | 一人ひとりがもっと自分らしい
                            br
                            | 豊かな暮らしのできる世界へ。
                        p.c-paragraph-md
                            | CHINTAIは、「住まい」「お部屋」をベースに、お部屋探しやその後の豊かな暮らしをサポートするWebメディアを中心とした、さまざまなサービスやコンテンツを提供しています。
                    picture.cm-section-header-service__bg
                        source(srcset=img + "p-service-mv-sp.webp" media="(max-width: 1023px)")
                        img(src=img + "p-service-mv.webp" data-y="-10" alt="サービスイメージ画像").js-parallax

            ul.cm-section-header-service__bc
                li
                    a(href=path+"")
                        | Top
                li
                    span
                        | Service

        section.p-service-business
            .l-container
                .p-service-business__wrap
                    .p-service-business__content
                        .c-heading-section.c-heading-section--sm
                            h2.c-heading-section__title
                                | ビジネスモデル
                            p.c-heading-section__en
                                | Business Model
                        p.c-paragraph
                            | ユーザーに情報を届けたいというクライアントに<br class="pc">対し、CHINTAIが運営する各メディアを<br class="pc">活用した最適な広告掲載をご提案しています。
                    .p-service-business__figure(data-src=path+"assets/lottie/chintai.json" data-sp-src=path+"assets/lottie/chintai-sp.json" data-once).js-lottie

        section.p-service-list
            .l-container
                .p-service-list__wrap.js-sticky-section__content
                    .p-service-list__aside.js-sticky-section__aside
                        .cm-nav-aside
                            .cm-nav-aside__chitiger
                                figure
                                    img(src=img + "chintiger-aside.svg" alt="チンタイガーの画像")
                                figure
                                    img(src=img + "chintiger-aside2.svg" alt="チンタイガーの画像")
                            h3.cm-nav-aside__title
                                span Index
                            ul.cm-nav-aside__list
                                li.is-current
                                    a(href="#s1" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text お部屋にであう
                                li
                                    a(href="#s2" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text 安心して暮らす
                                li
                                    a(href="#s3" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text 暮らしを楽しむ
                                li
                                    a(href="#s4" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text 賃貸ビジネスを支える

                    .p-service-list__content
                        section.p-service-list-section#s1
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    img(src=img+"p-service-list-section-label1.svg" alt="Meet Your Room")
                                    span お部屋にであう
                            .p-service-list-section__body
                                each service in serviceList1
                                    .p-service-list-item(class="p-service-list-item--"+service.slug )
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt=service.title+"ロゴ画像")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | #{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target="_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-external")
                        section.p-service-list-section#s2
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    img(src=img+"p-service-list-section-label2.svg" alt="Live in Peace!")
                                    span 安心して暮らす
                            .p-service-list-section__body
                                each service in serviceList2
                                    .p-service-list-item(class="p-service-list-item--"+service.slug )
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt=service.title+"ロゴ画像")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | !{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target=service.url_internal ? false : "_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        if (service.url_internal)
                                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                                use(href="#ico-arrow-right")
                                                        else
                                                            svg(width=42 height=42 aria-hidden="true")
                                                                use(href="#ico-external")
                        section.p-service-list-section#s3
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    img(src=img+"p-service-list-section-label3.svg" alt="Enjoy Living!")
                                    span 暮らしを楽しむ
                            .p-service-list-section__body
                                each service in serviceList3
                                    .p-service-list-item(class="p-service-list-item--"+service.slug )
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt=service.title+"ロゴ画像")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | #{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target="_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-external")
                        section.p-service-list-section#s4
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    img(src=img+"p-service-list-section-label4.svg" alt="Support Rental Business")
                                    span 賃貸ビジネスを支える
                            .p-service-list-section__body
                                each service in serviceList4
                                    .p-service-list-item
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt="")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | #{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target="_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-external")

        - var cta = "service"
        include ../template/_cm-section-cta















