extends ../_default
block vars
    - var path = "../"
    - var title = "サービス｜株式会社CHINTAI"
    - var description = "株式会社CHINTAIのサービス内容・ビジネスモデルのご紹介です。「一人ひとりがもっと自分らしい豊かな暮らしのできる世界へ。」を実現すべく物件・暮らし・ウェブメディア・賃貸ビジネスなど多岐にわたるサービスを展開しています。"
    - var pageClass = "page-color dir-service"
    - var canonical = "https://www.chintai.jp/service/"

block content
    -
        var serviceList1 = [
            {
                "slug": "chintai",
                "title": "CHINTAIネット",
                "category": [
                    "WEB",
                    "アプリ"
                ],
                "desc": "毎日豊富な新着物件を沿線・駅や住所、地図や通勤通学先、さらには約100種類のこだわりテーマから探せるサイトです。1枚でお部屋の中をぐるっと見られる360度パノラマ写真付きの物件は、気になる物件の間取り図や写真だけではわからないお部屋の雰囲気を知ることができます。",
                "url": "https://www.chintai.net/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "agent",
                "title": "CHINTAIエージェント",
                "category": [
                    "LINE",
                ],
                "desc": "AIを活用し、自分では見つけられなかったお部屋や街との出会いを生み出すサービスです。LINEで会員登録後、希望条件や価値観を回答すると、AIが好みやこだわりを分析し、予想外のお部屋を提案。さらに、お部屋周辺のお店や街の雰囲気を織り交ぜた「あなただけのおすすめコメント」によって、これまでピンとくるお部屋に出会えなかった人でも納得できる、「暮らしが見える部屋探し」が叶います。",
                "url": "https://www.chintai.net/agent/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "woman",
                "title": "Woman.CHINTAI",
                "category": [
                    "WEB",
                    "アプリ"
                ],
                "desc": "これから初めて一人暮らしをする女性のための物件検索サイトです。簡単な設問で自分に合ったお部屋の条件を診断できる「タイプ検索」機能や、お部屋ごとにみんなの評価を確認できる「お部屋評価」など、住みたい街や条件がまだ固まっていない女性でも安心して部屋探しができるよう、さまざまな工夫を凝らしています。",
                "url": "https://woman.chintai/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "gakusei",
                "title": "ガクセイCHINTAI",
                "category": [
                    "WEB"
                ],
                "desc": "学校に通いやすいお部屋を簡単に検索できる、進学やキャンパス移動に伴う部屋探しをサポートするサイトです。学校名や学校の最寄り駅からの所要時間別にお部屋を探せます。",
                "url": "https://gakusei.chintai.net/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "magazine",
                "title": "情報誌CHINTAI",
                "category": [
                    "情報誌",
                ],
                "desc": "不動産会社が厳選した賃貸物件情報を掲載し、快適なお部屋探しをサポートする情報誌です。さらに、お部屋探しや引越しにまつわるハウツー・豆知識、豊かなライフスタイルを実現するためのヒントなど、さまざまな特集を毎号掲載し、賃貸生活ならではの自由な暮らし方を提案しています。",
                "url": "https://www.chintai.net/magazine/",
                "url_internal": "",
                "url_text": "",
            }
        ]
        var serviceList2 = [
            {
                "slug": "student",
                "title": "高校生のための<br>お部屋探し&一人暮らしガイド",
                "category": [
                    "情報誌"
                ],
                "desc": "高校生の自立を支援するため、「高校生のためのお部屋探し＆一人暮らしガイド」を制作・提供しています。本冊子は、高校の家庭科授業で活用できる副教材として、お部屋探しから引越しまでの流れや、賃貸借契約に関する用語解説、内見時のチェックポイントなど、一人暮らしに必要な基礎知識をわかりやすくまとめています。",
                "url": "../initiatives/student/#student02",
                "url_internal": true,
                "url_text": "詳しく見る",
            },
            {
                "slug": "anshinpack",
                "title": "CHINTAI安心パック",
                "category": [
                    "サポート"
                ],
                "desc": "賃貸物件への引越し後、早期に住み替える場合に補助金をお支払いするサービスです。引越し前に加入しておけば、引越し後に早期の住み替えが必要になった際も、補助金を受け取ることができます。住み替えの理由を問わず補償し、契約時には想定できなかった予期せぬ問題はもちろん、「住んでみたら思っていたのと違った」といった理由も対象です。満足のいく引越しを、費用面からサポートします。",
                "url": "https://www.chintai.net/anshinpack/index_03.html",
                "url_internal": "",
                "url_text": "",
            },
        ]
        var serviceList3 = [
            {
                "slug": "news",
                "title": "CHINTAI情報局",
                "category": [
                    "WEBメディア",
                ],
                "desc": "住まいや暮らしにまつわる「知らなかった！」をなくし、自分に合ったライフスタイルを見つけるための情報を発信するウェブメディアです。一人暮らしや同棲の基礎知識から、お部屋探し・契約・お金のこと、暮らしの疑問への答え、住まいを心地よくするヒントまで、毎日がちょっと嬉しくなる“暮らしのアイディア”をお届けします。",
                "url": "https://www.chintai.net/news/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "sundara_techo",
                "title": "住んだら手帳",
                "category": [
                    "SNS",
                ],
                "desc": "手帳に一発描きしたイラストマップで、街での暮らしを紹介するインスタグラムアカウントです。 お部屋探しを始める前の“住む街を考える”という部分にフォーカスし、その街に「住んだら」ついつい通いたくなるスポットをピックアップしています。 街で一人暮らしをしている人の休日の過ごし方を、絵日記風に紹介する「休日のお散歩日記」も連載中。 街の雰囲気や、その街ならではのエピソードも紹介しているので要チェックです。",
                "url": "https://www.instagram.com/sundara_techo/",
                "url_internal": "",
                "url_text": "Instagramを見る",
            },

        ]
        var serviceList4 = [
            {
                "slug": "fa",
                "title": "CHINTAI BB情報管理FA",
                "category": [
                    "システム",
                ],
                "desc": "賃貸仲介業者様向けの、反響管理・顧客管理の効率化をサポートする業務支援システムです。不動産仲介業務の実態に即した多様な便利機能や弊社スタッフによる導入後のサポートも充実しています。",
                "url": "https://solution.chintai.net/service/fa/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "journal",
                "title": "CHINTAI JOURNAL",
                "category": [
                    "WEBメディア",
                ],
                "desc": "不動産会社向けの情報メディアサイトです。CHINTAIならではのノウハウやスキル術をはじめ、賃貸仲介に携わる方のライフハックコンテンツも充実しています。",
                "url": "https://journal.chintai.net/",
                "url_internal": "",
                "url_text": "",
            },
            {
                "slug": "wonderful_owners",
                "title": "わんだふるオーナーズ",
                "category": [
                    "情報誌",
                ],
                "desc": "全国63,000人の賃貸物件オーナーにご愛読いただいている会員誌です。空室対策や資産形成などの賃貸経営に関する専門的な情報はもちろん、健康や趣味、旅などのライフスタイルを豊かにする記事も充実しています。",
                "url": "https://www.chintai.net/wonderful_owners/",
                "url_internal": "",
                "url_text": "",
            },

        ]


    .p-service
        section.cm-section-header-service
            .l-container
                .cm-section-header-service__wrap
                    .cm-section-header-service__content
                        .c-heading-page
                            h2.c-heading-page__title
                                | サービス
                            p.c-heading-page__en
                                | Service
                        h3.cm-section-header-service__sub
                            | 一人ひとりがもっと自分らしい
                            br
                            | 豊かな暮らしのできる世界へ。
                        p.c-paragraph-md
                            | CHINTAIは、「住まい」「お部屋」をベースに、お部屋探しやその後の豊かな暮らしをサポートするWebメディアを中心とした、さまざまなサービスやコンテンツを提供しています。
                    picture.cm-section-header-service__bg
                        source(srcset=img + "p-service-mv-sp.webp" media="(max-width: 1023px)")
                        img(src=img + "p-service-mv.webp" data-y="-10" alt="サービスイメージ画像").js-parallax

            ul.cm-section-header-service__bc
                li
                    a(href=path+"")
                        | Top
                li
                    span
                        | Service

        section.p-service-business
            .l-container
                .p-service-business__wrap
                    .p-service-business__content
                        .c-heading-section.c-heading-section--sm
                            h2.c-heading-section__title
                                | ビジネスモデル
                            p.c-heading-section__en
                                | Business Model
                        p.c-paragraph
                            | ユーザーに情報を届けたいというクライアントに<br class="pc">対し、CHINTAIが運営する各メディアを<br class="pc">活用した最適な広告掲載をご提案しています。
                    .p-service-business__figure(data-src=path+"assets/lottie/chintai.json" data-sp-src=path+"assets/lottie/chintai-sp.json" data-once).js-lottie

        section.p-service-list
            .l-container
                .p-service-list__wrap.js-sticky-section__content
                    .p-service-list__aside.js-sticky-section__aside
                        .cm-nav-aside
                            .cm-nav-aside__chitiger
                                figure
                                    img(src=img + "chintiger-aside.svg" alt="チンタイガーの画像")
                                figure
                                    img(src=img + "chintiger-aside2.svg" alt="チンタイガーの画像")
                            h3.cm-nav-aside__title
                                span Index
                            ul.cm-nav-aside__list
                                li.is-current
                                    a(href="#s1" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text お部屋にであう
                                li
                                    a(href="#s2" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text 安心して暮らす
                                li
                                    a(href="#s3" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text 暮らしを楽しむ
                                li
                                    a(href="#s4" data-scroll-anchor).cm-nav-aside-link
                                        i.cm-nav-aside-link__arrow
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                        span.cm-nav-aside-link__text 賃貸ビジネスを支える

                    .p-service-list__content
                        section.p-service-list-section#s1
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    <svg width="130" height="23" viewBox="0 0 130 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.77247 22.1265L-0.00127266 10.8407L1.28853 10.4094L8.56251 16.5633L7.72414 16.8437L9.83348 7.55215L11.1233 7.12087L14.897 18.4066L13.0429 19.0266L10.3582 10.9976L10.8151 10.9703L9.24647 17.8583L7.95667 18.2895L2.56037 13.7305L2.94182 13.4775L5.62657 21.5065L3.77247 22.1265ZM21.1679 16.9298C20.3745 17.1205 19.6159 17.1163 18.892 16.9173C18.1765 16.7046 17.5559 16.3293 17.0303 15.7912C16.5157 15.2505 16.1644 14.5889 15.9763 13.8065C15.7883 13.0242 15.8019 12.2807 16.0173 11.5762C16.23 10.8607 16.6011 10.247 17.1308 9.73502C17.6716 9.22041 18.3221 8.87174 19.0824 8.689C19.8207 8.51156 20.512 8.5261 21.156 8.73264C21.8112 8.93653 22.37 9.2976 22.8326 9.81585C23.3062 10.3315 23.6344 10.9694 23.8171 11.7298C23.8489 11.862 23.871 12.0024 23.8834 12.151C23.9041 12.2858 23.9178 12.4399 23.9245 12.6131L17.412 14.1784L17.0544 12.6907L22.6248 11.3519L22.0901 12.1099C21.9515 11.6303 21.7599 11.2451 21.5151 10.9542C21.2704 10.6634 20.9726 10.4669 20.6216 10.3647C20.2817 10.2599 19.8914 10.2605 19.4506 10.3664C18.9878 10.4776 18.6094 10.6735 18.3155 10.9539C18.0215 11.2344 17.8246 11.5789 17.7247 11.9876C17.6221 12.3853 17.6304 12.832 17.7496 13.3279C17.8688 13.8238 18.0725 14.2352 18.3609 14.5622C18.6493 14.8892 19.0005 15.1137 19.4145 15.2357C19.8258 15.3466 20.2684 15.3452 20.7422 15.2313C21.1499 15.1333 21.5074 14.9716 21.8146 14.7463C22.1328 14.5183 22.38 14.2374 22.5562 13.9036L23.9953 14.7991C23.7182 15.3436 23.332 15.7978 22.8366 16.1616C22.3412 16.5254 21.785 16.7815 21.1679 16.9298ZM30.3725 14.992C29.5697 15.1385 28.8125 15.0924 28.1007 14.8536C27.398 14.6017 26.7992 14.1926 26.3041 13.6263C25.8202 13.0579 25.506 12.3779 25.3615 11.5863C25.2171 10.7948 25.2718 10.0532 25.5258 9.36171C25.7777 8.65905 26.1823 8.06678 26.7395 7.58491C27.3078 7.10099 27.9766 6.78883 28.7459 6.64842C29.4929 6.51208 30.1823 6.56483 30.8139 6.80667C31.4568 7.04648 31.9948 7.4379 32.428 7.98094C32.8724 8.52195 33.1648 9.1771 33.3052 9.94639C33.3296 10.0802 33.3439 10.2216 33.348 10.3706C33.3613 10.5064 33.3665 10.661 33.3636 10.8343L26.7744 12.037L26.4997 10.5318L32.1356 9.50319L31.5598 10.2304C31.448 9.7439 31.2779 9.34868 31.0496 9.04473C30.8213 8.74078 30.5348 8.5281 30.1901 8.40669C29.8565 8.28325 29.4667 8.26222 29.0208 8.34362C28.5525 8.42909 28.1639 8.60371 27.8549 8.86747C27.5459 9.13124 27.3302 9.46438 27.2078 9.8669C27.0834 10.2583 27.067 10.7048 27.1585 11.2065C27.2501 11.7082 27.4308 12.1303 27.7007 12.4727C27.9706 12.8152 28.3088 13.0588 28.7154 13.2034C29.1199 13.337 29.5619 13.36 30.0413 13.2725C30.4539 13.1972 30.8197 13.0555 31.1389 12.8475C31.4692 12.6374 31.7316 12.3707 31.926 12.0472L33.3133 13.0209C33.0066 13.5492 32.5958 13.9813 32.0811 14.3172C31.5664 14.6531 30.9968 14.878 30.3725 14.992ZM36.9205 13.7302L35.3687 2.27486L37.2218 2.02384L38.7736 13.4792L36.9205 13.7302ZM34.116 7.59114L33.8878 5.90653L39.6155 5.13062L39.8437 6.81524L34.116 7.59114ZM49.239 7.63511L44.0585 0.876376L46.3127 0.7011L50.3643 6.09826L49.3135 6.17997L52.4821 0.221398L54.7024 0.0487583L50.595 7.52968L49.239 7.63511ZM49.3369 12.4019L48.873 6.43588L50.8221 6.28433L51.286 12.2503L49.3369 12.4019ZM58.6307 12.0706C57.8377 12.0955 57.1125 11.9313 56.4551 11.5778C55.7973 11.2129 55.2657 10.7137 54.8602 10.0802C54.4661 9.44626 54.2565 8.73283 54.2316 7.93989C54.2067 7.14695 54.3711 6.42742 54.725 5.78131C55.0901 5.13484 55.5897 4.61454 56.2236 4.2204C56.8572 3.81495 57.5704 3.59974 58.3634 3.5748C59.1676 3.54949 59.8985 3.71359 60.5559 4.06709C61.2134 4.42059 61.7392 4.9143 62.1333 5.54822C62.5384 6.17045 62.7534 6.87804 62.7784 7.67098C62.8033 8.46392 62.6334 9.18929 62.2686 9.84709C61.9151 10.5045 61.4215 11.036 60.788 11.4414C60.154 11.8356 59.4349 12.0453 58.6307 12.0706ZM58.574 10.2695C59.0384 10.2549 59.443 10.1401 59.7878 9.92514C60.1435 9.69851 60.4118 9.39526 60.5926 9.01538C60.7847 8.63515 60.8733 8.20715 60.8583 7.73139C60.8434 7.25563 60.7282 6.83971 60.5129 6.48364C60.2976 6.12756 60.0112 5.8531 59.6536 5.66025C59.2957 5.45607 58.8845 5.36129 58.42 5.3759C57.9669 5.39016 57.5625 5.5106 57.2068 5.73724C56.8621 5.95218 56.5934 6.24411 56.4009 6.61301C56.2198 6.98156 56.1367 7.40371 56.1516 7.87948C56.1666 8.35524 56.2763 8.777 56.4806 9.14476C56.6963 9.51216 56.9831 9.79795 57.341 10.0021C57.7099 10.1946 58.1209 10.2837 58.574 10.2695ZM68.147 11.9679C67.4557 11.9586 66.8402 11.7973 66.3003 11.4841C65.7718 11.1709 65.3582 10.746 65.0593 10.2093C64.772 9.66136 64.6331 9.03611 64.6425 8.3335L64.7062 3.59093L66.576 3.61605L66.5135 8.27363C66.5081 8.67026 66.5659 9.01107 66.6868 9.29605C66.8191 9.56985 67.0089 9.78209 67.2563 9.93276C67.5149 10.0836 67.8199 10.1614 68.1712 10.1661C68.7152 10.1734 69.1309 10.0203 69.4185 9.70678C69.7175 9.3821 69.8711 8.91946 69.8792 8.31885L69.9417 3.66127L71.8116 3.68639L71.7479 8.42896C71.7383 9.14289 71.5768 9.76978 71.2636 10.3096C70.9618 10.8383 70.5425 11.252 70.0058 11.5508C69.4692 11.8383 68.8496 11.9773 68.147 11.9679ZM73.9197 11.9154L74.3433 3.76636L76.2108 3.86344L75.7872 12.0124L73.9197 11.9154ZM76.0228 7.47955L75.3945 7.12346C75.448 6.09351 75.7176 5.2734 76.2033 4.66312C76.7009 4.04212 77.4137 3.75573 78.3418 3.80398C78.7492 3.82515 79.1132 3.91784 79.4338 4.08204C79.7544 4.24623 80.0476 4.4998 80.3135 4.84273L79.0258 6.03549C78.8869 5.86939 78.7287 5.74768 78.5512 5.67036C78.3736 5.59304 78.166 5.5482 77.9283 5.53585C77.4077 5.50878 76.9691 5.65054 76.6125 5.96111C76.2559 6.27169 76.0593 6.77783 76.0228 7.47955ZM87.3754 7.84467L87.5648 6.24081L90.553 6.5937C91.1496 6.66414 91.629 6.56669 91.9913 6.30135C92.3661 6.02608 92.5861 5.6127 92.6513 5.06119C92.7097 4.56597 92.5957 4.13026 92.3092 3.75406C92.0227 3.37786 91.5811 3.15454 90.9846 3.08409L87.9795 2.72921L88.1789 1.04094L91.2684 1.40579C92.0112 1.49352 92.6461 1.72255 93.173 2.0929C93.7012 2.45199 94.0866 2.90834 94.3294 3.46197C94.5847 4.00566 94.6738 4.60391 94.5967 5.25671C94.5157 5.94327 94.2877 6.52118 93.9127 6.99045C93.549 7.46104 93.0692 7.8038 92.4732 8.01872C91.8772 8.23364 91.2078 8.29724 90.4649 8.20952L87.3754 7.84467ZM85.4495 12.7013L86.8451 0.883442L88.7866 1.11272L87.3911 12.9306L85.4495 12.7013ZM91.9325 13.4669L88.4023 7.84611L90.2865 7.40101L94.3805 13.756L91.9325 13.4669ZM99.3029 14.7709C98.5213 14.6349 97.8444 14.3274 97.272 13.8483C96.7016 13.3579 96.2819 12.7616 96.0129 12.0591C95.7551 11.3586 95.6942 10.6175 95.8301 9.8359C95.966 9.0543 96.2726 8.38289 96.7498 7.82168C97.2381 7.26242 97.8326 6.85389 98.5331 6.59609C99.2356 6.32713 99.9776 6.26061 100.759 6.39653C101.552 6.53439 102.235 6.84289 102.807 7.32203C103.379 7.80118 103.794 8.39101 104.052 9.09154C104.323 9.78284 104.391 10.5193 104.255 11.3009C104.119 12.0825 103.806 12.7585 103.315 13.3289C102.836 13.9013 102.245 14.322 101.543 14.5909C100.842 14.8487 100.096 14.9087 99.3029 14.7709ZM99.6117 12.9955C100.069 13.0751 100.489 13.0445 100.87 12.9037C101.264 12.7537 101.588 12.511 101.842 12.1755C102.107 11.842 102.28 11.4407 102.362 10.9718C102.444 10.5028 102.415 10.0722 102.276 9.67996C102.137 9.2877 101.912 8.96099 101.601 8.69981C101.292 8.42747 100.908 8.25149 100.45 8.17188C100.004 8.09422 99.5834 8.13039 99.1892 8.28041C98.8081 8.4212 98.486 8.65277 98.2229 8.97513C97.971 9.29942 97.8042 9.69605 97.7227 10.165C97.6411 10.634 97.6632 11.0692 97.789 11.4707C97.9259 11.8741 98.1489 12.212 98.4582 12.4843C98.7806 12.7474 99.165 12.9178 99.6117 12.9955ZM109.009 16.7402C108.236 16.5591 107.578 16.2127 107.035 15.7011C106.494 15.1785 106.109 14.5587 105.882 13.8418C105.665 13.1274 105.647 12.3841 105.828 11.6117C106.01 10.8393 106.355 10.1869 106.864 9.65437C107.384 9.12444 108.001 8.75117 108.715 8.53454C109.432 8.30688 110.177 8.28361 110.949 8.46475C111.733 8.64847 112.396 8.99613 112.94 9.50775C113.483 10.0194 113.863 10.6323 114.08 11.3467C114.31 12.0525 114.335 12.7917 114.154 13.5641C113.972 14.3364 113.621 14.9931 113.098 15.5341C112.586 16.0776 111.972 16.4632 111.255 16.6909C110.541 16.9075 109.792 16.924 109.009 16.7402ZM109.42 14.9858C109.872 15.0919 110.293 15.0858 110.681 14.9674C111.084 14.8405 111.421 14.617 111.694 14.2969C111.978 13.9794 112.175 13.5889 112.283 13.1255C112.392 12.662 112.388 12.2305 112.273 11.8308C112.157 11.4312 111.951 11.0919 111.656 10.8131C111.363 10.5232 110.99 10.3252 110.538 10.2191C110.096 10.1156 109.675 10.1273 109.272 10.2542C108.884 10.3726 108.549 10.585 108.267 10.8915C107.997 11.2006 107.807 11.5869 107.699 12.0503C107.59 12.5137 107.587 12.9495 107.689 13.3576C107.802 13.7683 108.005 14.1186 108.298 14.4084C108.605 14.6899 108.979 14.8823 109.42 14.9858ZM115.036 18.0737L117.597 10.3258L119.372 10.9125L116.812 18.6605L115.036 18.0737ZM120.186 19.7753L121.711 15.1588C121.882 14.6423 121.852 14.1908 121.622 13.8043C121.395 13.4071 121.045 13.1302 120.571 12.9738C120.248 12.8671 119.936 12.8357 119.636 12.8794C119.345 12.9268 119.084 13.0493 118.852 13.247C118.623 13.434 118.451 13.6996 118.338 14.044L117.772 13.4272C117.967 12.8354 118.265 12.3669 118.666 12.0218C119.066 11.6767 119.526 11.4587 120.046 11.3678C120.569 11.266 121.104 11.3059 121.653 11.4872C122.202 11.6686 122.658 11.9505 123.021 12.3331C123.384 12.7156 123.623 13.1648 123.739 13.6806C123.855 14.1963 123.814 14.7555 123.615 15.3582L121.961 20.362L120.186 19.7753ZM125.335 21.4768L126.86 16.8604C127.031 16.3438 127.001 15.8924 126.771 15.5059C126.544 15.1087 126.194 14.8318 125.72 14.6753C125.408 14.5722 125.102 14.5425 124.801 14.5863C124.5 14.6301 124.233 14.7509 124.001 14.9486C123.772 15.1356 123.6 15.4012 123.487 15.7456L122.614 15.0275C122.863 14.4534 123.204 13.9991 123.637 13.6647C124.07 13.3303 124.551 13.1194 125.082 13.032C125.626 12.9374 126.173 12.9808 126.722 13.1621C127.281 13.347 127.748 13.6325 128.122 14.0186C128.495 14.4047 128.746 14.8575 128.872 15.3768C128.999 15.8961 128.963 16.4571 128.764 17.0597L127.11 22.0636L125.335 21.4768Z" fill="#5BBFE1"/>
                                    </svg>
                                    span お部屋にであう
                            .p-service-list-section__body
                                each service in serviceList1
                                    .p-service-list-item(class="p-service-list-item--"+service.slug )
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt=service.title+"ロゴ画像")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | #{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target="_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-external")
                        section.p-service-list-section#s2
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    <svg width="109" height="19" viewBox="0 0 109 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.90093 18.2464L0.00165263 6.705L1.89774 6.22869L4.79702 17.7701L2.90093 18.2464ZM4.20346 17.9192L3.76857 16.188L9.80308 14.6721L10.238 16.4033L4.20346 17.9192ZM12.073 15.9876L10.4161 7.99756L12.2472 7.61787L13.904 15.6079L12.073 15.9876ZM11.0279 6.34288C10.7172 6.40731 10.4345 6.35596 10.18 6.18884C9.9365 6.01941 9.78254 5.77934 9.71811 5.46861C9.65368 5.15789 9.69948 4.87639 9.85551 4.62412C10.0226 4.36955 10.2616 4.21005 10.5723 4.14562C10.8941 4.07889 11.1767 4.13023 11.4202 4.29966C11.6637 4.46909 11.8176 4.70916 11.8821 5.01989C11.9465 5.33061 11.9007 5.61211 11.7447 5.86438C11.5887 6.11664 11.3497 6.27615 11.0279 6.34288ZM19.0128 14.6937L13.9856 7.26586L16.0307 6.9212L19.9349 13.004L18.7279 13.2074L20.4395 6.17819L22.4009 5.84765L20.0857 14.5129L19.0128 14.6937ZM28.7064 13.4707C27.8961 13.5669 27.1432 13.4738 26.4477 13.1912C25.7621 12.896 25.1898 12.4504 24.731 11.8544C24.2834 11.257 24.0121 10.5588 23.9172 9.75974C23.8223 8.96069 23.9231 8.22399 24.2196 7.54963C24.5148 6.86402 24.9554 6.29809 25.5415 5.85183C26.1389 5.40424 26.8259 5.13432 27.6024 5.04207C28.3564 4.95249 29.0412 5.04805 29.6566 5.32875C30.2832 5.60811 30.7958 6.03227 31.1944 6.60122C31.6042 7.16884 31.8553 7.84092 31.9475 8.61746C31.9636 8.75251 31.969 8.89452 31.9639 9.0435C31.9687 9.17989 31.9642 9.3345 31.9505 9.50732L25.2993 10.2975L25.1188 8.77814L30.8078 8.10231L30.1879 8.79226C30.1065 8.29975 29.9614 7.89471 29.7525 7.57714C29.5435 7.25956 29.2708 7.02946 28.9343 6.88683C28.6091 6.74286 28.2214 6.69761 27.7712 6.75109C27.2985 6.80724 26.8998 6.95733 26.575 7.20135C26.2501 7.44537 26.0141 7.76444 25.8669 8.15856C25.7184 8.54142 25.6742 8.98607 25.7344 9.49251C25.7945 9.99895 25.9486 10.4315 26.1967 10.79C26.4447 11.1486 26.7671 11.4128 27.1639 11.5825C27.5593 11.7409 27.999 11.7914 28.483 11.7339C28.8994 11.6845 29.2733 11.5658 29.6048 11.3781C29.9476 11.189 30.226 10.9391 30.4402 10.6283L31.7643 11.6865C31.4252 12.1947 30.9883 12.6004 30.4537 12.9036C29.9191 13.2068 29.3366 13.3958 28.7064 13.4707ZM38.0282 12.3856L37.5122 4.24196L39.3785 4.12372L39.8945 12.2674L38.0282 12.3856ZM38.3508 2.68984C38.0341 2.7099 37.7615 2.61929 37.533 2.418C37.3158 2.216 37.1971 1.95665 37.177 1.63995C37.157 1.32325 37.2419 1.051 37.4319 0.823201C37.6332 0.594682 37.8922 0.470391 38.2089 0.450325C38.5369 0.429543 38.8095 0.520154 39.0267 0.722157C39.2439 0.92416 39.3626 1.18351 39.3826 1.50021C39.4027 1.81691 39.3177 2.08916 39.1278 2.31696C38.9378 2.54476 38.6788 2.66905 38.3508 2.68984ZM47.9183 11.9724L47.7716 7.26569C47.7547 6.72195 47.5652 6.27997 47.2031 5.93975C46.8523 5.59918 46.405 5.43736 45.8613 5.4543C45.4988 5.4656 45.1784 5.55495 44.9002 5.72236C44.6219 5.88978 44.4079 6.11755 44.2581 6.40569C44.1084 6.69383 44.0391 7.01914 44.0504 7.38163L43.3071 6.99659C43.2877 6.37356 43.4065 5.81993 43.6635 5.33569C43.9202 4.84012 44.2822 4.44899 44.7495 4.1623C45.2278 3.86393 45.7671 3.70539 46.3675 3.68668C46.9792 3.66762 47.5279 3.80927 48.0135 4.11163C48.4988 4.40265 48.8852 4.79314 49.1726 5.2831C49.4596 5.76173 49.6114 6.26724 49.628 6.79965L49.7874 11.9142L47.9183 11.9724ZM42.328 12.1466L42.0739 3.99054L43.943 3.93231L44.1971 12.0883L42.328 12.1466ZM57.5164 7.47635L57.5737 5.77731L60.5471 5.87758C60.9548 5.89133 61.3143 5.82408 61.6255 5.67581C61.9483 5.51661 62.2054 5.29281 62.3965 5.00442C62.5881 4.70471 62.6907 4.35096 62.7045 3.9432C62.7182 3.53543 62.6395 3.18124 62.4682 2.88063C62.2972 2.56869 62.0559 2.32808 61.7441 2.15881C61.444 1.9786 61.09 1.88161 60.6823 1.86786L57.709 1.76759L57.7663 0.0685584L60.8415 0.172264C61.5891 0.197475 62.2522 0.372924 62.8309 0.698613C63.4209 1.02468 63.8765 1.47096 64.1976 2.03744C64.53 2.60429 64.6836 3.26151 64.6584 4.00909C64.6332 4.75666 64.4356 5.40204 64.0658 5.94521C63.7072 6.48877 63.2227 6.90334 62.612 7.18892C62.0127 7.47489 61.3393 7.60526 60.5917 7.58005L57.5164 7.47635ZM56.0229 11.9165L56.424 0.0232946L58.3779 0.089185L57.9768 11.9824L56.0229 11.9165ZM69.7075 12.7772C68.8942 12.711 68.1747 12.4706 67.5489 12.0558C66.9354 11.6306 66.4628 11.0805 66.1311 10.4053C65.8108 9.73113 65.6832 8.99302 65.7485 8.19101C65.8137 7.38899 66.0585 6.68686 66.4827 6.08462C66.9079 5.47108 67.4519 5.00367 68.1148 4.68237C68.789 4.362 69.5158 4.23352 70.2953 4.29695C71.0521 4.35853 71.7043 4.58785 72.2519 4.98491C72.8108 5.38288 73.2292 5.90019 73.5072 6.53683C73.7964 7.17439 73.9093 7.88288 73.8459 8.6623C73.8349 8.79785 73.8121 8.93814 73.7776 9.08314C73.7552 9.21778 73.7202 9.36844 73.6726 9.53512L66.9966 8.99188L67.1207 7.46692L72.8308 7.93157L72.0865 8.48502C72.1043 7.98616 72.0423 7.56039 71.9005 7.20773C71.7586 6.85506 71.5369 6.57549 71.2353 6.36902C70.945 6.16346 70.574 6.0423 70.1221 6.00553C69.6477 5.96693 69.2271 6.03504 68.8604 6.20987C68.4937 6.38471 68.1991 6.65069 67.9768 7.00784C67.7553 7.35368 67.6239 7.78076 67.5825 8.28908C67.5412 8.7974 67.6065 9.25187 67.7786 9.65248C67.9507 10.0531 68.2144 10.3759 68.5697 10.6208C68.9259 10.8545 69.3469 10.9911 69.8326 11.0306C70.2506 11.0646 70.6406 11.0224 71.0027 10.9041C71.3761 10.7867 71.6986 10.5969 71.9701 10.3347L73.0583 11.6342C72.6252 12.0652 72.1167 12.3763 71.5326 12.5675C70.9485 12.7588 70.3401 12.8287 69.7075 12.7772ZM78.6919 13.7294C77.9615 13.6333 77.3229 13.3608 76.7761 12.9117C76.2406 12.464 75.84 11.9027 75.5744 11.2276C75.3215 10.5428 75.2468 9.80713 75.3502 9.02057C75.4551 8.22277 75.7175 7.5314 76.1373 6.94648C76.5699 6.35179 77.1027 5.90745 77.7357 5.61347C78.3815 5.30973 79.0696 5.20587 79.8 5.3019C80.418 5.38316 80.9452 5.58965 81.3817 5.92138C81.8309 6.24336 82.1657 6.65316 82.386 7.1508C82.6063 7.64843 82.6781 8.1894 82.6013 8.77371L82.2955 11.0997C82.2186 11.684 82.0095 12.188 81.668 12.6118C81.3377 13.037 80.9133 13.3527 80.3947 13.5589C79.8775 13.7538 79.3099 13.8106 78.6919 13.7294ZM79.2258 12.0163C79.9112 12.1065 80.4921 11.9485 80.9684 11.5425C81.456 11.1379 81.747 10.5761 81.8416 9.85692C81.9051 9.37374 81.8657 8.93419 81.7235 8.53827C81.5812 8.14235 81.3492 7.82035 81.0275 7.57229C80.7184 7.31448 80.3336 7.15528 79.8729 7.09471C79.4234 7.03561 79.0105 7.08991 78.6341 7.25761C78.2704 7.41554 77.963 7.66662 77.712 8.01083C77.4722 8.35653 77.3206 8.77096 77.257 9.25414C77.1935 9.73731 77.2329 10.1769 77.3752 10.5728C77.5287 10.9702 77.7599 11.2978 78.069 11.5556C78.3907 11.8037 78.7763 11.9573 79.2258 12.0163ZM81.1917 13.8866L81.4776 11.7123L82.0571 9.78238L81.994 7.7851L82.2555 5.79622L84.1095 6.03999L83.0458 14.1304L81.1917 13.8866ZM89.0937 15.3501C88.3025 15.2035 87.6178 14.8865 87.0396 14.3991C86.4725 13.9137 86.0639 13.3193 85.8138 12.616C85.5637 11.9127 85.5109 11.171 85.6554 10.391C85.8019 9.59975 86.1169 8.92618 86.6002 8.37024C87.0856 7.80316 87.68 7.39457 88.3833 7.14447C89.0977 6.89644 89.8506 6.8457 90.6418 6.99224C91.2658 7.10783 91.8226 7.33774 92.3121 7.68198C92.8148 8.01713 93.2143 8.44268 93.5106 8.95861L92.0811 9.95594C91.8987 9.634 91.6527 9.3752 91.3431 9.17956C91.0468 8.97483 90.7036 8.83635 90.3136 8.76411C89.8567 8.67948 89.4303 8.71001 89.0345 8.85569C88.6519 8.9923 88.3273 9.22032 88.0606 9.53977C87.8052 9.86128 87.633 10.2616 87.5443 10.7408C87.4576 11.2089 87.4749 11.6443 87.5962 12.0471C87.7308 12.4409 87.9512 12.7756 88.2574 13.0513C88.5769 13.318 88.965 13.4936 89.4219 13.5782C89.812 13.6505 90.1809 13.6497 90.5289 13.5758C90.89 13.4928 91.2134 13.3337 91.499 13.0985L92.4766 14.5416C92.0151 14.9172 91.4887 15.177 90.8972 15.321C90.3189 15.456 89.7178 15.4657 89.0937 15.3501ZM97.3785 17.1536C96.5855 16.9612 95.9124 16.6113 95.3591 16.1039C94.8195 15.5881 94.4386 14.9709 94.2164 14.2523C94.0052 13.5363 93.9945 12.7873 94.1842 12.0053C94.3739 11.2234 94.7253 10.5681 95.2384 10.0395C95.7542 9.49985 96.3645 9.12313 97.0695 8.9093C97.7855 8.69814 98.5234 8.68475 99.2834 8.86912C100.021 9.04814 100.63 9.3765 101.109 9.8542C101.598 10.3346 101.931 10.9109 102.106 11.5831C102.292 12.258 102.293 12.9755 102.109 13.7354C102.077 13.8676 102.032 14.0026 101.975 14.1404C101.932 14.2699 101.874 14.4132 101.801 14.5704L95.292 12.9913L95.6527 11.5044L101.22 12.8551L100.399 13.2855C100.494 12.7956 100.499 12.3654 100.414 11.9949C100.329 11.6244 100.154 11.3136 99.8883 11.0626C99.6337 10.8142 99.2861 10.6366 98.8455 10.5297C98.383 10.4175 97.9569 10.4191 97.5674 10.5345C97.1778 10.6499 96.8454 10.8666 96.57 11.1847C96.2972 11.4917 96.1007 11.893 95.9805 12.3886C95.8603 12.8843 95.8538 13.3434 95.9612 13.7659C96.0687 14.1885 96.2787 14.5485 96.5914 14.8459C96.9067 15.1324 97.3012 15.333 97.7748 15.4479C98.1823 15.5468 98.5742 15.566 98.9503 15.5057C99.3375 15.448 99.6857 15.3109 99.9948 15.0943L100.867 16.5479C100.372 16.9059 99.8207 17.1338 99.2139 17.2315C98.6071 17.3292 97.9953 17.3032 97.3785 17.1536ZM104.378 14.6933L106.469 6.66122L108.345 7.21172L105.764 15.1002L104.378 14.6933ZM103.904 18.8419C103.556 18.7398 103.302 18.541 103.14 18.2457C102.993 17.9426 102.969 17.6225 103.068 17.2854C103.17 16.9374 103.363 16.6811 103.648 16.5166C103.943 16.3552 104.265 16.3256 104.613 16.4277C104.961 16.5298 105.21 16.727 105.361 17.0192C105.522 17.3146 105.552 17.6363 105.449 17.9843C105.351 18.3214 105.152 18.5761 104.853 18.7483C104.569 18.9128 104.252 18.944 103.904 18.8419Z" fill="#EF92AE"/>
                                    </svg>
                                    span 安心して暮らす
                            .p-service-list-section__body
                                each service in serviceList2
                                    .p-service-list-item(class="p-service-list-item--"+service.slug )
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt=service.title+"ロゴ画像")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | !{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target=service.url_internal ? false : "_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        if (service.url_internal)
                                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                                use(href="#ico-arrow-right")
                                                        else
                                                            svg(width=42 height=42 aria-hidden="true")
                                                                use(href="#ico-external")
                        section.p-service-list-section#s3
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    <svg width="102" height="21" viewBox="0 0 102 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.55309 17.0789L0.00168465 5.45564L1.91122 5.03648L4.46263 16.6598L2.55309 17.0789ZM3.86486 16.791L3.48215 15.0475L9.99118 13.6187L10.3739 15.3622L3.86486 16.791ZM2.74588 11.6933L2.37775 10.0163L8.32222 8.7114L8.69036 10.3885L2.74588 11.6933ZM1.69616 6.91119L1.31345 5.1677L7.73946 3.75714L8.12217 5.50063L1.69616 6.91119ZM17.9646 14.0978L17.229 9.44664C17.1441 8.90932 16.9006 8.49458 16.4987 8.20244C16.108 7.90853 15.644 7.80406 15.1067 7.88903C14.7485 7.94568 14.4418 8.07449 14.1867 8.27546C13.9317 8.47644 13.7479 8.72925 13.6354 9.03389C13.523 9.33853 13.4951 9.66995 13.5517 10.0282L12.766 9.73936C12.6686 9.12368 12.7171 8.55951 12.9114 8.04687C13.1039 7.52303 13.414 7.08961 13.8417 6.74659C14.2788 6.39062 14.794 6.16572 15.3873 6.07189C15.9918 5.9763 16.5539 6.04805 17.0736 6.28713C17.5916 6.51503 18.0238 6.854 18.3704 7.30406C18.7151 7.74293 18.9291 8.22542 19.0123 8.75155L19.8116 13.8057L17.9646 14.0978ZM12.4402 14.9715L11.1656 6.91162L13.0127 6.61953L14.2873 14.6794L12.4402 14.9715ZM21.6466 17.1357C21.0727 17.2051 20.5949 17.1715 20.2131 17.0351C19.82 16.8999 19.4505 16.6764 19.1046 16.3643L20.1579 15.0211C20.3147 15.1848 20.4822 15.2958 20.6605 15.3542C20.8402 15.4238 21.0538 15.4436 21.3013 15.4137C21.6051 15.3769 21.8523 15.25 22.043 15.0329C22.2462 14.8256 22.3261 14.542 22.2825 14.182L21.2171 5.37216L23.0736 5.14764L24.137 13.9406C24.2118 14.5594 24.1394 15.0933 23.9197 15.5422C23.7126 16.0011 23.4082 16.3633 23.0065 16.6287C22.6062 16.9055 22.1529 17.0745 21.6466 17.1357ZM21.9995 3.77064C21.6844 3.80874 21.4071 3.73383 21.1675 3.5459C20.9391 3.35662 20.8059 3.10446 20.7678 2.78942C20.7297 2.47438 20.7989 2.19773 20.9756 1.95946C21.1635 1.71983 21.415 1.58097 21.73 1.54287C22.0563 1.50341 22.3337 1.57832 22.562 1.7676C22.7904 1.95689 22.9237 2.20905 22.9618 2.52408C22.9999 2.83912 22.9306 3.11578 22.7539 3.35404C22.5772 3.59231 22.3258 3.73118 21.9995 3.77064ZM30.1969 12.8418C29.4065 12.91 28.6734 12.7855 27.9977 12.4684C27.321 12.14 26.7629 11.6706 26.3235 11.0601C25.8953 10.4486 25.6472 9.74769 25.579 8.95729C25.5108 8.16689 25.6358 7.43946 25.9538 6.775C26.2832 6.10957 26.7536 5.56279 27.3651 5.13465C27.9756 4.69523 28.676 4.44143 29.4664 4.37325C30.2681 4.30409 31.0068 4.42807 31.6826 4.74517C32.3583 5.06227 32.9103 5.52655 33.3384 6.13802C33.7769 6.73722 34.0302 7.43202 34.0984 8.22242C34.1665 9.01282 34.0364 9.74638 33.708 10.4231C33.3909 11.0989 32.9271 11.6564 32.3167 12.0959C31.7052 12.524 30.9986 12.7726 30.1969 12.8418ZM30.0421 11.0465C30.505 11.0065 30.9027 10.8698 31.2352 10.6364C31.578 10.3907 31.8294 10.0733 31.9892 9.68409C32.1603 9.29394 32.2254 8.86175 32.1845 8.38751C32.1436 7.91327 32.0059 7.50426 31.7715 7.16046C31.5371 6.81667 31.2361 6.55825 30.8685 6.3852C30.5 6.20085 30.0842 6.12865 29.6213 6.16858C29.1696 6.20754 28.7724 6.34987 28.4296 6.59558C28.0971 6.82902 27.8448 7.13516 27.6727 7.51402C27.5119 7.8919 27.452 8.31796 27.4929 8.7922C27.5338 9.26644 27.6663 9.68159 27.8904 10.0376C28.1258 10.3927 28.4277 10.6624 28.7963 10.8468C29.1751 11.0189 29.5904 11.0854 30.0421 11.0465ZM38.7124 12.2043L34.9287 4.09205L36.9843 4.01694L39.5837 9.978L38.9891 9.99973L41.2824 3.8599L43.3551 3.78417L39.8676 12.1621L38.7124 12.2043ZM36.4041 15.6059L38.7448 10.2978L39.8676 12.1621L38.4767 15.5301L36.4041 15.6059ZM49.2059 11.898L49.4843 0.00124354L51.4387 0.0469657L51.1604 11.9437L49.2059 11.898ZM50.5486 11.9294L50.5903 10.1449L56.8106 10.2904L56.7689 12.0749L50.5486 11.9294ZM58.6499 12.1537L59.1094 4.0066L60.9765 4.1119L60.517 12.259L58.6499 12.1537ZM60.1272 2.56562C59.8103 2.54775 59.5505 2.42526 59.3476 2.19814C59.1561 1.97167 59.0692 1.70001 59.0871 1.38318C59.105 1.06635 59.2218 0.806184 59.4376 0.602679C59.6647 0.399813 59.9367 0.307315 60.2535 0.325184C60.5817 0.343692 60.8415 0.466185 61.0331 0.692664C61.2246 0.919143 61.3115 1.1908 61.2936 1.50763C61.2757 1.82446 61.1589 2.08462 60.9431 2.28813C60.7273 2.49163 60.4553 2.58413 60.1272 2.56562ZM65.6909 12.6773L62.7137 4.21669L64.7793 4.40244L67.0116 11.277L65.7925 11.1674L69.2324 4.80286L71.2134 4.981L66.7745 12.7748L65.6909 12.6773ZM71.9302 13.2746L72.9384 5.17707L74.794 5.4081L73.7859 13.5056L71.9302 13.2746ZM74.051 3.80805C73.7361 3.76884 73.4851 3.62909 73.298 3.38881C73.1222 3.14992 73.0539 2.87302 73.0931 2.55812C73.1323 2.24322 73.2664 1.99153 73.4955 1.80305C73.7358 1.61597 74.0134 1.54203 74.3283 1.58124C74.6544 1.62184 74.9054 1.76159 75.0812 2.00048C75.2571 2.23936 75.3254 2.51626 75.2862 2.83116C75.247 3.14606 75.1128 3.39776 74.8838 3.58623C74.6548 3.77471 74.3772 3.84865 74.051 3.80805ZM81.719 14.7456L82.4769 10.098C82.5644 9.5611 82.4631 9.091 82.1729 8.6877C81.8939 8.28623 81.4859 8.04172 80.949 7.95416C80.5911 7.8958 80.2595 7.92211 79.9543 8.03311C79.6492 8.14411 79.3955 8.32666 79.1933 8.58076C78.9911 8.83487 78.8608 9.14089 78.8024 9.49883L78.1466 8.9785C78.2469 8.36329 78.4696 7.84268 78.8147 7.41666C79.1616 6.97945 79.5918 6.66493 80.1054 6.47308C80.632 6.27187 81.1917 6.21961 81.7845 6.31628C82.3885 6.41477 82.8999 6.65892 83.3186 7.04873C83.7392 7.42735 84.0435 7.88463 84.2317 8.42057C84.4218 8.94533 84.4739 9.47057 84.3882 9.99629L83.5646 15.0466L81.719 14.7456ZM76.1989 13.8455L77.5122 5.79186L79.3578 6.09282L78.0446 14.1464L76.1989 13.8455ZM88.3002 19.6937C87.4597 19.5054 86.7589 19.1858 86.1979 18.7349C85.6345 18.2951 85.2211 17.7553 84.9579 17.1156L86.4199 16.1888C86.6514 16.6588 86.9495 17.0392 87.3141 17.3299C87.6787 17.6206 88.1485 17.8304 88.7236 17.9593C89.4424 18.1203 90.0541 18.0599 90.5586 17.778C91.0606 17.5072 91.3835 17.0511 91.5272 16.4097L91.9657 14.4522L92.6748 12.7644L92.7573 10.9188L93.2367 8.77881L95.0615 9.18761L93.3519 16.8185C93.181 17.5816 92.8554 18.2055 92.3751 18.6902C91.8924 19.186 91.2999 19.5236 90.5977 19.7031C89.8955 19.8826 89.1296 19.8795 88.3002 19.6937ZM89.0348 16.0255C88.3271 15.867 87.724 15.5518 87.2258 15.0802C86.741 14.5999 86.4009 14.0185 86.2054 13.3359C86.0209 12.6558 86.0129 11.9398 86.1814 11.1877C86.3499 10.4357 86.6614 9.79702 87.1159 9.27167C87.5815 8.7488 88.1347 8.37913 88.7755 8.16265C89.4298 7.93759 90.1109 7.90434 90.8187 8.0629C91.4491 8.20412 91.9735 8.45518 92.3921 8.81608C92.8107 9.17698 93.1019 9.61387 93.2657 10.1268C93.432 10.6286 93.4483 11.1781 93.3145 11.7753L92.876 13.7328C92.7447 14.3189 92.49 14.8077 92.1119 15.1992C91.7449 15.5932 91.2951 15.8641 90.7626 16.0119C90.2301 16.1597 89.6542 16.1643 89.0348 16.0255ZM89.7863 14.3821C90.2287 14.4812 90.6368 14.4739 91.0107 14.3602C91.3846 14.2465 91.6972 14.0436 91.9485 13.7515C92.2133 13.4508 92.3965 13.0737 92.498 12.6203C92.5996 12.1668 92.5936 11.7532 92.4799 11.3793C92.3797 10.9968 92.1848 10.6744 91.8952 10.4121C91.6055 10.1497 91.2395 9.969 90.7972 9.8699C90.3548 9.7708 89.9411 9.77685 89.5562 9.88805C89.1823 10.0017 88.8629 10.2089 88.5981 10.5096C88.3358 10.7993 88.1538 11.1708 88.0522 11.6243C87.9531 12.0666 87.9592 12.4803 88.0704 12.8653C88.1816 13.2502 88.382 13.5739 88.6717 13.8362C88.9724 14.101 89.3439 14.283 89.7863 14.3821ZM97.056 14.0279L98.9965 5.95797L100.882 6.47323L98.45 14.4087L97.056 14.0279ZM96.6605 18.1846C96.3107 18.089 96.0523 17.8951 95.8855 17.6027C95.7325 17.3025 95.7024 16.9829 95.795 16.644C95.8905 16.2941 96.079 16.0343 96.3604 15.8645C96.6527 15.6976 96.9738 15.662 97.3236 15.7575C97.6735 15.8531 97.9264 16.0456 98.0823 16.3349C98.2492 16.6272 98.2848 16.9483 98.1892 17.2981C98.0966 17.6371 97.9027 17.8954 97.6074 18.0732C97.326 18.243 97.0104 18.2802 96.6605 18.1846Z" fill="#7EBEAF"/>
                                    </svg>
                                    span 暮らしを楽しむ
                            .p-service-list-section__body
                                each service in serviceList3
                                    .p-service-list-item(class="p-service-list-item--"+service.slug )
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt=service.title+"ロゴ画像")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | #{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target="_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-external")
                        section.p-service-list-section#s4
                            .p-service-list-section__head
                                .p-service-list-section__title
                                    <svg width="185" height="38" viewBox="0 0 185 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.0624 34.0507C10.3423 34.6559 9.62132 35.0399 8.89935 35.2025C8.17739 35.3652 7.4054 35.3626 6.58337 35.1948L6.74529 33.3266C7.30315 33.4795 7.8431 33.5143 8.36515 33.4308C8.8799 33.3387 9.40623 33.0665 9.94413 32.6144C10.4473 32.1915 10.7589 31.752 10.8789 31.2958C11.0075 30.8324 10.9187 30.4185 10.6125 30.0541C10.3573 29.7504 10.0713 29.5688 9.75476 29.5092C9.43817 29.4495 9.09869 29.4684 8.73632 29.5657C8.37534 29.647 7.99858 29.7712 7.60604 29.9383C7.21488 30.0894 6.81209 30.2355 6.39767 30.3765C5.98463 30.5016 5.56776 30.5781 5.14706 30.606C4.73503 30.6266 4.32333 30.5507 3.91194 30.3783C3.50056 30.2059 3.09798 29.8854 2.70421 29.4169C2.25211 28.879 1.99942 28.3142 1.94614 27.7223C1.89424 27.1146 2.01001 26.5213 2.29344 25.9426C2.57687 25.3638 2.99621 24.8411 3.55147 24.3744C4.15011 23.8713 4.78212 23.54 5.4475 23.3804C6.12156 23.2136 6.75921 23.1885 7.36045 23.3049L7.19854 25.1732C6.69033 25.0969 6.23474 25.1097 5.83176 25.2116C5.43017 25.2974 5.04718 25.4935 4.68279 25.7997C4.23165 26.1789 3.9525 26.569 3.84536 26.9699C3.74689 27.3636 3.8362 27.7253 4.1133 28.055C4.34664 28.3326 4.61432 28.4925 4.91632 28.5348C5.21104 28.5684 5.53524 28.5402 5.88893 28.4502C6.244 28.3442 6.61712 28.2157 7.00828 28.0645C7.40811 27.9061 7.81455 27.7644 8.22759 27.6393C8.6493 27.5069 9.07346 27.4391 9.50007 27.4359C9.92806 27.4167 10.355 27.5019 10.781 27.6917C11.207 27.8814 11.6241 28.2192 12.0325 28.7051C12.7179 29.5206 12.9706 30.4113 12.7903 31.377C12.6188 32.3355 12.0428 33.2267 11.0624 34.0507ZM18.6301 28.6092C18.0362 28.963 17.4272 29.1477 16.8033 29.1633C16.189 29.1731 15.6142 29.0275 15.0786 28.7265C14.5471 28.41 14.1014 27.9499 13.7418 27.3463L11.3141 23.2717L12.9205 22.3145L15.3047 26.3161C15.5078 26.6569 15.7353 26.917 15.9875 27.0966C16.2435 27.2607 16.5164 27.3422 16.806 27.3411C17.1053 27.3343 17.4059 27.2409 17.7077 27.0611C18.175 26.7827 18.4492 26.4346 18.5302 26.017C18.6151 25.5838 18.5038 25.1092 18.1964 24.5932L15.8122 20.5916L17.4186 19.6345L19.8463 23.709C20.2118 24.3224 20.4023 24.9411 20.4179 25.5651C20.4374 26.1735 20.2967 26.7455 19.9957 27.281C19.6889 27.8068 19.2337 28.2495 18.6301 28.6092ZM27.4537 24.0548C26.8859 24.3119 26.3263 24.4223 25.7748 24.3858C25.2186 24.3391 24.7157 24.1625 24.2659 23.8561C23.8265 23.545 23.4852 23.121 23.2421 22.5842L22.2743 20.4471C22.0312 19.9102 21.9429 19.3717 22.0093 18.8315C22.0757 18.2914 22.2772 17.802 22.6136 17.3636C22.9453 16.9148 23.3899 16.5641 23.9474 16.3117C24.6185 16.0078 25.302 15.9098 25.9978 16.0177C26.6992 16.1106 27.3381 16.3812 27.9143 16.8294C28.4961 17.2627 28.953 17.8458 29.2849 18.5788C29.6122 19.3015 29.749 20.0296 29.6954 20.763C29.6475 21.4814 29.4271 22.1348 29.0342 22.7233C28.6516 23.3071 28.1248 23.7509 27.4537 24.0548ZM24.8062 28.7994L20.0376 18.2688L21.7411 17.4974L22.6457 19.4951L23.1719 21.4402L24.2796 23.1034L26.5096 28.028L24.8062 28.7994ZM26.4457 22.5704C26.8586 22.3834 27.1779 22.1269 27.4035 21.8008C27.6347 21.4597 27.7609 21.0791 27.7822 20.6589C27.8137 20.2341 27.729 19.7997 27.528 19.3557C27.3269 18.9118 27.0564 18.5616 26.7163 18.305C26.3865 18.0438 26.0195 17.8927 25.6153 17.8518C25.2167 17.7959 24.811 17.8615 24.398 18.0485C23.985 18.2355 23.6629 18.4995 23.4317 18.8406C23.1958 19.1714 23.0673 19.5468 23.046 19.967C23.0248 20.3872 23.1147 20.8192 23.3157 21.2632C23.5167 21.7071 23.7821 22.0597 24.1119 22.3209C24.4417 22.5821 24.811 22.7384 25.2199 22.7896C25.6241 22.8305 26.0327 22.7575 26.4457 22.5704ZM36.7552 20.3835C36.1663 20.5878 35.5989 20.6466 35.0531 20.56C34.5035 20.4627 34.0188 20.241 33.5988 19.8948C33.1896 19.5449 32.8884 19.0915 32.6953 18.5348L31.9266 16.3183C31.7335 15.7615 31.6947 15.2171 31.8101 14.6853C31.9255 14.1534 32.1708 13.6845 32.5458 13.2786C32.9171 12.8619 33.3919 12.5533 33.9701 12.3528C34.6661 12.1114 35.3556 12.0762 36.0387 12.2471C36.7287 12.4037 37.3402 12.7314 37.8731 13.2303C38.413 13.7148 38.8148 14.3372 39.0784 15.0975C39.3384 15.847 39.4082 16.5845 39.288 17.3099C39.1747 18.021 38.8956 18.6516 38.4506 19.2018C38.0164 19.7482 37.4512 20.1421 36.7552 20.3835ZM33.6858 24.8668L29.898 13.945L31.6647 13.3322L32.3833 15.4042L32.7299 17.3892L33.6812 19.1465L35.4526 24.254L33.6858 24.8668ZM35.8868 18.8134C36.3151 18.6648 36.6565 18.4385 36.9109 18.1344C37.1722 17.8158 37.3327 17.4483 37.3921 17.0318C37.4623 16.6116 37.4176 16.1713 37.2579 15.7108C37.0982 15.2504 36.8607 14.8769 36.5455 14.5904C36.2409 14.3002 35.8892 14.1163 35.4904 14.0387C35.0986 13.9466 34.6886 13.9749 34.2603 14.1234C33.832 14.272 33.4871 14.5055 33.2257 14.8241C32.9607 15.132 32.7984 15.4941 32.7389 15.9106C32.6794 16.3271 32.7295 16.7655 32.8892 17.226C33.0489 17.6864 33.281 18.0617 33.5856 18.352C33.8902 18.6422 34.2437 18.8314 34.6462 18.9198C35.045 18.9974 35.4585 18.9619 35.8868 18.8134ZM45.7307 17.6601C44.9634 17.8614 44.2198 17.8632 43.5 17.6655C42.7774 17.4567 42.1477 17.0888 41.611 16.5618C41.0853 16.0319 40.7218 15.3833 40.5204 14.6159C40.319 13.8486 40.3187 13.1105 40.5193 12.4017C40.7309 11.69 41.1017 11.0713 41.6316 10.5455C42.1586 10.0089 42.8058 9.63983 43.5732 9.43846C44.3515 9.23421 45.1005 9.23097 45.8203 9.42875C46.5401 9.62652 47.1628 9.99037 47.6886 10.5203C48.2224 11.0363 48.59 11.6781 48.7913 12.4454C48.9927 13.2128 48.989 13.9578 48.7803 14.6804C48.5825 15.4002 48.2201 16.0284 47.6931 16.5651C47.1632 17.0908 46.509 17.4558 45.7307 17.6601ZM45.2733 15.9171C45.7228 15.7991 46.0915 15.5969 46.3796 15.3104C46.6757 15.0101 46.8695 14.6546 46.9609 14.2439C47.0633 13.8304 47.0541 13.3934 46.9332 12.933C46.8124 12.4726 46.6073 12.0929 46.3179 11.7939C46.0286 11.4949 45.6881 11.2913 45.2965 11.1832C44.902 11.0641 44.48 11.0635 44.0306 11.1814C43.5921 11.2965 43.2248 11.5042 42.9287 11.8045C42.6406 12.091 42.444 12.4356 42.3387 12.8382C42.2444 13.2378 42.2576 13.6679 42.3785 14.1283C42.4993 14.5887 42.7004 14.9753 42.9816 15.2882C43.2739 15.5982 43.6173 15.8127 44.0117 15.9318C44.4143 16.0371 44.8348 16.0322 45.2733 15.9171ZM51.5098 16.0223L49.8427 8.03438L51.6733 7.65233L53.3404 15.6402L51.5098 16.0223ZM52.4131 11.1969L51.7147 11.0127C51.504 10.0032 51.5557 9.14142 51.8698 8.42753C52.1927 7.70022 52.809 7.24163 53.7187 7.05176C54.1181 6.96841 54.4937 6.96527 54.8456 7.04234C55.1974 7.11942 55.5456 7.28988 55.8901 7.55373L54.9489 9.03527C54.7723 8.91005 54.5882 8.83268 54.3968 8.80316C54.2054 8.77364 53.9932 8.7832 53.7603 8.83182C53.2499 8.93833 52.8619 9.18719 52.5962 9.57838C52.3306 9.96958 52.2695 10.5091 52.4131 11.1969ZM59.7162 14.4035L57.8135 3.00121L59.658 2.69341L61.5607 14.0957L59.7162 14.4035ZM56.7246 8.35343L56.4447 6.67662L62.1459 5.72526L62.4257 7.40207L56.7246 8.35343ZM69.6223 7.91326L69.4588 6.30657L72.4523 6.0018C73.0499 5.94097 73.4967 5.74169 73.7926 5.40397C74.0987 5.05384 74.2237 4.60253 74.1674 4.05005C74.1169 3.55395 73.911 3.15342 73.5496 2.84845C73.1881 2.54349 72.7086 2.42143 72.1111 2.48227L69.1006 2.78875L68.9284 1.09749L72.0234 0.782398C72.7676 0.706638 73.437 0.792273 74.0318 1.03931C74.6254 1.27506 75.1008 1.63677 75.458 2.12443C75.8254 2.59967 76.0424 3.16426 76.1089 3.81821C76.179 4.50599 76.0819 5.11964 75.8179 5.65916C75.5651 6.19753 75.1712 6.63635 74.6362 6.97562C74.1011 7.31489 73.4615 7.52241 72.7173 7.59817L69.6223 7.91326ZM68.7976 13.0723L67.5924 1.23352L69.5373 1.03551L70.7426 12.8743L68.7976 13.0723ZM75.2921 12.4111L70.625 7.69156L72.3675 6.84774L77.7444 12.1615L75.2921 12.4111ZM82.6509 12.064C81.8361 12.1079 81.0908 11.9664 80.4149 11.6396C79.7497 11.3008 79.2074 10.8193 78.7879 10.1949C78.3797 9.56993 78.154 8.85569 78.1108 8.05219C78.0676 7.24869 78.2156 6.52001 78.555 5.86616C78.8937 5.201 79.3699 4.66464 79.9836 4.25707C80.6085 3.8489 81.3115 3.6238 82.0923 3.58178C82.8506 3.54098 83.5277 3.68046 84.1237 4.00023C84.7311 4.31938 85.2153 4.77569 85.5764 5.36914C85.9488 5.96199 86.156 6.64885 86.198 7.42972C86.2053 7.56552 86.2016 7.70759 86.1869 7.85593C86.1829 7.99234 86.1685 8.14634 86.1437 8.31792L79.4554 8.67784L79.3731 7.15005L85.0939 6.8422L84.4308 7.49077C84.3813 6.99404 84.2626 6.58049 84.0746 6.25012C83.8865 5.91974 83.6292 5.67255 83.3026 5.50853C82.9873 5.3439 82.6033 5.27377 82.1506 5.29813C81.6753 5.3237 81.2677 5.44779 80.9279 5.67037C80.588 5.89295 80.3319 6.19615 80.1596 6.57997C79.9867 6.95246 79.914 7.39334 79.9414 7.9026C79.9688 8.41187 80.0947 8.85341 80.3191 9.22722C80.5435 9.60104 80.8483 9.88541 81.2333 10.0803C81.6177 10.2639 82.0532 10.3426 82.5399 10.3165C82.9586 10.2939 83.3394 10.1997 83.6823 10.0337C84.0365 9.86705 84.3305 9.63559 84.5643 9.33927L85.8174 10.4806C85.4463 10.9659 84.9842 11.3426 84.4311 11.6107C83.8781 11.8788 83.2847 12.0299 82.6509 12.064ZM93.687 11.6027L93.6486 6.89385C93.6442 6.34987 93.4649 5.90365 93.1107 5.55519C92.7679 5.20663 92.3245 5.03457 91.7805 5.03899C91.4178 5.04195 91.0955 5.12391 90.8135 5.28487C90.5314 5.44584 90.3122 5.66863 90.1559 5.95325C89.9995 6.23786 89.9228 6.5615 89.9258 6.92415L89.1915 6.52212C89.1864 5.8988 89.3179 5.34805 89.586 4.86985C89.8541 4.38032 90.225 3.99762 90.6987 3.72176C91.1837 3.43447 91.7266 3.28838 92.3272 3.28349C92.9392 3.27851 93.4845 3.43274 93.963 3.74619C94.4415 4.0483 94.8188 4.44758 95.0948 4.94402C95.3708 5.42912 95.5109 5.938 95.5153 6.47065L95.5569 11.5875L93.687 11.6027ZM88.0942 11.6482L88.0277 3.48849L89.8977 3.47327L89.9641 11.633L88.0942 11.6482ZM98.7669 11.6415L99.0795 0.0857043L100.949 0.136267L100.636 11.692L98.7669 11.6415ZM96.9873 5.13098L97.0333 3.4316L102.811 3.58788L102.765 5.28726L96.9873 5.13098ZM107.282 12.2251C106.547 12.1749 105.892 11.9427 105.318 11.5287C104.756 11.1154 104.321 10.5802 104.014 9.92302C103.719 9.25535 103.598 8.52576 103.652 7.73428C103.707 6.93148 103.926 6.22508 104.308 5.61506C104.703 4.99451 105.207 4.51776 105.82 4.1848C106.446 3.8413 107.126 3.69466 107.861 3.74487C108.483 3.78736 109.022 3.96051 109.478 4.26432C109.947 4.5576 110.306 4.94569 110.557 5.42859C110.808 5.91149 110.914 6.44692 110.874 7.03488L110.714 9.37543C110.674 9.96339 110.496 10.4795 110.182 10.9238C109.879 11.3688 109.475 11.7104 108.97 11.9486C108.466 12.1754 107.903 12.2676 107.282 12.2251ZM107.707 10.4821C108.397 10.5292 108.967 10.3353 109.417 9.90025C109.878 9.46602 110.134 8.88708 110.183 8.16344C110.216 7.67724 110.15 7.24101 109.983 6.85474C109.816 6.46848 109.564 6.16161 109.228 5.93414C108.903 5.69613 108.509 5.56129 108.046 5.52962C107.593 5.49872 107.185 5.57871 106.819 5.7696C106.466 5.94995 106.175 6.21973 105.946 6.57896C105.729 6.93896 105.603 7.36206 105.57 7.84826C105.537 8.33446 105.603 8.77069 105.77 9.15695C105.948 9.54398 106.199 9.85651 106.524 10.0945C106.861 10.322 107.255 10.4512 107.707 10.4821ZM109.786 12.2258L109.936 10.0379L110.394 8.07558L110.206 6.08615L110.343 4.08482L112.208 4.21228L111.652 12.3533L109.786 12.2258ZM113.888 12.5414L115.137 0.365236L116.997 0.555999L115.748 12.7321L113.888 12.5414ZM123.102 13.7282L123.376 12.0505L126.748 12.602C127.341 12.699 127.83 12.5894 128.215 12.2734C128.599 11.9573 128.831 11.5588 128.91 11.0779C128.963 10.7535 128.94 10.4397 128.84 10.1363C128.74 9.83286 128.564 9.57441 128.312 9.36091C128.06 9.1474 127.738 9.00864 127.347 8.94461L123.974 8.39306L124.249 6.71535L127.336 7.22025C127.839 7.30257 128.263 7.23981 128.607 7.03195C128.951 6.82409 129.164 6.46851 129.246 5.9652C129.329 5.46188 129.24 5.05691 128.98 4.75027C128.72 4.44363 128.339 4.24914 127.835 4.16682L124.748 3.66192L125.023 1.98422L128.16 2.49735C128.954 2.62723 129.59 2.88056 130.068 3.25735C130.546 3.63413 130.877 4.07284 131.059 4.57349C131.241 5.07414 131.289 5.58731 131.203 6.11299C131.103 6.72815 130.841 7.24225 130.417 7.6553C130.005 8.07018 129.445 8.36905 128.737 8.55192L128.987 7.97264C129.676 8.39537 130.182 8.9146 130.507 9.53034C130.831 10.1461 130.932 10.823 130.812 11.5612C130.713 12.1652 130.471 12.6942 130.087 13.1481C129.714 13.6038 129.211 13.9407 128.578 14.1588C127.958 14.3675 127.229 14.4032 126.39 14.266L123.102 13.7282ZM121.776 13.5114L123.697 1.76744L125.627 2.083L123.706 13.827L121.776 13.5114ZM135.347 16.1599C134.672 16.009 134.103 15.7249 133.639 15.3076C133.186 14.8928 132.868 14.392 132.686 13.8054C132.517 13.2102 132.509 12.5698 132.662 11.884L133.697 7.25533L135.522 7.66336L134.506 12.2091C134.419 12.5962 134.406 12.9416 134.466 13.2454C134.539 13.5405 134.681 13.7871 134.892 13.9853C135.115 14.186 135.397 14.3246 135.74 14.4013C136.271 14.52 136.709 14.4554 137.055 14.2076C137.414 13.9511 137.66 13.5298 137.791 12.9436L138.807 8.39783L140.632 8.80586L139.597 13.4346C139.441 14.1314 139.155 14.7118 138.737 15.176C138.334 15.6315 137.838 15.9505 137.252 16.1329C136.668 16.3042 136.033 16.3132 135.347 16.1599ZM143.361 18.155C142.924 18.0326 142.52 17.8601 142.147 17.6377C141.777 17.4043 141.451 17.1365 141.171 16.8343C140.894 16.5211 140.673 16.1766 140.508 15.8006L141.975 14.9764C142.159 15.3694 142.403 15.6967 142.706 15.9584C143.023 16.2122 143.406 16.4019 143.853 16.5275C144.257 16.6408 144.579 16.6665 144.82 16.6047C145.061 16.5428 145.214 16.3973 145.278 16.1682C145.345 15.9281 145.299 15.7151 145.14 15.529C144.98 15.3429 144.754 15.1618 144.462 14.9857C144.184 14.8018 143.884 14.6117 143.563 14.4155C143.252 14.2224 142.962 13.9996 142.691 13.7471C142.435 13.4867 142.249 13.1817 142.136 12.832C142.022 12.4822 142.031 12.0728 142.163 11.6036C142.303 11.1016 142.539 10.7028 142.869 10.407C143.21 10.1143 143.621 9.92941 144.102 9.85243C144.593 9.77851 145.139 9.82576 145.74 9.99419C146.372 10.1718 146.897 10.4426 147.313 10.8064C147.742 11.1625 148.058 11.6101 148.26 12.1494L146.793 12.9736C146.643 12.6256 146.441 12.3393 146.186 12.1148C145.931 11.8902 145.613 11.7244 145.231 11.6172C144.871 11.5161 144.577 11.4926 144.35 11.5466C144.123 11.6006 143.981 11.7312 143.923 11.9386C143.861 12.1568 143.912 12.3535 144.075 12.5286C144.237 12.7038 144.459 12.8779 144.74 13.0509C145.032 13.227 145.332 13.4171 145.64 13.6212C145.961 13.8174 146.249 14.0511 146.502 14.3223C146.77 14.5857 146.959 14.8977 147.07 15.2584C147.183 15.6081 147.173 16.0231 147.038 16.5032C146.824 17.267 146.386 17.7976 145.726 18.0949C145.066 18.3922 144.278 18.4123 143.361 18.155ZM148.036 19.3378L150.579 11.5842L152.355 12.1669L149.813 19.9206L148.036 19.3378ZM151.933 10.454C151.632 10.3551 151.412 10.1698 151.275 9.89813C151.148 9.62995 151.134 9.34509 151.233 9.04356C151.332 8.74203 151.512 8.52074 151.773 8.37971C152.044 8.2422 152.331 8.2229 152.633 8.32179C152.945 8.42421 153.164 8.60952 153.291 8.8777C153.418 9.14588 153.432 9.43074 153.333 9.73227C153.234 10.0338 153.054 10.2551 152.793 10.3961C152.532 10.5372 152.246 10.5565 151.933 10.454ZM157.154 22.7229L158.872 18.3386C159.071 17.8321 159.071 17.3512 158.872 16.8959C158.683 16.4447 158.336 16.1199 157.829 15.9214C157.492 15.7891 157.162 15.7451 156.84 15.7894C156.519 15.8338 156.232 15.9589 155.981 16.1648C155.73 16.3707 155.538 16.6425 155.406 16.9802L154.874 16.3336C155.102 15.7532 155.429 15.2911 155.856 14.9471C156.287 14.5926 156.774 14.3756 157.316 14.296C157.873 14.21 158.431 14.2766 158.991 14.4958C159.56 14.7191 160.009 15.0653 160.336 15.5344C160.668 15.993 160.869 16.5041 160.941 17.0676C161.016 17.6206 160.957 18.1451 160.762 18.641L158.895 23.4052L157.154 22.7229ZM151.947 20.6822L154.924 13.0848L156.665 13.7671L153.688 21.3645L151.947 20.6822ZM164.076 26.1287C163.35 25.7575 162.776 25.2609 162.356 24.639C161.951 24.012 161.723 23.3233 161.674 22.5727C161.635 21.8273 161.798 21.0963 162.164 20.3797C162.53 19.6631 163.024 19.1073 163.646 18.7122C164.273 18.307 164.954 18.0823 165.69 18.0379C166.435 17.9988 167.156 18.157 167.852 18.5128C168.529 18.8582 169.044 19.3188 169.399 19.8946C169.764 20.4756 169.954 21.1133 169.968 21.8079C169.992 22.5075 169.827 23.2056 169.471 23.902C169.409 24.0231 169.334 24.1441 169.247 24.265C169.175 24.381 169.086 24.5069 168.978 24.6428L163.013 21.5958L163.709 20.2333L168.811 22.8395L167.912 23.0674C168.119 22.613 168.224 22.1958 168.227 21.8157C168.23 21.4355 168.132 21.0926 167.932 20.7867C167.742 20.486 167.445 20.2326 167.041 20.0264C166.617 19.8098 166.202 19.7125 165.797 19.7343C165.391 19.7562 165.017 19.8898 164.675 20.1352C164.339 20.3705 164.055 20.7153 163.823 21.1695C163.591 21.6236 163.478 22.0687 163.484 22.5047C163.491 22.9406 163.611 23.3395 163.846 23.7014C164.087 24.0532 164.424 24.34 164.858 24.5617C165.231 24.7524 165.608 24.8621 165.988 24.8907C166.378 24.9245 166.748 24.872 167.099 24.7331L167.61 26.3493C167.045 26.5826 166.456 26.6764 165.844 26.6306C165.231 26.5847 164.642 26.4175 164.076 26.1287ZM171.08 30.1818C170.703 29.9306 170.371 29.6418 170.084 29.3151C169.804 28.9791 169.578 28.6241 169.404 28.2502C169.237 27.8669 169.133 27.4709 169.092 27.0623L170.742 26.7307C170.796 27.1613 170.927 27.5478 171.134 27.8902C171.358 28.2295 171.663 28.5278 172.05 28.7852C172.399 29.0175 172.698 29.1414 172.946 29.1569C173.194 29.1724 173.385 29.081 173.516 28.8829C173.654 28.6753 173.676 28.4584 173.582 28.2321C173.487 28.0059 173.328 27.764 173.105 27.5065C172.897 27.2458 172.671 26.9725 172.425 26.6867C172.189 26.4072 171.981 26.1056 171.802 25.782C171.638 25.4553 171.556 25.108 171.556 24.7403C171.555 24.3725 171.69 23.9857 171.96 23.58C172.249 23.146 172.596 22.8392 173.001 22.6596C173.416 22.4863 173.864 22.4372 174.345 22.5122C174.835 22.5935 175.34 22.8067 175.859 23.152C176.406 23.5161 176.822 23.9354 177.105 24.4097C177.404 24.881 177.566 25.4042 177.592 25.9794L175.942 26.311C175.907 25.9338 175.803 25.5991 175.63 25.307C175.457 25.0148 175.205 24.7589 174.875 24.5391C174.564 24.332 174.292 24.2191 174.059 24.2004C173.826 24.1818 173.65 24.2621 173.531 24.4414C173.406 24.6301 173.393 24.8328 173.494 25.0496C173.595 25.2664 173.752 25.5005 173.966 25.7517C174.189 26.0093 174.416 26.2825 174.646 26.5715C174.891 26.8573 175.093 27.1683 175.25 27.5045C175.423 27.8375 175.507 28.1926 175.501 28.5698C175.501 28.9376 175.363 29.3291 175.087 29.7442C174.648 30.4047 174.068 30.7746 173.348 30.8539C172.629 30.9331 171.873 30.7091 171.08 30.1818ZM176.973 34.7051C176.633 34.4051 176.343 34.0738 176.104 33.7113C175.872 33.3403 175.696 32.9578 175.575 32.5638C175.462 32.1614 175.412 31.755 175.427 31.3446L177.107 31.2402C177.102 31.6741 177.179 32.0748 177.338 32.4423C177.513 32.8087 177.775 33.1458 178.123 33.4533C178.438 33.7309 178.717 33.8942 178.961 33.9433C179.205 33.9924 179.405 33.9277 179.563 33.7493C179.728 33.5624 179.779 33.3504 179.716 33.1135C179.653 32.8765 179.529 32.6153 179.342 32.3298C179.172 32.0433 178.985 31.7418 178.78 31.4253C178.584 31.1163 178.42 30.7893 178.286 30.4443C178.168 30.0983 178.134 29.7431 178.183 29.3787C178.233 29.0143 178.419 28.6495 178.742 28.2842C179.087 27.8934 179.472 27.6366 179.898 27.5138C180.333 27.3984 180.783 27.4106 181.249 27.5502C181.724 27.6974 182.195 27.9772 182.663 28.3898C183.155 28.8249 183.51 29.2967 183.726 29.8051C183.958 30.3126 184.048 30.853 183.995 31.4264L182.316 31.5308C182.332 31.1523 182.275 30.8067 182.143 30.4937C182.011 30.1807 181.796 29.8929 181.499 29.6304C181.219 29.3828 180.965 29.234 180.737 29.1839C180.509 29.1339 180.323 29.1895 180.181 29.351C180.031 29.5209 179.991 29.7201 180.062 29.9485C180.132 30.177 180.256 30.4303 180.434 30.7083C180.62 30.9938 180.808 31.2953 180.996 31.6128C181.2 31.9293 181.358 32.2648 181.468 32.6192C181.594 32.9727 181.629 33.3359 181.572 33.7088C181.522 34.0732 181.332 34.4423 181.002 34.8161C180.477 35.4108 179.853 35.6985 179.129 35.6792C178.405 35.66 177.686 35.3353 176.973 34.7051Z" fill="#EBBA5F"/>
                                    </svg>
                                    span 賃貸ビジネスを支える
                            .p-service-list-section__body
                                each service in serviceList4
                                    .p-service-list-item
                                        figure.p-service-list-item__pic
                                            img(src=img+"p-service-logo-"+ service.slug + ".webp" alt="")
                                        .p-service-list-item__wrap
                                            h3.p-service-list-item__title
                                                | #{service.title}
                                            ul.p-service-list-item__category
                                                each category in service.category
                                                    li #{category}
                                            p.p-service-list-item__desc
                                                | #{service.desc}
                                            .p-service-list-item__more
                                                a(href=service.url target="_blank").c-btn-more.c-btn-more--sm
                                                    if (service.url_text != "")
                                                        span.c-btn-more__txt #{service.url_text}
                                                    else
                                                        span.c-btn-more__txt ウェブサイトを見る
                                                    i.c-btn-more__ico
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-circle")
                                                        svg(width=42 height=42 aria-hidden="true")
                                                            use(href="#ico-external")

        - var cta = "service"
        include ../template/_cm-section-cta















