section.p-media-program.js-content-media(data-content="program")
    .p-media-program-block
        .c-heading-section.c-heading-section--sm.c-heading-section--center
            h2.c-heading-section__title
                | ラジオ番組
            p.c-heading-section__en
                | Radio
        .p-media-program-block__list
            .p-media-program-block-item
                figure.p-media-program-block-item__pic
                    img(src=img+"p-media-program-block-item-pic1.webp" alt="きゃりーぱみゅぱみゅ Chapter#0")
                .p-media-program-block-item__content
                    .p-media-program-block-item__head
                        .p-media-program-block-item__meta
                            p.c-heading-label.c-heading-label--sm(style="background: #5BBFE1;")
                                | TOKYO FM
                            p.p-media-program-block-item__caption
                                | CHINTAI presents
                        h3.p-media-program-block-item__title
                            span きゃりーぱみゅぱみゅ
                            span Chapter#0
                        p.p-media-program-block-item__sub
                            | ～Touch Your Heart～
                    .p-media-program-block-item__desc
                        p.c-paragraph
                            | 「日曜日は“気づき”がいっぱい、明日がもっと楽しくなる」をコンセプトに、きゃりーぱみゅぱみゅならではの視点・感性から生み出される新たな気づきや発見をリスナーと共有し未来のchapterを創り出す、そんな新たな一歩を踏み出すきっかけを見つけていく番組です。今日より明日がもっと楽しくなる、そんな心動く瞬間を、日曜日のお昼にお届けします。
                    .p-media-program-block-item__info
                        dl
                            dt 放送日
                            dd
                                | 毎週日曜日　12：30～12：55
                        dl
                            dt パーソナリティー
                            dd
                                | きゃりーぱみゅぱみゅ
                    ul.p-media-program-block-item__more
                        li
                            a(href="https://www.tfm.co.jp/heart/" target="_blank").c-link-external
                                span 番組公式サイトを見る
                                svg(width=13 height=13 aria-hidden="true")
                                    use(href="#ico-external-sm")
                        li
                            a(href="https://radiko.jp/r_seasons/10016019" target="_blank").c-link-external
                                span 最新回を見る
                                svg(width=13 height=13 aria-hidden="true")
                                    use(href="#ico-external-sm")
                        li
                            a(href="https://audee.jp/station" target="_blank").c-link-external
                                span 各エリアの放送局一覧
                                svg(width=13 height=13 aria-hidden="true")
                                    use(href="#ico-external-sm")

            .p-media-program-block-item
                figure.p-media-program-block-item__pic
                    img(src=img+"p-media-program-block-item-pic2.webp" alt="STEP ONE")
                .p-media-program-block-item__content
                    .p-media-program-block-item__head
                        .p-media-program-block-item__meta
                            p.c-heading-label.c-heading-label--sm(style="background: #EF92AE;")
                                | J-WAVE
                        h3.p-media-program-block-item__title
                            span STEP ONE
                        p.p-media-program-block-item__sub
                            small 番組コーナー
                            | 「CHINTAI GLOBAL BEATS」
                    .p-media-program-block-item__desc
                        p.c-paragraph
                            | 「グローバル視点の最新ニューストピックス」と「新鮮な届いたばかりの楽曲をオンエア」する10分間のダブルコンテンツプログラム！新しい視点、多様な価値観を持つ、 2人のグローバルナビゲーターが読み解いた、世界で今、最も知っておくべきニュースと、初解禁から未発表音源まで、届いたばかりの新鮮な音楽をセットにしてランチタイムにお届けするコーナーです。
                    .p-media-program-block-item__info
                        dl
                            dt 放送日
                            dd
                                | 毎週月曜日～木曜日　12：05～12：15
                        dl
                            dt パーソナリティー
                            dd
                                | サッシャ／ノイハウス 萌菜
                    ul.p-media-program-block-item__more
                        li
                            a(href="https://www.j-wave.co.jp/original/stepone/" target="_blank").c-link-external
                                span 番組公式サイトを見る
                                svg(width=13 height=13 aria-hidden="true")
                                    use(href="#ico-external-sm")
            .p-media-program-block-item
                figure.p-media-program-block-item__pic
                    img(src=img+"p-media-program-block-item-pic3.webp" alt="トラフィックインフォメーション")
                .p-media-program-block-item__content
                    .p-media-program-block-item__head
                        .p-media-program-block-item__meta
                            p.c-heading-label.c-heading-label--sm(style="background: #7EBEAF;")
                                | FM802
                        h3.p-media-program-block-item__title
                            | トラフィックインフォメーション
                    .p-media-program-block-item__desc
                        p.c-paragraph
                            | 関西NO.1ラジオステーションFM802にて、毎週土曜日の最新交通情報をお届けしています。
                    .p-media-program-block-item__info
                        dl
                            dt 放送日
                            dd
                                | 毎週土曜日　7：18／7：55／9：57／10：55／12：16／15：45／16：45／17：54／18：55
            .p-media-program-block-item
                figure.p-media-program-block-item__pic
                    img(src=img+"p-media-program-block-item-pic4.webp" alt="サステナブルースカイ")
                .p-media-program-block-item__content
                    .p-media-program-block-item__head
                        .p-media-program-block-item__meta
                            p.c-heading-label.c-heading-label--sm(style="background: #EBBA5F;")
                                | TOKYO FM (音声コンテンツAudee)
                            p.p-media-program-block-item__caption
                                | CHINTAI presents
                        h3.p-media-program-block-item__title
                            | サステナブルースカイ
                    .p-media-program-block-item__desc
                        p.c-paragraph
                            | “サステナブルマインドによる住みやすい社会づくり”をテーマに、「これからもずっと澄み切った青い空を見られますように」という願いを未来へ繋ぐため、暮らしの中のサステナブルを学び、探し、新たな気づきをシェアする番組です。
                            br
                            | ひとりひとりが暮らしの中で環境のためにできることを自分事として考えられる話題を、パーソナリティの3人が楽しくお届けします。
                    .p-media-program-block-item__info
                        dl
                            dt 放送日
                            dd
                                | 毎月第1・第3日曜日　13:00
                        dl
                            dt パーソナリティー
                            dd
                                | 浜崎美保／安納蒼衣／金澤亜美
                    ul.p-media-program-block-item__more
                        li
                            a(href="https://www.tfm.co.jp/podcast/heart/" target="_blank").c-link-external
                                span Tokyofm ポッドキャスト
                                svg(width=13 height=13 aria-hidden="true")
                                    use(href="#ico-external-sm")
                        li
                            a(href="https://radiko.jp/podcast/channels/a8c71d26-d02b-498a-b45d-1e6194cfa3b1" target="_blank").c-link-external
                                span radiko
                                svg(width=13 height=13 aria-hidden="true")
                                    use(href="#ico-external-sm")




    .p-media-program-block
        .c-heading-section.c-heading-section--sm.c-heading-section--center
            h2.c-heading-section__title
                | テレビ
            p.c-heading-section__en
                | TV
        .p-media-program-block__list
            .p-media-program-block-item
                figure.p-media-program-block-item__pic
                    img(src=img + "p-media-program-block-item-pic5.webp" alt="J:COM埼玉")
                .p-media-program-block-item__content
                    .p-media-program-block-item__head
                        .p-media-program-block-item__meta
                            p.c-heading-label.c-heading-label--sm(style="background: #5BBFE1;")
                                | J:COM埼玉
                        h3.p-media-program-block-item__title
                            | 地域に超密着！街ドキ埼玉
                    .p-media-program-block-item__desc
                        p.c-paragraph
                            | 誰もが一度は考える「この街に住んだら、暮らしはどうなるのかな？」「ここに住んでみたら？」をフックに『埼玉の街に隠された魅力・新たな発見・驚き』を発信し、視聴者の方々に番組を通して“埼玉での暮らしを感じてもらう”情報番組です。
                    .p-media-program-block-item__info
                        dl
                            dt 放送日
                            dd
                                | 毎週土曜日　17：45～18：00（その他リピート放送複数回あり）
                        dl
                            dt パーソナリティー
                            dd
                                | Hi-Hi／高見奈央
                    ul.p-media-program-block-item__more
                        li
                            a(href="https://c.myjcom.jp/jch/east_04/regular/machidoki-saitama.html" target="_blank").c-link-external
                                span 番組公式サイトを見る
                                svg(width=13 height=13 aria-hidden="true")
                                    use(href="#ico-external-sm")

