section.p-media-chintiger
    picture.p-media-chintiger__bg
        source(srcset=img + "bg-ellipse-sp.webp" media="(max-width: 1023px)")
        img(src=img + "bg-ellipse.webp")
    h2.p-media-chintiger__title
        <svg width="400" height="67" viewBox="0 0 400 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <title>チンタイガー</title>
        <path d="M118.055 18.0645L117.437 19.7875C117.371 19.9186 112.193 33.3567 97.3593 45.9332C82.5259 58.491 68.5915 61.2536 68.4417 61.2723L66.625 61.6188L68.2357 62.5271C79.9975 69.0729 95.6081 66.9472 107.089 57.2456C118.542 47.5439 123.177 32.4764 118.682 19.8063L118.045 18.0738" fill="#1D2088"/>
        <path d="M187.45 23.1019L154.394 8.38086L154.113 8.91464C152.137 12.2952 149.674 15.4792 146.762 18.3447C138.886 26.0891 131.151 28.2617 131.02 28.2804L129.25 28.7674L130.926 29.554C138.043 32.8035 146.968 30.9025 153.195 24.75C154.412 23.542 155.471 22.156 156.379 20.6858C157.25 21.0698 176.438 29.4323 177.796 30.0222C175.913 33.047 173.769 36.0343 171.446 38.853C169.199 38.8249 166.98 38.4409 164.901 37.6449C157.671 34.9292 154.712 28.7768 154.712 28.7768L153.719 26.6791L153.41 28.8985C153.176 30.2938 153.083 31.6985 153.092 33.0282C153.12 40.1827 156.135 45.8857 161.155 47.768C161.604 47.9553 162.138 47.9927 162.634 48.0864C150.498 59.0616 139.579 62.7231 139.457 62.7418L137.725 63.2943L139.429 63.9967C151.21 68.8662 166.146 64.905 176.644 54.1733C185.09 45.4924 189.164 34.049 187.525 23.4671L187.46 23.1112" fill="#1D2088"/>
        <path d="M43.0392 39.0124C42.2619 33.4405 39.4151 27.9248 34.9108 23.3081C41.8499 18.9911 46.2231 11.6587 46.195 4.27947C46.195 3.98917 46.195 3.71759 46.1763 3.40856L46.0733 1.63867L44.9683 3.02462C44.9027 3.11826 38.9282 10.6661 26.8105 15.6292C14.7116 20.6767 5.1411 19.5904 5.1411 19.5904L3.14647 19.3563L4.46687 20.7142C10.4695 26.9416 20.4146 28.8988 29.4513 25.8272C29.5356 26.8667 29.6199 27.9623 29.6199 29.264C29.6293 32.2232 29.2921 35.8659 28.2995 39.7803C12.0989 39.49 1.81671 35.6131 1.70434 35.5944L0 34.9108L0.870898 36.5308C4.53241 43.189 13.6628 47.9743 24.7691 49.2104C19.4407 59.5956 11.6026 64.4839 11.509 64.5494L9.71098 65.6357L11.7805 65.7856C25.846 66.9374 37.9917 60.4571 41.9904 49.688C41.9904 49.688 42.3088 48.6391 42.4961 48.0585C50.9428 45.9047 57.4137 41.6345 60.3354 36.2874L61.2157 34.6579L59.5113 35.3509C59.5113 35.3509 53.2371 37.7389 43.0205 38.9843" fill="#1D2088"/>
        <path d="M81.5491 35.0138C87.3364 34.9763 92.0561 30.2472 92.0373 24.46C92.0186 18.654 87.2521 13.953 81.4648 13.9717C75.6495 13.9905 70.9579 18.7383 70.9766 24.5255C71.0047 30.3409 75.7431 35.0325 81.5491 35.0138Z" fill="#1D2088"/>
        <path d="M250.218 5.31892C250.228 4.37311 250.162 3.43665 250.097 2.4721L249.862 0.589844L248.86 2.17245C248.776 2.25673 241.874 12.5015 227.116 19.347C212.358 26.155 200.296 24.6941 200.156 24.6941L198.273 24.4787L199.594 25.8085C207.02 33.6372 218.491 36.5496 228.97 33.4218C228.989 33.8432 229.008 34.2927 229.008 34.7047C229.026 38.8813 228.333 42.9549 226.938 46.8505C222.584 58.9026 213.219 64.1842 213.116 64.2498L211.253 65.2986L213.36 65.4952C226.62 66.9561 237.838 61.4966 241.266 51.9635C241.978 50.0157 242.324 47.9555 242.315 45.8485C242.296 40.6231 240.058 35.173 235.919 30.3128C244.862 24.9563 250.246 15.4513 250.2 5.30955" fill="#1D2088"/>
        <path d="M344.545 17.8298C344.517 14.3743 341.727 11.6025 338.271 11.6212C334.862 11.6306 332.062 14.4212 332.062 17.8954C332.091 21.3041 334.919 24.0854 338.337 24.076C341.773 24.0573 344.564 21.2573 344.545 17.8298Z" fill="#1D2088"/>
        <path d="M308.441 18.1016C307.954 18.1203 306.933 18.3825 304.873 18.9725C302.017 19.7497 297.775 20.9484 294.338 21.3136C293.346 13.0728 289.928 5.94647 284.571 1.23612L283.166 0L283.466 1.84481C283.503 1.89163 283.831 4.33577 283.878 8.5498C283.887 11.8274 283.653 16.2006 282.885 21.2481C271.611 20.0588 264.625 15.826 264.625 15.826L262.93 14.8053L263.595 16.5846C266.226 24.2354 272.5 30.2567 280.338 32.9443C280.114 33.6373 279.72 35.0701 279.72 35.0701C273.821 53.8366 267.884 60.1389 267.818 60.1951L266.011 62.0867L268.511 61.3188C279.823 57.7603 287.727 50.6058 292.681 39.3965C293.383 37.7577 293.683 36.0346 293.945 34.3771C293.945 34.3771 293.992 34.1992 294.01 34.04C299.002 33.1785 303.562 30.9778 307.355 27.6815C307.355 27.8407 307.355 27.9531 307.355 28.131C307.374 32.4106 306.802 38.3196 304.433 44.8747C299.629 58.1817 290.864 64.4372 290.864 64.4372L289.244 65.6171L291.107 65.7669C302.86 66.591 313.264 60.1014 317.028 49.66C320.737 39.3216 319.163 28.337 313.011 21.6788C312.103 20.6206 309.818 18.1203 308.432 18.111" fill="#1D2088"/>
        <path d="M398.339 33.9091C398.339 33.9091 390.567 39.8555 379.142 39.1251C376.248 38.9285 373.383 38.3291 370.648 37.374L367.202 35.8663C365.788 35.192 364.318 34.5084 362.82 34.0402L360.628 33.5064C358.652 33.1131 356.77 33.0382 354.991 33.3191C351.535 33.7967 346.497 35.782 342.311 42.3559C340.139 45.6896 338.641 48.7706 337.816 51.4863L337.18 53.5465L338.847 52.2167C338.94 52.1511 346.638 46.289 358.044 47.0007C360.853 47.1786 363.653 47.7498 366.341 48.6582L369.918 50.2689C371.313 50.9712 372.755 51.7016 374.235 52.1511C376.969 52.9752 379.61 53.2187 382.045 52.8441C387.027 52.0856 391.597 48.8829 394.884 43.9104C396.054 42.1498 398.171 38.5913 399.36 34.6489L399.997 32.6074L398.33 33.9278" fill="#1D2088"/>
        <path d="M323.363 12.043C319.955 12.0617 317.155 14.8617 317.164 18.2704C317.183 21.7259 320.002 24.5072 323.41 24.4978C326.884 24.4697 329.647 21.6791 329.638 18.2236C329.628 14.8149 326.8 12.0336 323.363 12.043Z" fill="#1D2088"/>
        </svg>
    .p-media-chintiger-profile
        figure.p-media-chintiger-profile__pic
            .p-media-chintiger-profile__picMain
                img(src=img+"p-media-chintiger-profile-chintiger1.svg")
            .p-media-chintiger-profile__picFukidashi
                <svg class="" width="177" height="68" viewBox="0 0 177 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M170.216 1H6.78445C3.58671 1 1 3.78564 1 7.22931V42.4118C1 45.8554 3.58671 48.6411 6.78445 48.6411H124.205L140.397 66.0788C141.538 67.3071 143.391 67.3071 144.532 66.0788C145.672 64.8504 145.672 62.8544 144.532 61.6261L132.474 48.6411H170.216C173.413 48.6411 176 45.8554 176 42.4118V7.22931C176 3.78564 173.413 1 170.216 1Z" fill="white" stroke="#0B2188" stroke-width="2" stroke-linejoin="round"/>
                <path d="M60.7664 15.3041C60.6104 15.9801 60.4284 16.8121 60.2984 17.4621C60.1424 18.2421 59.9344 19.2041 59.7524 20.1401C60.6364 20.0881 61.3904 20.0361 61.9364 20.0361C64.6924 20.0361 66.6424 21.2581 66.6424 25.0021C66.6424 28.0701 66.2784 32.2821 65.1604 34.5441C64.3024 36.3641 62.8724 36.9361 60.8964 36.9361C59.9084 36.9361 58.6604 36.7541 57.7764 36.5721L57.2304 33.1401C58.2184 33.4261 59.7264 33.6861 60.4024 33.6861C61.2864 33.6861 61.9364 33.4261 62.3524 32.5681C63.0544 31.0861 63.4184 27.9401 63.4184 25.3661C63.4184 23.2861 62.5084 23.0001 60.8964 23.0001C60.4804 23.0001 59.8304 23.0521 59.0764 23.1041C58.0884 27.0561 56.1644 33.2181 53.7724 37.0401L50.3924 35.6881C52.9144 32.2821 54.7084 27.0301 55.6704 23.4681C54.7344 23.5721 53.9024 23.6761 53.4344 23.7281C52.6804 23.8581 51.3284 24.0401 50.5224 24.1701L50.2104 20.6341C51.1724 20.7121 52.0304 20.6601 52.9924 20.6341C53.7984 20.6081 55.0204 20.5301 56.3464 20.4001C56.7104 18.4501 56.9444 16.5521 56.8924 14.9141L60.7664 15.3041ZM72.3364 13.1461C73.0124 14.1341 73.9744 15.7721 74.4164 16.6821L72.3624 17.5661C71.8164 16.5001 70.9844 14.9661 70.2564 13.9781L72.3364 13.1461ZM69.2424 14.3161C69.8924 15.2781 70.8284 16.9161 71.3224 17.8781L70.0484 18.4241C71.6084 20.8421 73.5584 25.1841 74.2864 27.4981L70.9844 29.0061C70.3084 26.1201 68.4624 21.5441 66.6164 19.2561L68.9564 18.2421C68.4364 17.2541 67.7864 16.0061 67.1884 15.1741L69.2424 14.3161ZM88.132 18.0861C88.002 18.4761 87.924 18.8661 87.82 19.3341C87.742 19.6721 87.69 20.0361 87.612 20.4521C90.108 20.3221 92.578 20.0361 94.866 19.5161L94.892 22.1681C92.864 22.5061 89.952 22.7921 87.274 22.9481C87.196 23.5201 87.144 24.1181 87.118 24.6901C88.106 24.4821 89.146 24.3521 90.16 24.3521C90.29 24.3521 90.394 24.3521 90.524 24.3521C90.602 23.9101 90.706 23.4161 90.732 23.1561L93.436 23.8061C93.358 24.0141 93.228 24.4041 93.098 24.7941C95.75 25.6521 97.336 27.6801 97.336 30.2281C97.336 33.1661 95.438 36.1561 90.16 37.0921L88.6 34.6221C92.76 34.1541 94.372 32.1001 94.372 29.9681C94.372 28.7201 93.67 27.6541 92.292 27.0821C91.148 29.9681 89.614 32.0741 87.82 33.5561C87.95 34.1281 88.106 34.6481 88.288 35.1681L85.584 35.9481C85.506 35.6881 85.428 35.4281 85.324 35.1161C84.284 35.6101 83.166 35.9221 82.204 35.9221C80.488 35.9221 79.084 35.1681 79.084 32.7761C79.084 29.8381 81.45 27.0821 84.336 25.6521C84.362 24.7421 84.44 23.8581 84.518 23.0521C84.284 23.0521 84.076 23.0521 83.868 23.0521C82.75 23.0521 81.06 22.9481 80.072 22.8701L79.994 20.2441C80.722 20.3481 82.802 20.5301 83.868 20.5301C84.18 20.5301 84.492 20.5301 84.804 20.5301C84.856 20.1141 84.882 19.7241 84.934 19.3601C84.96 18.9701 84.986 18.3981 84.986 18.0341L88.132 18.0861ZM81.762 32.2561C81.762 32.8541 82.074 33.2441 82.75 33.2441C83.296 33.2441 83.998 33.0101 84.752 32.5941C84.518 31.2941 84.362 29.8641 84.31 28.4081C82.854 29.4221 81.762 30.9301 81.762 32.2561ZM87.014 27.1341C87.014 28.4081 87.092 29.5521 87.222 30.5661C88.184 29.5521 89.094 28.3041 89.77 26.6921C88.73 26.7181 87.794 26.9001 87.014 27.1341ZM113.423 26.9001C112.305 25.7301 111.369 25.0281 109.549 25.0281C107.885 25.0281 106.403 26.3021 105.415 28.1481L102.555 26.5881C104.297 23.3641 106.845 21.8041 109.627 21.8041C112.097 21.8041 113.995 22.7401 115.763 24.6641C116.881 25.8601 117.843 26.5361 119.637 26.5361C121.301 26.5361 122.783 25.2621 123.771 23.4161L126.631 24.9761C124.889 28.2001 122.341 29.7601 119.559 29.7601C117.089 29.7601 115.191 28.8241 113.423 26.9001Z" fill="#0B2188"/>
                </svg>
            .p-media-chintiger-profile__picMessage
                <svg width="74" height="18" viewBox="0 0 74 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.8641 0.000229554C50.7163 0.00023016 63.0033 5.40023 73.725 15.7307L72.238 17.6872C61.9859 7.51327 49.7772 2.50458 36.8641 2.50458C23.9511 2.50458 11.7424 7.51327 1.49022 17.6872L0.00325933 15.7307C10.725 5.40023 23.012 0.000228949 36.8641 0.000229554Z" fill="#0B2188"/>
                </svg>
                p
                    span お部屋探しの
                    span ことならぼくに聞いて
                    span ほしいのです♪
                <svg width="74" height="18" viewBox="0 0 74 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.8624 17.6873C23.0103 17.6873 10.7233 12.2873 0.00156659 1.95684L1.48852 0.000311515C11.7407 10.1742 23.9494 15.1829 36.8624 15.1829C49.7755 15.1829 61.9842 10.1742 72.2363 0.000312358L73.7233 1.95684C63.0016 12.2873 50.7146 17.6873 36.8624 17.6873Z" fill="#0B2188"/>
                </svg>
        .p-media-chintiger-profile__data
            dl.p-media-chintiger-profile__dataList
                dt
                    span 分類
                dd ネコ科
            dl.p-media-chintiger-profile__dataList
                dt
                    span 性別
                dd オス
            dl.p-media-chintiger-profile__dataList
                dt
                    span 誕生日
                dd 4月17日
            dl.p-media-chintiger-profile__dataList
                dt
                    span チャームポイント
                dd かぎしっぽ
            dl.p-media-chintiger-profile__dataList
                dt
                    span 出身地
                dd フィリピンのジャングル
            figure.p-media-chintiger-profile__dataPic
                img(src=img + "p-media-chintiger-profile-chintiger2.svg")
        .p-media-chintiger-profile__blocks
            .p-media-chintiger-profile__block1
                h3.c-heading-label(style="background: #7EBEAF;") 生い立ち
                p.c-paragraph
                    | 2007年5月、フィリピンのジャングルで発見された大変希少な青いトラ。その珍しさから「珍タイガー」と名付けられる。毛色が青い故か、母親から育児放棄にあい、瀕死のところを原住民に助けられ、その後、人の手によって、すくすくと育つ。一年後、森に戻すか否か迷っていたところ「珍タイガー」の存在を偶然知ったCHINTAIからキャラクター契約のオファーが入り、以降「珍タイガー」あらため「チンタイガー」となる。
            .p-media-chintiger-profile__block2
                h3.c-heading-label(style="background: #5BBFE1;") 性格
                .p-media-chintiger-profile__block2Wrap
                    figure.p-media-chintiger-profile__block2Pic
                        img(src=img + "p-media-chintiger-profile-chintiger3.svg")
                        figcaption マイペース
                        figcaption(style="display: none;") 寂しがり屋
                        figcaption(style="display: none;") 気分屋
                    .p-media-chintiger-profile__block2Text
                        p
                            span マイペースでのほほんとした性格
                        p(style="display: none;")
                            span ジャングルで育児放棄をされた経験
                            span から、人一倍なつっこくて寂しがり屋
                        p(style="display: none;")
                            span 頑張る時と頑張らない時の落差が激しい

            .p-media-chintiger-profile__block3
                h3.c-heading-label(style="background: #EF92AE;") 特徴
                p.c-paragraph
                    | 「チンタイ」と言われると興奮するのか、思わず「がぁ～」と唸ってしまうのが癖。虎らしからぬマヌケ顔がコンプレックスであるが、何かのきっかけで無意識に野性の血が騒ぎ出し、突如として怖い表情に変貌する時もある。
    .p-media-chintiger-detail
        .p-media-chintiger-detail-block
            .p-media-chintiger-detail-block__head
                <svg width="11" height="81" viewBox="0 0 11 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="4" height="80" rx="2" fill="white" stroke="#0B2188"/>
                <rect x="0.5" y="4.5" width="4" height="10" rx="2" transform="rotate(-90 0.5 4.5)" fill="white" stroke="#0B2188"/>
                <rect x="0.5" y="80.5" width="4" height="10" rx="2" transform="rotate(-90 0.5 80.5)" fill="white" stroke="#0B2188"/>
                </svg>
                h3.p-media-chintiger-detail-block__title
                    span 所属部署は
                    span 「みんなを応援したい課～」
                <svg width="11" height="81" viewBox="0 0 11 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="4" height="80" rx="2" transform="matrix(-1 0 0 1 10.5 0.5)" fill="white" stroke="#0B2188"/>
                <rect width="4" height="10" rx="2" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 10.5 4.5)" fill="white" stroke="#0B2188"/>
                <rect width="4" height="10" rx="2" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 10.5 80.5)" fill="white" stroke="#0B2188"/>
                </svg>
            p.c-paragraph
                | CHINTAI社内でも知る人ぞ知る部署である、「みんなを応援したい課ﾞ～」に所属。CHINTAI社員をはじめ、夢に向かって頑張る多くの人々を応援している。
        .p-media-chintiger-detail-block
            .p-media-chintiger-detail-block__head
                <svg width="11" height="81" viewBox="0 0 11 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="4" height="80" rx="2" fill="white" stroke="#0B2188"/>
                <rect x="0.5" y="4.5" width="4" height="10" rx="2" transform="rotate(-90 0.5 4.5)" fill="white" stroke="#0B2188"/>
                <rect x="0.5" y="80.5" width="4" height="10" rx="2" transform="rotate(-90 0.5 80.5)" fill="white" stroke="#0B2188"/>
                </svg>
                h3.p-media-chintiger-detail-block__title
                    span 気になる
                    span ポシェットの中身
                <svg width="11" height="81" viewBox="0 0 11 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="4" height="80" rx="2" transform="matrix(-1 0 0 1 10.5 0.5)" fill="white" stroke="#0B2188"/>
                <rect width="4" height="10" rx="2" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 10.5 4.5)" fill="white" stroke="#0B2188"/>
                <rect width="4" height="10" rx="2" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 10.5 80.5)" fill="white" stroke="#0B2188"/>
                </svg>
            p.c-paragraph
                | 黄色いポシェットの中身は謎であるが、「物件情報虎の巻」が入っているという説と、「ビーフジャーキー」が入っているという説もある。
        .p-media-chintiger-detail-block
            .p-media-chintiger-detail-block__head
                <svg width="11" height="81" viewBox="0 0 11 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.5" width="4" height="80" rx="2" fill="white" stroke="#0B2188"/>
                <rect x="0.5" y="4.5" width="4" height="10" rx="2" transform="rotate(-90 0.5 4.5)" fill="white" stroke="#0B2188"/>
                <rect x="0.5" y="80.5" width="4" height="10" rx="2" transform="rotate(-90 0.5 80.5)" fill="white" stroke="#0B2188"/>
                </svg>
                h3.p-media-chintiger-detail-block__title
                    span 都会は
                    span ジャングルより難しい
                <svg width="11" height="81" viewBox="0 0 11 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="4" height="80" rx="2" transform="matrix(-1 0 0 1 10.5 0.5)" fill="white" stroke="#0B2188"/>
                <rect width="4" height="10" rx="2" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 10.5 4.5)" fill="white" stroke="#0B2188"/>
                <rect width="4" height="10" rx="2" transform="matrix(-1.19249e-08 -1 -1 1.19249e-08 10.5 80.5)" fill="white" stroke="#0B2188"/>
                </svg>
            p.c-paragraph
                | ジャングルから人間世社会（港区）に進出したので、ありのままで生きられたジャングルとのギャップを感じている。


    .p-media-chintiger-sns
        h3.p-media-chintiger-sns__title
            span SNS
        .p-media-chintiger__wrap
            .p-media-chintiger-sns-line
                a(href="https://store.line.me/stickershop/product/30010271/ja" target="_blank")
                    span LINEスタンプ
                    svg(width=13 height=13)
                        use(href="#ico-external-sm")
                img(src=img + "p-media-chintiger-sns-chintiger1.svg")._chintiger
            .p-media-chintiger-sns-story
                ul
                    li
                        a(href="https://www.instagram.com/chintiger_chintai/" target="_blank")
                            span Instagram
                            svg(width=13 height=13)
                                use(href="#ico-external-sm")
                    li
                        a(href="https://twitter.com/CHINTiger" target="_blank")
                            span X
                            svg(width=13 height=13)
                                use(href="#ico-external-sm")
                    li
                        a(href="https://www.tiktok.com/@chintiger_chintai?lang=ja-JP" target="_blank")
                            span TikTok
                            svg(width=13 height=13)
                                use(href="#ico-external-sm")
                img(src=img + "p-media-chintiger-sns-chintiger2.svg")._chintiger