section.p-media-sports.js-content-media(data-content="sports")
    .p-media-sports-ski
        .c-heading-section.c-heading-section--sm.c-heading-section--center
            h2.c-heading-section__title
                | CHINTAIが運営する
            figure.c-heading-section__ski
                img(src=img+"p-media-sports-ski-logo.webp" alt="CHINTAIスキークラブ")
        .p-media-sports-ski-lead
            figure.p-media-sports-ski-lead__pic
                img(src=img+"p-media-sports-ski-lead.webp" alt="CHINTAIスキークラブ")
            .p-media-sports-ski-lead__content
                .p-media-sports-ski-lead__head
                    h3.p-media-sports-ski-lead__title
                        | 選手の夢とともに歩む、
                        br
                        | CHINTAIスキークラブ
                    figure.p-media-sports-ski-lead__logo
                        img(src=img+"p-media-sports-ski-logo2.webp" alt="CHINTAIスキークラブ")
                .p-media-sports-ski-lead__dec
                    p.c-paragraph
                        | CHINTAIスキークラブは2013年に発足し、プロのスキージャンプ選手がそれぞれの夢に向かって競技に打ち込める環境づくりに取り組んできました。スキージャンプ界の発展に向け、選手と企業が一体となって活動しており、2017年4月より小林諭果選手が所属しています。今後も、競技支援を通じて選手の人生がさらに豊かになるよう、支援活動を継続してまいります。
                .p-media-sports-ski-lead__more
                    a(href="https://chintaiski.jp/" target="_blank").c-btn-more.c-btn-more--sm
                        span.c-btn-more__txt 公式サイトを見る
                        i.c-btn-more__ico
                            svg(width=42 height=42 aria-hidden="true")
                                use(href="#ico-circle")
                            svg(width=42 height=42 aria-hidden="true")
                                use(href="#ico-external")
        .p-media-sports-ski__members
            .p-media-sports-ski__membersList
                h3.p-media-sports-ski__membersTitle
                    | Members
                .p-media-sports-ski-member
                    figure.p-media-sports-ski-member__pic
                        img(src=img+"p-media-sports-ski-member1.webp" alt="小林 諭果")
                    .p-media-sports-ski-member__content
                        p.p-media-sports-ski-member__job
                            | PLAYER
                        h3.p-media-sports-ski-member__name
                            | 小林 諭果
                        p.p-media-sports-ski-member__desc
                            | 岩手県八幡平市出身。兄弟の背中を追い競技を始め早稲田大学を卒業後、2017年4月よりCHINTAI所属選手として迎えました。現在は札幌市を拠点に競技活動を行っており、国内女子最年長ジャンパーとして、その存在感を放っています。
                .p-media-sports-ski-member
                    figure.p-media-sports-ski-member__pic
                        img(src=img+"p-media-sports-ski-member2.webp" alt="茂野 美咲")
                    .p-media-sports-ski-member__content
                        p.p-media-sports-ski-member__job
                            | PRINCIPAL
                        h3.p-media-sports-ski-member__name
                            | 茂野 美咲
                        p.p-media-sports-ski-member__desc
                            | 2025年4月よりCHINTAIスキークラブPrincipalに就任。新潟県南魚沼市出身、CHINTAIスキークラブ所属の元スキージャンプ選手で2022年3月に現役を引退。選手として培った豊富な経験と、勝利への情熱を胸に、新制チームを力強く牽引します。
                .p-media-sports-ski-member
                    figure.p-media-sports-ski-member__pic
                        img(src=img+"p-media-sports-ski-member3.webp" alt="ヤンネ・ヴァータイネン")
                    .p-media-sports-ski-member__content
                        p.p-media-sports-ski-member__job
                            | COACH
                        h3.p-media-sports-ski-member__name
                            | ヤンネ・ヴァータイネン
                        p.p-media-sports-ski-member__desc
                            | 2025年5月よりCHINTAIスキークラブ所属・小林諭果選手のコーチに就任。フィンランド、クオピオ出身の元スキージャンプ選手。フィンランド代表ヘッドコーチや日本代表コーチを歴任し、長年にわたり多くのトップアスリートを世界へ送り出してきたスペシャリストです。温かい人柄と的確な指導で、チームに新たな風を吹き込みます。


    .p-media-sports-club
        .c-heading-section.c-heading-section--sm.c-heading-section--center
            h2.c-heading-section__title
                | CHINTAIが応援する
            p.c-heading-section__en
                | Sports Club
        .p-media-sports-club__list
            .p-media-sports-club-item
                figure.p-media-sports-club-item__pic
                    img(src=img+"p-media-sports-club-item1.webp" alt="東京六大学野球")
                .p-media-sports-club-item__content
                    .p-media-sports-club-item__head
                        p.c-heading-label.c-heading-label--sm(style="background: #5BBFE1;")
                            | 01
                        h3.p-media-sports-club-item__title
                            | 東京六大学野球
                    p.c-paragraph
                        | 東京大学・立教大学・早稲田大学・慶應義塾大学・明治大学・法政大学の6つの大学で構成された大学野球リーグで、2006年度よりサポートを行っています。毎年、春と秋に明治神宮野球場でリーグ戦が開催されています。2025年には連盟結成100年を迎えた歴史と伝統のあるリーグで、数多くのプロ野球選手の輩出してきたことから野球界のみならず幅広いメディアからも注目を浴びています。
                    .p-media-sports-club-item__more
                        a(href="http://www.big6.gr.jp/index.php" target="_blank").c-link-external
                            span 公式サイトを見る
                            svg(width=13 height=13 aria-hidden="true")
                                use(href="#ico-external-sm")
            .p-media-sports-club-item
                figure.p-media-sports-club-item__pic
                    img(src=img+"p-media-sports-club-item2.webp" alt="関東学生アメリカンフットボール")
                .p-media-sports-club-item__content
                    .p-media-sports-club-item__head
                        p.c-heading-label.c-heading-label--sm(style="background: #EF92AE;")
                            | 02
                        h3.p-media-sports-club-item__title
                            | 関東学生<br class="sp">アメリカンフットボール
                    p.c-paragraph
                        | 「ひとつ青い空の下、最高のワンプレーを。」を掲げる関東学生アメリカンフットボール連盟様を2016年よりスポンサードしています。約90の大学が加盟する日本最大級のアメリカンフットボール連盟です。毎年9月～12月に行われるリーグ戦のサポートを行っており、注目試合日にはチンタイガーが現地へ応援に行くなど全面的に応援をしています。
                    .p-media-sports-club-item__more
                        a(href="http://www.kcfa.jp/" target="_blank").c-link-external
                            span 公式サイトを見る
                            svg(width=13 height=13 aria-hidden="true")
                                use(href="#ico-external-sm")
            .p-media-sports-club-item
                figure.p-media-sports-club-item__pic
                    img(src=img+"p-media-sports-club-item3.webp" alt="九十九里トライアスロン")
                .p-media-sports-club-item__content
                    .p-media-sports-club-item__head
                        p.c-heading-label.c-heading-label--sm(style="background: #7EBEAF;")
                            | 03
                        h3.p-media-sports-club-item__title
                            | 九十九里トライアスロン
                    p.c-paragraph
                        | 千葉県九十九里海岸で開催される日本最大規模のトライアスロンレースで、ボランティアスポンサーとして大会サポートを行っています。本大会は、“トライアスロンを楽しむ”をテーマに初心者でも気軽に参加できます。フィニッシュ会場ではイベントのほか、ハマグリの網焼きや地元の特産物も楽しめるなど、競技以外の場面でも魅力が満載です。CHINTAI公式マスコットキャラクターのチンタイガーは、本大会で応援大使を務めます。
                    .p-media-sports-club-item__more
                        a(href="http://www.99t.jp/" target="_blank").c-link-external
                            span 公式サイトを見る
                            svg(width=13 height=13 aria-hidden="true")
                                use(href="#ico-external-sm")
            .p-media-sports-club-item
                figure.p-media-sports-club-item__pic
                    img(src=img+"p-media-sports-club-item4.webp" alt="全日本学生自動車連盟")
                .p-media-sports-club-item__content
                    .p-media-sports-club-item__head
                        p.c-heading-label.c-heading-label--sm(style="background: #EBBA5F;")
                            | 04
                        h3.p-media-sports-club-item__title
                            | 全日本学生自動車連盟
                    p.c-paragraph
                        | 全国の「大学自動車部」が加盟する学生連盟です。毎年8月に行われる「全日本学生ダートトライアル選手権大会」「全日本学生ジムカーナ選手権大会」の大会サポートを行っています。
                    .p-media-sports-club-item__more
                        a(href="https://www.ajsaa-alljapan.org/" target="_blank").c-link-external
                            span 公式サイトを見る
                            svg(width=13 height=13 aria-hidden="true")
                                use(href="#ico-external-sm")


