section.p-media-advertising
    .p-media-advertising-block
        .p-media-advertising-block__head
            .c-heading-section.c-heading-section--sm.c-heading-section--center
                h2.c-heading-section__title
                    | 最新CM
                p.c-heading-section__en
                    | CM Gallery
        .p-media-advertising-block__body
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img+"p-media-advertising-block-item-pic1.webp")
                    figcaption
                        button(aria-label="動画を再生する").p-media-advertising-block-item__btn
                            svg(width=44 height=44)
                                use(href="#ico-media-play")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | TV-CM
                        p.p-media-advertising-block-item__season
                            | 2026 | 春
                    h3.p-media-advertising-block-item__title
                        | 「CHINTAIにAI」篇
                    p.p-media-advertising-block-item__more
                        a(href="#" target="_blank").c-link-external
                            span YouTubeで見る
                            svg(width=13 height=13)
                                use(href="#ico-external-sm")
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img+"p-media-advertising-block-item-pic2.webp")
                    figcaption
                        button(aria-label="動画を再生する").p-media-advertising-block-item__btn
                            svg(width=44 height=44)
                                use(href="#ico-media-play")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | TV-CM
                        p.p-media-advertising-block-item__season
                            | 2026 | 春
                    h3.p-media-advertising-block-item__title
                        | 「メイキング」
                    p.p-media-advertising-block-item__more
                        a(href="#" target="_blank").c-link-external
                            span YouTubeで見る
                            svg(width=13 height=13)
                                use(href="#ico-external-sm")
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    figcaption
                        button(aria-label="動画を再生する").p-media-advertising-block-item__btn
                            svg(width=44 height=44)
                                use(href="#ico-media-play")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | Radio-CM
                        p.p-media-advertising-block-item__season
                            | 2026 | 春
                    h3.p-media-advertising-block-item__title
                        | 「CHINTAIにAI」篇

    .p-media-advertising-block.p-media-advertising-block--ad
        .p-media-advertising-block__head
            .c-heading-section.c-heading-section--sm.c-heading-section--center
                h2.c-heading-section__title
                    | 広告
                p.c-heading-section__en
                    | Advertising
            p.c-paragraph
                | 集客力の高いエリアにブランドロゴが<br class="sp">目立つ広告を掲出し、<br class="pc-tab">継続したブランディングを実施しています。
                small （※一部抜粋。交通広告は2026年2月実績）
        .p-media-advertising-block__body
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img + "p-media-advertising-block-ad1.webp")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | 屋外広告
                    h3.p-media-advertising-block-item__title
                        | CHINTAI六本木ビジョン
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img + "p-media-advertising-block-ad2.webp")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | 屋外広告
                    h3.p-media-advertising-block-item__title
                        | CHINTAI道頓堀ビジョン
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img + "p-media-advertising-block-ad3.webp")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | 交通広告
                    h3.p-media-advertising-block-item__title
                        | 広島電鉄ラッピング電車
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img + "p-media-advertising-block-ad4.webp")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | 交通広告
                    h3.p-media-advertising-block-item__title
                        | 東京
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img + "p-media-advertising-block-ad5.webp")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | 交通広告
                    h3.p-media-advertising-block-item__title
                        | 大阪
            .p-media-advertising-block-item
                figure.p-media-advertising-block-item__pic
                    img(src=img + "p-media-advertising-block-ad6.webp")
                .p-media-advertising-block-item__content
                    .p-media-advertising-block-item__meta
                        p.p-media-advertising-block-item__label
                            | 交通広告
                    h3.p-media-advertising-block-item__title
                        | 福岡
