extends ./_default
block vars
    - var path = "./"
    - var title = "トップページ｜株式会社CHINTAI"
    - var description = "「自分らしい暮らしが叶う社会を創る。」を掲げる株式会社CHINTAIのトップページです。「住まい」「暮らし」「賃貸ビジネス」「暮らしの楽しみ」など、さまざまな観点から自分らしい暮らしをサポートしています。社会課題を解決する取り組みについてもご紹介。"
    - var pageClass = "page-front"

block content

    .p-top
        //-.p-top__wrap
            .p-top-video
                video(controls=false, preload='metadata', width='100%' autoplay=true muted=true loop=true playsinline=true)
        section.p-top-mv.is-section-dark
            //-
                <svg viewBox="0 0 800 600" width="0" height="0">
                <clipPath id="clip_branding" clipPathUnits="objectBoundingBox">
                <path transform="scale(0.00125,0.00166)" data-name="パス 1309" d=""></path>
                </clipPath>
                </svg>
            .p-top-mv__wrap
                h1.p-top-mv__logo
                    img(src=img+"p-top-mv-logo.svg" alt=sitename + " 自分らしい暮らしが叶う社会を創る。")
                .p-top-mv__video
                    video(controls=false, preload='metadata', width='100%' autoplay=true muted=true loop=true playsinline=true)
                        source(src='./assets/media/fv.mp4', type='video/mp4')
                .p-top-mv__scroll
                    p.js-split-text
                        | であう
                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.53125 6.53027L0.53125 0.530273" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M8.53125 6.53027L14.5312 0.530273" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M6.53125 12.5303L0.53125 6.53027" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
                    <path d="M8.53125 12.5303L14.5312 6.53027" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>
        section.p-top-message
            .l-container
                .p-top-message__wrap
                    .p-top-message__text
                        span.u-text-search
                            span.js-visible-type お部屋探し
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.98306 17.3643C13.612 17.3643 17.3646 13.6114 17.3646 8.98196C17.3646 4.35251 13.612 0.599609 8.98306 0.599609C4.35409 0.599609 0.601562 4.35251 0.601562 8.98196C0.601562 13.6114 4.35409 17.3643 8.98306 17.3643Z" stroke="#3C51B8" stroke-width="1.2" stroke-miterlimit="10"/>
                            <path d="M16.1914 16.1875L20.6027 20.5993" stroke="#3C51B8" stroke-width="1.2" stroke-miterlimit="10"/>
                            </svg>
                        | は、<br class="sp">人生の中でそう多くない、<br class="pc-tab">貴重な体験の<br class="sp">ひとつだと私たちは考えています。
                        br
                        |
                        br
                        | だからこそCHINTAIは、その体験が<br class="sp"><span class="u-underline-dash js-underline-text">新しい気づき</span>や、<span class="u-underline-dash js-underline-text">まだ知らない街との</span><br class="sp"><span class="u-underline-dash js-underline-text">出会い</span></span>を生み、<br class="pc-tab">そして<span class="u-underline-dash js-underline-text">自分らしい暮らしの</span><br class="sp"><span class="u-underline-dash js-underline-text">可能性</span>が広がっていく時間となるよう、
                        br
                        | 住まいと暮らしの未来を<br class="sp">ひらく役割を担っています。
                        br
                        |
                        br
                        | CHINTAIは、暮らしの可能性に<br class="sp">出会える体験をひろげ、
                        br
                        | 一人ひとりが思い描く未来へ<br class="sp">踏み出せるよう寄り添いながら、
                        span.u-text-circle.js-circle-text
                            span 自分らしい暮らし
                            <svg width="199" height="70" viewBox="0 0 199 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M99.5 0.5C126.935 0.5 151.752 4.41216 169.691 10.7227C178.664 13.8787 185.889 17.6254 190.861 21.7607C195.837 25.8985 198.5 30.3749 198.5 35C198.5 39.6251 195.837 44.1015 190.861 48.2393C185.889 52.3746 178.664 56.1213 169.691 59.2773C151.752 65.5878 126.935 69.5 99.5 69.5C72.0649 69.5 47.2484 65.5878 29.3086 59.2773C20.3364 56.1213 13.1111 52.3746 8.13867 48.2393C3.16332 44.1015 0.5 39.6251 0.5 35C0.5 30.3749 3.16332 25.8985 8.13867 21.7607C13.1111 17.6254 20.3364 13.8787 29.3086 10.7227C47.2484 4.41216 72.0649 0.5 99.5 0.5Z" stroke="#3C51B8"/>
                            </svg>
                        | が<br class="pc-tab">実現する社会に<br class="sp">向けて、そのきっかけを生み出し続けます。
                    .p-top-message__more
                        a(href=path + "company/").c-btn-round
                            span.c-btn-round__txt 会社情報
                            i.c-btn-round__arrow
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")._arrow
                                    use(href="#ico-arrow-right")
        // サービス
        section.p-top-service
            .l-container
                .p-top-service__wrap
                    .p-top-service__head
                        .c-heading-section
                            h2.c-heading-section__title
                                | サービス
                            p.c-heading-section__en
                                | Service
                        p.c-paragraph-md
                            | 多様な価値観やライフスタイルに寄り添い、一人ひとりが自分らしく暮らせる選択肢が広がるサービスを展開しています。
                    .p-top-service__items
                        .p-top-service-item
                            a(href=path+"service/#s1").p-top-service-item__link
                                picture.p-top-service-item__pic
                                    source(srcset=img + "p-top-service-item-pic1-sp.webp" media="(max-width: 1023px)")
                                    img(src=img+"p-top-service-item-pic1.webp" alt="お部屋にであう")
                                .p-top-service-item__head
                                    span.p-top-service-item__label
                                        <svg width="52" height="23" viewBox="0 0 52 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.5837 22.4637L0.00016493 17.5524L0.720966 16.4394L4.37634 18.8068C4.33061 18.6223 4.27187 18.3622 4.2001 18.0266C4.12105 17.6863 4.03303 17.3041 3.93605 16.8799C3.84377 16.4484 3.74529 16.0026 3.64061 15.5424C3.53337 15.0703 3.4287 14.6101 3.32658 14.1619C3.2219 13.7018 3.12128 13.2752 3.0247 12.8823L3.92217 11.4965L5.03459 16.7859L11.6046 16.2551L10.7213 17.619L5.24595 18.038L5.50023 19.5346L8.3045 21.3508L7.5837 22.4637ZM13.6919 13.5349C13.889 13.379 14.036 13.2295 14.1329 13.0866C14.2312 12.9315 14.2976 12.785 14.3322 12.6471C14.3615 12.5025 14.3683 12.3644 14.3528 12.2331C14.3373 12.1017 14.3123 11.9723 14.2778 11.8449L15.2872 11.0464C15.3607 11.2092 15.4193 11.395 15.4628 11.6037C15.5009 11.8056 15.516 12.0202 15.508 12.2475C15.4999 12.4749 15.4601 12.7109 15.3883 12.9554C15.3112 13.1932 15.1847 13.4314 15.0088 13.67C14.8382 13.9155 14.6068 14.1538 14.3146 14.3849C13.9067 14.7075 13.4941 14.9124 13.0768 14.9994C12.6662 15.0811 12.2663 15.0714 11.877 14.9705C11.4892 14.8573 11.1274 14.6794 10.7917 14.4366C10.456 14.1938 10.1538 13.9025 9.88493 13.5626C9.64298 13.2568 9.44237 12.9403 9.2831 12.6132C9.11846 12.2793 9.00931 11.9458 8.95565 11.6125C8.90199 11.2792 8.9058 10.9558 8.96708 10.6421C9.02299 10.3216 9.14174 10.0177 9.32335 9.73042C9.50637 9.43095 9.75761 9.15486 10.0771 8.90216C10.4985 8.5688 10.9111 8.36399 11.3149 8.28771C11.7255 8.20605 12.1159 8.21767 12.4862 8.32258C12.8511 8.42069 13.1865 8.58632 13.4925 8.81946C13.7985 9.05259 14.0643 9.31191 14.2902 9.59739C14.3332 9.65177 14.3735 9.70275 14.4111 9.75033C14.4488 9.79791 14.483 9.84818 14.5139 9.90114C14.5461 9.94192 14.5777 9.98879 14.6085 10.0417L10.9992 12.8968C11.264 13.2176 11.5496 13.4669 11.8559 13.6446C12.169 13.8168 12.4832 13.8998 12.7986 13.8934C13.1086 13.8802 13.4064 13.7607 13.6919 13.5349ZM10.6798 9.68511C10.5031 9.8249 10.3656 9.97235 10.2673 10.1275C10.1636 10.2758 10.0957 10.4345 10.0637 10.6035C10.033 10.7603 10.0287 10.9295 10.0507 11.111C10.0795 11.2871 10.1327 11.466 10.2102 11.6478C10.2823 11.8228 10.3754 12.0034 10.4894 12.1894L13.0792 10.1409C12.9232 9.94381 12.7482 9.77839 12.554 9.64467C12.3598 9.51096 12.1607 9.41985 11.9566 9.37136C11.7471 9.31606 11.5346 9.31286 11.3191 9.36175C11.1036 9.41065 10.8905 9.51843 10.6798 9.68511ZM14.7864 5.84016L16.0793 5.3635C16.4732 5.85563 16.8358 6.3131 17.1672 6.7359C17.5037 7.14758 17.8034 7.52203 18.0663 7.85925C18.3373 8.19347 18.573 8.49453 18.7733 8.76242C18.9818 9.02732 19.1535 9.25498 19.2884 9.44542C19.4314 9.63286 19.5416 9.78157 19.6191 9.89155L19.6313 9.88706C19.6129 9.73683 19.5947 9.54957 19.5766 9.3253C19.5667 9.09802 19.5515 8.83116 19.5309 8.5247C19.5073 8.21012 19.4834 7.84481 19.4594 7.42878C19.4434 7.00976 19.4202 6.53338 19.3897 5.99965C19.3643 5.45479 19.3383 4.84552 19.3116 4.17183L20.5192 3.72664L20.6993 11.0174C20.7011 11.4232 20.6889 11.7787 20.6629 12.0838C20.645 12.386 20.6025 12.6465 20.5353 12.8652C20.4712 13.0921 20.3772 13.2883 20.2536 13.454C20.1381 13.6167 19.9861 13.7558 19.7978 13.8714C19.6177 13.984 19.3934 14.0898 19.1251 14.1887C19.0681 14.2097 18.9975 14.2311 18.9132 14.253C18.84 14.28 18.7613 14.3044 18.677 14.3262C18.5957 14.3562 18.5088 14.3836 18.4163 14.4085L18.0386 13.3839C18.1229 13.362 18.2072 13.3402 18.2915 13.3183C18.384 13.2935 18.4709 13.2661 18.5522 13.2361C18.7473 13.1641 18.905 13.0783 19.0253 12.9785C19.1485 12.8869 19.2395 12.7703 19.2981 12.6286C19.3678 12.492 19.4174 12.3259 19.4469 12.1303C19.4764 11.9347 19.4868 11.7 19.4782 11.426L14.7864 5.84016Z"/>
                                        <path d="M22.8948 3.29407L24.2458 3.24107C24.4251 3.8325 24.5895 4.3768 24.7391 4.87399C24.8888 5.37117 25.0192 5.82141 25.1304 6.22469C25.2499 6.61897 25.355 6.9748 25.4455 7.29216C25.5356 7.60086 25.6068 7.86695 25.6589 8.09041C25.7197 8.31353 25.7658 8.49386 25.7972 8.6314L25.8102 8.63089C25.8311 8.49997 25.8636 8.3339 25.9078 8.13269C25.9516 7.92281 26.0067 7.66912 26.0731 7.37162C26.1391 7.06546 26.2163 6.71117 26.3046 6.30873C26.3929 5.90629 26.5004 5.44239 26.6273 4.91701C26.7538 4.38298 26.8952 3.78764 27.0516 3.13101L28.2857 3.0826C28.5047 3.80257 28.6941 4.42829 28.8537 4.95978C29.022 5.49093 29.1655 5.94498 29.2844 6.32194C29.4033 6.69891 29.4981 7.0161 29.5689 7.27352C29.6484 7.53061 29.7088 7.74507 29.7503 7.91691C29.8004 8.08841 29.8408 8.23427 29.8715 8.35449L29.8845 8.35398C29.9051 8.2144 29.9336 8.05717 29.9701 7.88227C30.0062 7.69871 30.0539 7.47567 30.113 7.21315C30.1721 6.95063 30.2419 6.63132 30.3226 6.2552C30.4116 5.87008 30.515 5.41068 30.6328 4.87698C30.7506 4.34329 30.8949 3.70881 31.0655 2.97356L32.3515 2.92311L30.5845 9.61452L29.2075 9.66853C29.0672 9.18832 28.9277 8.72544 28.7888 8.27988C28.6499 7.83431 28.5206 7.41439 28.4011 7.0201C28.2815 6.62582 28.172 6.26584 28.0725 5.94015C27.973 5.61447 27.888 5.32725 27.8175 5.07848C27.7471 4.82972 27.6959 4.63224 27.6642 4.48604L27.6512 4.48655C27.6237 4.66977 27.5774 4.92745 27.5124 5.25958C27.4474 5.59172 27.3631 5.98533 27.2595 6.4404C27.1556 6.88682 27.0365 7.39021 26.9024 7.95056C26.7683 8.51092 26.6273 9.11924 26.4796 9.77554L25.0637 9.83108L22.8948 3.29407ZM36.41 2.7563C36.7827 2.7563 37.125 2.8083 37.437 2.9123C37.7577 3.0163 38.0437 3.16796 38.295 3.3673C38.5463 3.56663 38.7587 3.8093 38.932 4.0953C39.114 4.3813 39.2483 4.70196 39.335 5.0573C39.4303 5.41263 39.478 5.79396 39.478 6.2013C39.478 6.5913 39.4347 6.95963 39.348 7.3063C39.2613 7.65296 39.1313 7.97363 38.958 8.2683C38.7847 8.5543 38.5723 8.80563 38.321 9.0223C38.0697 9.2303 37.775 9.39496 37.437 9.5163C37.1077 9.62896 36.7393 9.6853 36.332 9.6853C35.8553 9.6853 35.422 9.60296 35.032 9.4383C34.6507 9.26496 34.3257 9.0223 34.057 8.7103C33.797 8.3983 33.5977 8.0343 33.459 7.6183C33.3203 7.19363 33.251 6.72996 33.251 6.2273C33.251 5.8373 33.2943 5.46896 33.381 5.1223C33.4763 4.76696 33.6107 4.4463 33.784 4.1603C33.9573 3.86563 34.1697 3.6143 34.421 3.4063C34.681 3.1983 34.9757 3.03796 35.305 2.9253C35.643 2.81263 36.0113 2.7563 36.41 2.7563ZM36.358 3.8093C36.124 3.8093 35.9117 3.84396 35.721 3.9133C35.5303 3.98263 35.3613 4.08663 35.214 4.2253C35.0753 4.36396 34.954 4.53296 34.85 4.7323C34.7547 4.92296 34.681 5.14396 34.629 5.3953C34.5857 5.64663 34.564 5.91963 34.564 6.2143C34.564 6.56963 34.603 6.89896 34.681 7.2023C34.7677 7.49696 34.889 7.75263 35.045 7.9693C35.201 8.1773 35.3917 8.34196 35.617 8.4633C35.8423 8.57596 36.098 8.6323 36.384 8.6323C36.6093 8.6323 36.8173 8.59763 37.008 8.5283C37.1987 8.45896 37.3633 8.35496 37.502 8.2163C37.6493 8.06896 37.7707 7.89996 37.866 7.7093C37.97 7.50996 38.048 7.28463 38.1 7.0333C38.152 6.78196 38.178 6.5133 38.178 6.2273C38.178 5.8633 38.1347 5.53396 38.048 5.2393C37.97 4.93596 37.853 4.6803 37.697 4.4723C37.5497 4.25563 37.3633 4.09096 37.138 3.9783C36.9127 3.86563 36.6527 3.8093 36.358 3.8093ZM40.9169 9.5293V4.7063C40.9169 4.41163 40.9169 4.15596 40.9169 3.9393C40.9169 3.72263 40.9126 3.53196 40.9039 3.3673C40.9039 3.19396 40.9039 3.0423 40.9039 2.9123H42.1519C42.1606 2.97296 42.1649 3.0683 42.1649 3.1983C42.1736 3.3283 42.1779 3.4843 42.1779 3.6663C42.1866 3.83963 42.1909 4.02596 42.1909 4.2253C42.2776 4.00863 42.3859 3.81363 42.5159 3.6403C42.6546 3.4583 42.8193 3.3023 43.0099 3.1723C43.2006 3.0423 43.4129 2.94263 43.6469 2.8733C43.8809 2.7953 44.1323 2.7563 44.4009 2.7563V4.0173C43.9503 4.0173 43.5603 4.09963 43.2309 4.2643C42.9016 4.4203 42.6459 4.67163 42.4639 5.0183C42.2819 5.3563 42.1909 5.8113 42.1909 6.3833V9.5293H40.9169ZM49.8419 0.000296354H51.1159V7.6703C51.1159 7.86963 51.1159 8.0733 51.1159 8.2813C51.1159 8.4893 51.1159 8.6973 51.1159 8.9053C51.1246 9.10463 51.1289 9.31263 51.1289 9.5293H49.8939C49.8853 9.46863 49.8766 9.3863 49.8679 9.2823C49.8679 9.16963 49.8636 9.05263 49.8549 8.9313C49.8463 8.80996 49.8419 8.7103 49.8419 8.6323C49.7379 8.84896 49.5906 9.03963 49.3999 9.2043C49.2179 9.3603 48.9926 9.4773 48.7239 9.5553C48.4639 9.64196 48.1563 9.6853 47.8009 9.6853C47.3763 9.6853 46.9949 9.6073 46.6569 9.4513C46.3189 9.28663 46.0286 9.05263 45.7859 8.7493C45.5433 8.44596 45.3569 8.0863 45.2269 7.6703C45.1056 7.2543 45.0449 6.79496 45.0449 6.2923C45.0449 5.88496 45.0883 5.50363 45.1749 5.1483C45.2703 4.7843 45.4003 4.4593 45.5649 4.1733C45.7296 3.87863 45.9333 3.6273 46.1759 3.4193C46.4186 3.20263 46.6916 3.03796 46.9949 2.9253C47.3069 2.81263 47.6493 2.7563 48.0219 2.7563C48.3079 2.7563 48.5506 2.7823 48.7499 2.8343C48.9579 2.87763 49.1356 2.94263 49.2829 3.0293C49.4303 3.1073 49.5473 3.19396 49.6339 3.2893C49.7293 3.38463 49.7986 3.47563 49.8419 3.5623V0.000296354ZM48.1779 3.8223C47.9439 3.8223 47.7316 3.85696 47.5409 3.9263C47.3589 3.99563 47.1943 4.09963 47.0469 4.2383C46.8996 4.3683 46.7739 4.53296 46.6699 4.7323C46.5746 4.92296 46.5009 5.1483 46.4489 5.4083C46.3969 5.65963 46.3709 5.9413 46.3709 6.2533C46.3709 6.63463 46.4143 6.97263 46.5009 7.2673C46.5876 7.56196 46.7046 7.8133 46.8519 8.0213C47.0079 8.22063 47.1899 8.3723 47.3979 8.4763C47.6146 8.57163 47.8443 8.6193 48.0869 8.6193C48.3903 8.6193 48.6459 8.57596 48.8539 8.4893C49.0619 8.40263 49.2309 8.28563 49.3609 8.1383C49.4996 7.9823 49.6079 7.80463 49.6859 7.6053C49.7639 7.3973 49.8159 7.17196 49.8419 6.9293C49.8679 6.67796 49.8809 6.41363 49.8809 6.1363C49.8809 5.78963 49.8593 5.4733 49.8159 5.1873C49.7726 4.9013 49.6903 4.65863 49.5689 4.4593C49.4476 4.2513 49.2743 4.0953 49.0489 3.9913C48.8236 3.87863 48.5333 3.8223 48.1779 3.8223Z"/>
                                        </svg>
                                    h3.p-top-service-item__title(style="background: #5BBFE1;")
                                        | お部屋にであう
                        .p-top-service-item
                            a(href=path+"service/#s2").p-top-service-item__link
                                picture.p-top-service-item__pic
                                    source(srcset=img + "p-top-service-item-pic2-sp.webp" media="(max-width: 1023px)")
                                    img(src=img+"p-top-service-item-pic2.webp" alt="安心して暮らす")
                                .p-top-service-item__head
                                    span.p-top-service-item__label
                                        <svg width="52" height="23" viewBox="0 0 52 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.5837 22.4637L0.00016493 17.5524L0.720966 16.4394L4.37634 18.8068C4.33061 18.6223 4.27187 18.3622 4.2001 18.0266C4.12105 17.6863 4.03303 17.3041 3.93605 16.8799C3.84377 16.4484 3.74529 16.0026 3.64061 15.5424C3.53337 15.0703 3.4287 14.6101 3.32658 14.1619C3.2219 13.7018 3.12128 13.2752 3.0247 12.8823L3.92217 11.4965L5.03459 16.7859L11.6046 16.2551L10.7213 17.619L5.24595 18.038L5.50023 19.5346L8.3045 21.3508L7.5837 22.4637ZM13.6919 13.5349C13.889 13.379 14.036 13.2295 14.1329 13.0866C14.2312 12.9315 14.2976 12.785 14.3322 12.6471C14.3615 12.5025 14.3683 12.3644 14.3528 12.2331C14.3373 12.1017 14.3123 11.9723 14.2778 11.8449L15.2872 11.0464C15.3607 11.2092 15.4193 11.395 15.4628 11.6037C15.5009 11.8056 15.516 12.0202 15.508 12.2475C15.4999 12.4749 15.4601 12.7109 15.3883 12.9554C15.3112 13.1932 15.1847 13.4314 15.0088 13.67C14.8382 13.9155 14.6068 14.1538 14.3146 14.3849C13.9067 14.7075 13.4941 14.9124 13.0768 14.9994C12.6662 15.0811 12.2663 15.0714 11.877 14.9705C11.4892 14.8573 11.1274 14.6794 10.7917 14.4366C10.456 14.1938 10.1538 13.9025 9.88493 13.5626C9.64298 13.2568 9.44237 12.9403 9.2831 12.6132C9.11846 12.2793 9.00931 11.9458 8.95565 11.6125C8.90199 11.2792 8.9058 10.9558 8.96708 10.6421C9.02299 10.3216 9.14174 10.0177 9.32335 9.73042C9.50637 9.43095 9.75761 9.15486 10.0771 8.90216C10.4985 8.5688 10.9111 8.36399 11.3149 8.28771C11.7255 8.20605 12.1159 8.21767 12.4862 8.32258C12.8511 8.42069 13.1865 8.58632 13.4925 8.81946C13.7985 9.05259 14.0643 9.31191 14.2902 9.59739C14.3332 9.65177 14.3735 9.70275 14.4111 9.75033C14.4488 9.79791 14.483 9.84818 14.5139 9.90114C14.5461 9.94192 14.5777 9.98879 14.6085 10.0417L10.9992 12.8968C11.264 13.2176 11.5496 13.4669 11.8559 13.6446C12.169 13.8168 12.4832 13.8998 12.7986 13.8934C13.1086 13.8802 13.4064 13.7607 13.6919 13.5349ZM10.6798 9.68511C10.5031 9.8249 10.3656 9.97235 10.2673 10.1275C10.1636 10.2758 10.0957 10.4345 10.0637 10.6035C10.033 10.7603 10.0287 10.9295 10.0507 11.111C10.0795 11.2871 10.1327 11.466 10.2102 11.6478C10.2823 11.8228 10.3754 12.0034 10.4894 12.1894L13.0792 10.1409C12.9232 9.94381 12.7482 9.77839 12.554 9.64467C12.3598 9.51096 12.1607 9.41985 11.9566 9.37136C11.7471 9.31606 11.5346 9.31286 11.3191 9.36175C11.1036 9.41065 10.8905 9.51843 10.6798 9.68511ZM14.7864 5.84016L16.0793 5.3635C16.4732 5.85563 16.8358 6.3131 17.1672 6.7359C17.5037 7.14758 17.8034 7.52203 18.0663 7.85925C18.3373 8.19347 18.573 8.49453 18.7733 8.76242C18.9818 9.02732 19.1535 9.25498 19.2884 9.44542C19.4314 9.63286 19.5416 9.78157 19.6191 9.89155L19.6313 9.88706C19.6129 9.73683 19.5947 9.54957 19.5766 9.3253C19.5667 9.09802 19.5515 8.83116 19.5309 8.5247C19.5073 8.21012 19.4834 7.84481 19.4594 7.42878C19.4434 7.00976 19.4202 6.53338 19.3897 5.99965C19.3643 5.45479 19.3383 4.84552 19.3116 4.17183L20.5192 3.72664L20.6993 11.0174C20.7011 11.4232 20.6889 11.7787 20.6629 12.0838C20.645 12.386 20.6025 12.6465 20.5353 12.8652C20.4712 13.0921 20.3772 13.2883 20.2536 13.454C20.1381 13.6167 19.9861 13.7558 19.7978 13.8714C19.6177 13.984 19.3934 14.0898 19.1251 14.1887C19.0681 14.2097 18.9975 14.2311 18.9132 14.253C18.84 14.28 18.7613 14.3044 18.677 14.3262C18.5957 14.3562 18.5088 14.3836 18.4163 14.4085L18.0386 13.3839C18.1229 13.362 18.2072 13.3402 18.2915 13.3183C18.384 13.2935 18.4709 13.2661 18.5522 13.2361C18.7473 13.1641 18.905 13.0783 19.0253 12.9785C19.1485 12.8869 19.2395 12.7703 19.2981 12.6286C19.3678 12.492 19.4174 12.3259 19.4469 12.1303C19.4764 11.9347 19.4868 11.7 19.4782 11.426L14.7864 5.84016Z"/>
                                        <path d="M22.8948 3.29407L24.2458 3.24107C24.4251 3.8325 24.5895 4.3768 24.7391 4.87399C24.8888 5.37117 25.0192 5.82141 25.1304 6.22469C25.2499 6.61897 25.355 6.9748 25.4455 7.29216C25.5356 7.60086 25.6068 7.86695 25.6589 8.09041C25.7197 8.31353 25.7658 8.49386 25.7972 8.6314L25.8102 8.63089C25.8311 8.49997 25.8636 8.3339 25.9078 8.13269C25.9516 7.92281 26.0067 7.66912 26.0731 7.37162C26.1391 7.06546 26.2163 6.71117 26.3046 6.30873C26.3929 5.90629 26.5004 5.44239 26.6273 4.91701C26.7538 4.38298 26.8952 3.78764 27.0516 3.13101L28.2857 3.0826C28.5047 3.80257 28.6941 4.42829 28.8537 4.95978C29.022 5.49093 29.1655 5.94498 29.2844 6.32194C29.4033 6.69891 29.4981 7.0161 29.5689 7.27352C29.6484 7.53061 29.7088 7.74507 29.7503 7.91691C29.8004 8.08841 29.8408 8.23427 29.8715 8.35449L29.8845 8.35398C29.9051 8.2144 29.9336 8.05717 29.9701 7.88227C30.0062 7.69871 30.0539 7.47567 30.113 7.21315C30.1721 6.95063 30.2419 6.63132 30.3226 6.2552C30.4116 5.87008 30.515 5.41068 30.6328 4.87698C30.7506 4.34329 30.8949 3.70881 31.0655 2.97356L32.3515 2.92311L30.5845 9.61452L29.2075 9.66853C29.0672 9.18832 28.9277 8.72544 28.7888 8.27988C28.6499 7.83431 28.5206 7.41439 28.4011 7.0201C28.2815 6.62582 28.172 6.26584 28.0725 5.94015C27.973 5.61447 27.888 5.32725 27.8175 5.07848C27.7471 4.82972 27.6959 4.63224 27.6642 4.48604L27.6512 4.48655C27.6237 4.66977 27.5774 4.92745 27.5124 5.25958C27.4474 5.59172 27.3631 5.98533 27.2595 6.4404C27.1556 6.88682 27.0365 7.39021 26.9024 7.95056C26.7683 8.51092 26.6273 9.11924 26.4796 9.77554L25.0637 9.83108L22.8948 3.29407ZM36.41 2.7563C36.7827 2.7563 37.125 2.8083 37.437 2.9123C37.7577 3.0163 38.0437 3.16796 38.295 3.3673C38.5463 3.56663 38.7587 3.8093 38.932 4.0953C39.114 4.3813 39.2483 4.70196 39.335 5.0573C39.4303 5.41263 39.478 5.79396 39.478 6.2013C39.478 6.5913 39.4347 6.95963 39.348 7.3063C39.2613 7.65296 39.1313 7.97363 38.958 8.2683C38.7847 8.5543 38.5723 8.80563 38.321 9.0223C38.0697 9.2303 37.775 9.39496 37.437 9.5163C37.1077 9.62896 36.7393 9.6853 36.332 9.6853C35.8553 9.6853 35.422 9.60296 35.032 9.4383C34.6507 9.26496 34.3257 9.0223 34.057 8.7103C33.797 8.3983 33.5977 8.0343 33.459 7.6183C33.3203 7.19363 33.251 6.72996 33.251 6.2273C33.251 5.8373 33.2943 5.46896 33.381 5.1223C33.4763 4.76696 33.6107 4.4463 33.784 4.1603C33.9573 3.86563 34.1697 3.6143 34.421 3.4063C34.681 3.1983 34.9757 3.03796 35.305 2.9253C35.643 2.81263 36.0113 2.7563 36.41 2.7563ZM36.358 3.8093C36.124 3.8093 35.9117 3.84396 35.721 3.9133C35.5303 3.98263 35.3613 4.08663 35.214 4.2253C35.0753 4.36396 34.954 4.53296 34.85 4.7323C34.7547 4.92296 34.681 5.14396 34.629 5.3953C34.5857 5.64663 34.564 5.91963 34.564 6.2143C34.564 6.56963 34.603 6.89896 34.681 7.2023C34.7677 7.49696 34.889 7.75263 35.045 7.9693C35.201 8.1773 35.3917 8.34196 35.617 8.4633C35.8423 8.57596 36.098 8.6323 36.384 8.6323C36.6093 8.6323 36.8173 8.59763 37.008 8.5283C37.1987 8.45896 37.3633 8.35496 37.502 8.2163C37.6493 8.06896 37.7707 7.89996 37.866 7.7093C37.97 7.50996 38.048 7.28463 38.1 7.0333C38.152 6.78196 38.178 6.5133 38.178 6.2273C38.178 5.8633 38.1347 5.53396 38.048 5.2393C37.97 4.93596 37.853 4.6803 37.697 4.4723C37.5497 4.25563 37.3633 4.09096 37.138 3.9783C36.9127 3.86563 36.6527 3.8093 36.358 3.8093ZM40.9169 9.5293V4.7063C40.9169 4.41163 40.9169 4.15596 40.9169 3.9393C40.9169 3.72263 40.9126 3.53196 40.9039 3.3673C40.9039 3.19396 40.9039 3.0423 40.9039 2.9123H42.1519C42.1606 2.97296 42.1649 3.0683 42.1649 3.1983C42.1736 3.3283 42.1779 3.4843 42.1779 3.6663C42.1866 3.83963 42.1909 4.02596 42.1909 4.2253C42.2776 4.00863 42.3859 3.81363 42.5159 3.6403C42.6546 3.4583 42.8193 3.3023 43.0099 3.1723C43.2006 3.0423 43.4129 2.94263 43.6469 2.8733C43.8809 2.7953 44.1323 2.7563 44.4009 2.7563V4.0173C43.9503 4.0173 43.5603 4.09963 43.2309 4.2643C42.9016 4.4203 42.6459 4.67163 42.4639 5.0183C42.2819 5.3563 42.1909 5.8113 42.1909 6.3833V9.5293H40.9169ZM49.8419 0.000296354H51.1159V7.6703C51.1159 7.86963 51.1159 8.0733 51.1159 8.2813C51.1159 8.4893 51.1159 8.6973 51.1159 8.9053C51.1246 9.10463 51.1289 9.31263 51.1289 9.5293H49.8939C49.8853 9.46863 49.8766 9.3863 49.8679 9.2823C49.8679 9.16963 49.8636 9.05263 49.8549 8.9313C49.8463 8.80996 49.8419 8.7103 49.8419 8.6323C49.7379 8.84896 49.5906 9.03963 49.3999 9.2043C49.2179 9.3603 48.9926 9.4773 48.7239 9.5553C48.4639 9.64196 48.1563 9.6853 47.8009 9.6853C47.3763 9.6853 46.9949 9.6073 46.6569 9.4513C46.3189 9.28663 46.0286 9.05263 45.7859 8.7493C45.5433 8.44596 45.3569 8.0863 45.2269 7.6703C45.1056 7.2543 45.0449 6.79496 45.0449 6.2923C45.0449 5.88496 45.0883 5.50363 45.1749 5.1483C45.2703 4.7843 45.4003 4.4593 45.5649 4.1733C45.7296 3.87863 45.9333 3.6273 46.1759 3.4193C46.4186 3.20263 46.6916 3.03796 46.9949 2.9253C47.3069 2.81263 47.6493 2.7563 48.0219 2.7563C48.3079 2.7563 48.5506 2.7823 48.7499 2.8343C48.9579 2.87763 49.1356 2.94263 49.2829 3.0293C49.4303 3.1073 49.5473 3.19396 49.6339 3.2893C49.7293 3.38463 49.7986 3.47563 49.8419 3.5623V0.000296354ZM48.1779 3.8223C47.9439 3.8223 47.7316 3.85696 47.5409 3.9263C47.3589 3.99563 47.1943 4.09963 47.0469 4.2383C46.8996 4.3683 46.7739 4.53296 46.6699 4.7323C46.5746 4.92296 46.5009 5.1483 46.4489 5.4083C46.3969 5.65963 46.3709 5.9413 46.3709 6.2533C46.3709 6.63463 46.4143 6.97263 46.5009 7.2673C46.5876 7.56196 46.7046 7.8133 46.8519 8.0213C47.0079 8.22063 47.1899 8.3723 47.3979 8.4763C47.6146 8.57163 47.8443 8.6193 48.0869 8.6193C48.3903 8.6193 48.6459 8.57596 48.8539 8.4893C49.0619 8.40263 49.2309 8.28563 49.3609 8.1383C49.4996 7.9823 49.6079 7.80463 49.6859 7.6053C49.7639 7.3973 49.8159 7.17196 49.8419 6.9293C49.8679 6.67796 49.8809 6.41363 49.8809 6.1363C49.8809 5.78963 49.8593 5.4733 49.8159 5.1873C49.7726 4.9013 49.6903 4.65863 49.5689 4.4593C49.4476 4.2513 49.2743 4.0953 49.0489 3.9913C48.8236 3.87863 48.5333 3.8223 48.1779 3.8223Z"/>
                                        </svg>
                                    h3.p-top-service-item__title(style="background: #EF92AE;")
                                        | 安心して暮らす
                        .p-top-service-item
                            a(href=path+"service/#s3").p-top-service-item__link
                                picture.p-top-service-item__pic
                                    source(srcset=img + "p-top-service-item-pic3-sp.webp" media="(max-width: 1023px)")
                                    img(src=img+"p-top-service-item-pic3.webp" alt="暮らしを楽しむ")
                                .p-top-service-item__head
                                    span.p-top-service-item__label
                                        <svg width="52" height="23" viewBox="0 0 52 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.5837 22.4637L0.00016493 17.5524L0.720966 16.4394L4.37634 18.8068C4.33061 18.6223 4.27187 18.3622 4.2001 18.0266C4.12105 17.6863 4.03303 17.3041 3.93605 16.8799C3.84377 16.4484 3.74529 16.0026 3.64061 15.5424C3.53337 15.0703 3.4287 14.6101 3.32658 14.1619C3.2219 13.7018 3.12128 13.2752 3.0247 12.8823L3.92217 11.4965L5.03459 16.7859L11.6046 16.2551L10.7213 17.619L5.24595 18.038L5.50023 19.5346L8.3045 21.3508L7.5837 22.4637ZM13.6919 13.5349C13.889 13.379 14.036 13.2295 14.1329 13.0866C14.2312 12.9315 14.2976 12.785 14.3322 12.6471C14.3615 12.5025 14.3683 12.3644 14.3528 12.2331C14.3373 12.1017 14.3123 11.9723 14.2778 11.8449L15.2872 11.0464C15.3607 11.2092 15.4193 11.395 15.4628 11.6037C15.5009 11.8056 15.516 12.0202 15.508 12.2475C15.4999 12.4749 15.4601 12.7109 15.3883 12.9554C15.3112 13.1932 15.1847 13.4314 15.0088 13.67C14.8382 13.9155 14.6068 14.1538 14.3146 14.3849C13.9067 14.7075 13.4941 14.9124 13.0768 14.9994C12.6662 15.0811 12.2663 15.0714 11.877 14.9705C11.4892 14.8573 11.1274 14.6794 10.7917 14.4366C10.456 14.1938 10.1538 13.9025 9.88493 13.5626C9.64298 13.2568 9.44237 12.9403 9.2831 12.6132C9.11846 12.2793 9.00931 11.9458 8.95565 11.6125C8.90199 11.2792 8.9058 10.9558 8.96708 10.6421C9.02299 10.3216 9.14174 10.0177 9.32335 9.73042C9.50637 9.43095 9.75761 9.15486 10.0771 8.90216C10.4985 8.5688 10.9111 8.36399 11.3149 8.28771C11.7255 8.20605 12.1159 8.21767 12.4862 8.32258C12.8511 8.42069 13.1865 8.58632 13.4925 8.81946C13.7985 9.05259 14.0643 9.31191 14.2902 9.59739C14.3332 9.65177 14.3735 9.70275 14.4111 9.75033C14.4488 9.79791 14.483 9.84818 14.5139 9.90114C14.5461 9.94192 14.5777 9.98879 14.6085 10.0417L10.9992 12.8968C11.264 13.2176 11.5496 13.4669 11.8559 13.6446C12.169 13.8168 12.4832 13.8998 12.7986 13.8934C13.1086 13.8802 13.4064 13.7607 13.6919 13.5349ZM10.6798 9.68511C10.5031 9.8249 10.3656 9.97235 10.2673 10.1275C10.1636 10.2758 10.0957 10.4345 10.0637 10.6035C10.033 10.7603 10.0287 10.9295 10.0507 11.111C10.0795 11.2871 10.1327 11.466 10.2102 11.6478C10.2823 11.8228 10.3754 12.0034 10.4894 12.1894L13.0792 10.1409C12.9232 9.94381 12.7482 9.77839 12.554 9.64467C12.3598 9.51096 12.1607 9.41985 11.9566 9.37136C11.7471 9.31606 11.5346 9.31286 11.3191 9.36175C11.1036 9.41065 10.8905 9.51843 10.6798 9.68511ZM14.7864 5.84016L16.0793 5.3635C16.4732 5.85563 16.8358 6.3131 17.1672 6.7359C17.5037 7.14758 17.8034 7.52203 18.0663 7.85925C18.3373 8.19347 18.573 8.49453 18.7733 8.76242C18.9818 9.02732 19.1535 9.25498 19.2884 9.44542C19.4314 9.63286 19.5416 9.78157 19.6191 9.89155L19.6313 9.88706C19.6129 9.73683 19.5947 9.54957 19.5766 9.3253C19.5667 9.09802 19.5515 8.83116 19.5309 8.5247C19.5073 8.21012 19.4834 7.84481 19.4594 7.42878C19.4434 7.00976 19.4202 6.53338 19.3897 5.99965C19.3643 5.45479 19.3383 4.84552 19.3116 4.17183L20.5192 3.72664L20.6993 11.0174C20.7011 11.4232 20.6889 11.7787 20.6629 12.0838C20.645 12.386 20.6025 12.6465 20.5353 12.8652C20.4712 13.0921 20.3772 13.2883 20.2536 13.454C20.1381 13.6167 19.9861 13.7558 19.7978 13.8714C19.6177 13.984 19.3934 14.0898 19.1251 14.1887C19.0681 14.2097 18.9975 14.2311 18.9132 14.253C18.84 14.28 18.7613 14.3044 18.677 14.3262C18.5957 14.3562 18.5088 14.3836 18.4163 14.4085L18.0386 13.3839C18.1229 13.362 18.2072 13.3402 18.2915 13.3183C18.384 13.2935 18.4709 13.2661 18.5522 13.2361C18.7473 13.1641 18.905 13.0783 19.0253 12.9785C19.1485 12.8869 19.2395 12.7703 19.2981 12.6286C19.3678 12.492 19.4174 12.3259 19.4469 12.1303C19.4764 11.9347 19.4868 11.7 19.4782 11.426L14.7864 5.84016Z"/>
                                        <path d="M22.8948 3.29407L24.2458 3.24107C24.4251 3.8325 24.5895 4.3768 24.7391 4.87399C24.8888 5.37117 25.0192 5.82141 25.1304 6.22469C25.2499 6.61897 25.355 6.9748 25.4455 7.29216C25.5356 7.60086 25.6068 7.86695 25.6589 8.09041C25.7197 8.31353 25.7658 8.49386 25.7972 8.6314L25.8102 8.63089C25.8311 8.49997 25.8636 8.3339 25.9078 8.13269C25.9516 7.92281 26.0067 7.66912 26.0731 7.37162C26.1391 7.06546 26.2163 6.71117 26.3046 6.30873C26.3929 5.90629 26.5004 5.44239 26.6273 4.91701C26.7538 4.38298 26.8952 3.78764 27.0516 3.13101L28.2857 3.0826C28.5047 3.80257 28.6941 4.42829 28.8537 4.95978C29.022 5.49093 29.1655 5.94498 29.2844 6.32194C29.4033 6.69891 29.4981 7.0161 29.5689 7.27352C29.6484 7.53061 29.7088 7.74507 29.7503 7.91691C29.8004 8.08841 29.8408 8.23427 29.8715 8.35449L29.8845 8.35398C29.9051 8.2144 29.9336 8.05717 29.9701 7.88227C30.0062 7.69871 30.0539 7.47567 30.113 7.21315C30.1721 6.95063 30.2419 6.63132 30.3226 6.2552C30.4116 5.87008 30.515 5.41068 30.6328 4.87698C30.7506 4.34329 30.8949 3.70881 31.0655 2.97356L32.3515 2.92311L30.5845 9.61452L29.2075 9.66853C29.0672 9.18832 28.9277 8.72544 28.7888 8.27988C28.6499 7.83431 28.5206 7.41439 28.4011 7.0201C28.2815 6.62582 28.172 6.26584 28.0725 5.94015C27.973 5.61447 27.888 5.32725 27.8175 5.07848C27.7471 4.82972 27.6959 4.63224 27.6642 4.48604L27.6512 4.48655C27.6237 4.66977 27.5774 4.92745 27.5124 5.25958C27.4474 5.59172 27.3631 5.98533 27.2595 6.4404C27.1556 6.88682 27.0365 7.39021 26.9024 7.95056C26.7683 8.51092 26.6273 9.11924 26.4796 9.77554L25.0637 9.83108L22.8948 3.29407ZM36.41 2.7563C36.7827 2.7563 37.125 2.8083 37.437 2.9123C37.7577 3.0163 38.0437 3.16796 38.295 3.3673C38.5463 3.56663 38.7587 3.8093 38.932 4.0953C39.114 4.3813 39.2483 4.70196 39.335 5.0573C39.4303 5.41263 39.478 5.79396 39.478 6.2013C39.478 6.5913 39.4347 6.95963 39.348 7.3063C39.2613 7.65296 39.1313 7.97363 38.958 8.2683C38.7847 8.5543 38.5723 8.80563 38.321 9.0223C38.0697 9.2303 37.775 9.39496 37.437 9.5163C37.1077 9.62896 36.7393 9.6853 36.332 9.6853C35.8553 9.6853 35.422 9.60296 35.032 9.4383C34.6507 9.26496 34.3257 9.0223 34.057 8.7103C33.797 8.3983 33.5977 8.0343 33.459 7.6183C33.3203 7.19363 33.251 6.72996 33.251 6.2273C33.251 5.8373 33.2943 5.46896 33.381 5.1223C33.4763 4.76696 33.6107 4.4463 33.784 4.1603C33.9573 3.86563 34.1697 3.6143 34.421 3.4063C34.681 3.1983 34.9757 3.03796 35.305 2.9253C35.643 2.81263 36.0113 2.7563 36.41 2.7563ZM36.358 3.8093C36.124 3.8093 35.9117 3.84396 35.721 3.9133C35.5303 3.98263 35.3613 4.08663 35.214 4.2253C35.0753 4.36396 34.954 4.53296 34.85 4.7323C34.7547 4.92296 34.681 5.14396 34.629 5.3953C34.5857 5.64663 34.564 5.91963 34.564 6.2143C34.564 6.56963 34.603 6.89896 34.681 7.2023C34.7677 7.49696 34.889 7.75263 35.045 7.9693C35.201 8.1773 35.3917 8.34196 35.617 8.4633C35.8423 8.57596 36.098 8.6323 36.384 8.6323C36.6093 8.6323 36.8173 8.59763 37.008 8.5283C37.1987 8.45896 37.3633 8.35496 37.502 8.2163C37.6493 8.06896 37.7707 7.89996 37.866 7.7093C37.97 7.50996 38.048 7.28463 38.1 7.0333C38.152 6.78196 38.178 6.5133 38.178 6.2273C38.178 5.8633 38.1347 5.53396 38.048 5.2393C37.97 4.93596 37.853 4.6803 37.697 4.4723C37.5497 4.25563 37.3633 4.09096 37.138 3.9783C36.9127 3.86563 36.6527 3.8093 36.358 3.8093ZM40.9169 9.5293V4.7063C40.9169 4.41163 40.9169 4.15596 40.9169 3.9393C40.9169 3.72263 40.9126 3.53196 40.9039 3.3673C40.9039 3.19396 40.9039 3.0423 40.9039 2.9123H42.1519C42.1606 2.97296 42.1649 3.0683 42.1649 3.1983C42.1736 3.3283 42.1779 3.4843 42.1779 3.6663C42.1866 3.83963 42.1909 4.02596 42.1909 4.2253C42.2776 4.00863 42.3859 3.81363 42.5159 3.6403C42.6546 3.4583 42.8193 3.3023 43.0099 3.1723C43.2006 3.0423 43.4129 2.94263 43.6469 2.8733C43.8809 2.7953 44.1323 2.7563 44.4009 2.7563V4.0173C43.9503 4.0173 43.5603 4.09963 43.2309 4.2643C42.9016 4.4203 42.6459 4.67163 42.4639 5.0183C42.2819 5.3563 42.1909 5.8113 42.1909 6.3833V9.5293H40.9169ZM49.8419 0.000296354H51.1159V7.6703C51.1159 7.86963 51.1159 8.0733 51.1159 8.2813C51.1159 8.4893 51.1159 8.6973 51.1159 8.9053C51.1246 9.10463 51.1289 9.31263 51.1289 9.5293H49.8939C49.8853 9.46863 49.8766 9.3863 49.8679 9.2823C49.8679 9.16963 49.8636 9.05263 49.8549 8.9313C49.8463 8.80996 49.8419 8.7103 49.8419 8.6323C49.7379 8.84896 49.5906 9.03963 49.3999 9.2043C49.2179 9.3603 48.9926 9.4773 48.7239 9.5553C48.4639 9.64196 48.1563 9.6853 47.8009 9.6853C47.3763 9.6853 46.9949 9.6073 46.6569 9.4513C46.3189 9.28663 46.0286 9.05263 45.7859 8.7493C45.5433 8.44596 45.3569 8.0863 45.2269 7.6703C45.1056 7.2543 45.0449 6.79496 45.0449 6.2923C45.0449 5.88496 45.0883 5.50363 45.1749 5.1483C45.2703 4.7843 45.4003 4.4593 45.5649 4.1733C45.7296 3.87863 45.9333 3.6273 46.1759 3.4193C46.4186 3.20263 46.6916 3.03796 46.9949 2.9253C47.3069 2.81263 47.6493 2.7563 48.0219 2.7563C48.3079 2.7563 48.5506 2.7823 48.7499 2.8343C48.9579 2.87763 49.1356 2.94263 49.2829 3.0293C49.4303 3.1073 49.5473 3.19396 49.6339 3.2893C49.7293 3.38463 49.7986 3.47563 49.8419 3.5623V0.000296354ZM48.1779 3.8223C47.9439 3.8223 47.7316 3.85696 47.5409 3.9263C47.3589 3.99563 47.1943 4.09963 47.0469 4.2383C46.8996 4.3683 46.7739 4.53296 46.6699 4.7323C46.5746 4.92296 46.5009 5.1483 46.4489 5.4083C46.3969 5.65963 46.3709 5.9413 46.3709 6.2533C46.3709 6.63463 46.4143 6.97263 46.5009 7.2673C46.5876 7.56196 46.7046 7.8133 46.8519 8.0213C47.0079 8.22063 47.1899 8.3723 47.3979 8.4763C47.6146 8.57163 47.8443 8.6193 48.0869 8.6193C48.3903 8.6193 48.6459 8.57596 48.8539 8.4893C49.0619 8.40263 49.2309 8.28563 49.3609 8.1383C49.4996 7.9823 49.6079 7.80463 49.6859 7.6053C49.7639 7.3973 49.8159 7.17196 49.8419 6.9293C49.8679 6.67796 49.8809 6.41363 49.8809 6.1363C49.8809 5.78963 49.8593 5.4733 49.8159 5.1873C49.7726 4.9013 49.6903 4.65863 49.5689 4.4593C49.4476 4.2513 49.2743 4.0953 49.0489 3.9913C48.8236 3.87863 48.5333 3.8223 48.1779 3.8223Z"/>
                                        </svg>
                                    h3.p-top-service-item__title(style="background: #7EBEAF;")
                                        | 暮らしを楽しむ
                        .p-top-service-item
                            a(href=path+"service/#s4").p-top-service-item__link
                                picture.p-top-service-item__pic
                                    source(srcset=img + "p-top-service-item-pic4-sp.webp" media="(max-width: 1023px)")
                                    img(src=img+"p-top-service-item-pic4.webp" alt="賃貸ビジネスを支える")
                                .p-top-service-item__head
                                    span.p-top-service-item__label
                                        <svg width="52" height="23" viewBox="0 0 52 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.5837 22.4637L0.00016493 17.5524L0.720966 16.4394L4.37634 18.8068C4.33061 18.6223 4.27187 18.3622 4.2001 18.0266C4.12105 17.6863 4.03303 17.3041 3.93605 16.8799C3.84377 16.4484 3.74529 16.0026 3.64061 15.5424C3.53337 15.0703 3.4287 14.6101 3.32658 14.1619C3.2219 13.7018 3.12128 13.2752 3.0247 12.8823L3.92217 11.4965L5.03459 16.7859L11.6046 16.2551L10.7213 17.619L5.24595 18.038L5.50023 19.5346L8.3045 21.3508L7.5837 22.4637ZM13.6919 13.5349C13.889 13.379 14.036 13.2295 14.1329 13.0866C14.2312 12.9315 14.2976 12.785 14.3322 12.6471C14.3615 12.5025 14.3683 12.3644 14.3528 12.2331C14.3373 12.1017 14.3123 11.9723 14.2778 11.8449L15.2872 11.0464C15.3607 11.2092 15.4193 11.395 15.4628 11.6037C15.5009 11.8056 15.516 12.0202 15.508 12.2475C15.4999 12.4749 15.4601 12.7109 15.3883 12.9554C15.3112 13.1932 15.1847 13.4314 15.0088 13.67C14.8382 13.9155 14.6068 14.1538 14.3146 14.3849C13.9067 14.7075 13.4941 14.9124 13.0768 14.9994C12.6662 15.0811 12.2663 15.0714 11.877 14.9705C11.4892 14.8573 11.1274 14.6794 10.7917 14.4366C10.456 14.1938 10.1538 13.9025 9.88493 13.5626C9.64298 13.2568 9.44237 12.9403 9.2831 12.6132C9.11846 12.2793 9.00931 11.9458 8.95565 11.6125C8.90199 11.2792 8.9058 10.9558 8.96708 10.6421C9.02299 10.3216 9.14174 10.0177 9.32335 9.73042C9.50637 9.43095 9.75761 9.15486 10.0771 8.90216C10.4985 8.5688 10.9111 8.36399 11.3149 8.28771C11.7255 8.20605 12.1159 8.21767 12.4862 8.32258C12.8511 8.42069 13.1865 8.58632 13.4925 8.81946C13.7985 9.05259 14.0643 9.31191 14.2902 9.59739C14.3332 9.65177 14.3735 9.70275 14.4111 9.75033C14.4488 9.79791 14.483 9.84818 14.5139 9.90114C14.5461 9.94192 14.5777 9.98879 14.6085 10.0417L10.9992 12.8968C11.264 13.2176 11.5496 13.4669 11.8559 13.6446C12.169 13.8168 12.4832 13.8998 12.7986 13.8934C13.1086 13.8802 13.4064 13.7607 13.6919 13.5349ZM10.6798 9.68511C10.5031 9.8249 10.3656 9.97235 10.2673 10.1275C10.1636 10.2758 10.0957 10.4345 10.0637 10.6035C10.033 10.7603 10.0287 10.9295 10.0507 11.111C10.0795 11.2871 10.1327 11.466 10.2102 11.6478C10.2823 11.8228 10.3754 12.0034 10.4894 12.1894L13.0792 10.1409C12.9232 9.94381 12.7482 9.77839 12.554 9.64467C12.3598 9.51096 12.1607 9.41985 11.9566 9.37136C11.7471 9.31606 11.5346 9.31286 11.3191 9.36175C11.1036 9.41065 10.8905 9.51843 10.6798 9.68511ZM14.7864 5.84016L16.0793 5.3635C16.4732 5.85563 16.8358 6.3131 17.1672 6.7359C17.5037 7.14758 17.8034 7.52203 18.0663 7.85925C18.3373 8.19347 18.573 8.49453 18.7733 8.76242C18.9818 9.02732 19.1535 9.25498 19.2884 9.44542C19.4314 9.63286 19.5416 9.78157 19.6191 9.89155L19.6313 9.88706C19.6129 9.73683 19.5947 9.54957 19.5766 9.3253C19.5667 9.09802 19.5515 8.83116 19.5309 8.5247C19.5073 8.21012 19.4834 7.84481 19.4594 7.42878C19.4434 7.00976 19.4202 6.53338 19.3897 5.99965C19.3643 5.45479 19.3383 4.84552 19.3116 4.17183L20.5192 3.72664L20.6993 11.0174C20.7011 11.4232 20.6889 11.7787 20.6629 12.0838C20.645 12.386 20.6025 12.6465 20.5353 12.8652C20.4712 13.0921 20.3772 13.2883 20.2536 13.454C20.1381 13.6167 19.9861 13.7558 19.7978 13.8714C19.6177 13.984 19.3934 14.0898 19.1251 14.1887C19.0681 14.2097 18.9975 14.2311 18.9132 14.253C18.84 14.28 18.7613 14.3044 18.677 14.3262C18.5957 14.3562 18.5088 14.3836 18.4163 14.4085L18.0386 13.3839C18.1229 13.362 18.2072 13.3402 18.2915 13.3183C18.384 13.2935 18.4709 13.2661 18.5522 13.2361C18.7473 13.1641 18.905 13.0783 19.0253 12.9785C19.1485 12.8869 19.2395 12.7703 19.2981 12.6286C19.3678 12.492 19.4174 12.3259 19.4469 12.1303C19.4764 11.9347 19.4868 11.7 19.4782 11.426L14.7864 5.84016Z"/>
                                        <path d="M22.8948 3.29407L24.2458 3.24107C24.4251 3.8325 24.5895 4.3768 24.7391 4.87399C24.8888 5.37117 25.0192 5.82141 25.1304 6.22469C25.2499 6.61897 25.355 6.9748 25.4455 7.29216C25.5356 7.60086 25.6068 7.86695 25.6589 8.09041C25.7197 8.31353 25.7658 8.49386 25.7972 8.6314L25.8102 8.63089C25.8311 8.49997 25.8636 8.3339 25.9078 8.13269C25.9516 7.92281 26.0067 7.66912 26.0731 7.37162C26.1391 7.06546 26.2163 6.71117 26.3046 6.30873C26.3929 5.90629 26.5004 5.44239 26.6273 4.91701C26.7538 4.38298 26.8952 3.78764 27.0516 3.13101L28.2857 3.0826C28.5047 3.80257 28.6941 4.42829 28.8537 4.95978C29.022 5.49093 29.1655 5.94498 29.2844 6.32194C29.4033 6.69891 29.4981 7.0161 29.5689 7.27352C29.6484 7.53061 29.7088 7.74507 29.7503 7.91691C29.8004 8.08841 29.8408 8.23427 29.8715 8.35449L29.8845 8.35398C29.9051 8.2144 29.9336 8.05717 29.9701 7.88227C30.0062 7.69871 30.0539 7.47567 30.113 7.21315C30.1721 6.95063 30.2419 6.63132 30.3226 6.2552C30.4116 5.87008 30.515 5.41068 30.6328 4.87698C30.7506 4.34329 30.8949 3.70881 31.0655 2.97356L32.3515 2.92311L30.5845 9.61452L29.2075 9.66853C29.0672 9.18832 28.9277 8.72544 28.7888 8.27988C28.6499 7.83431 28.5206 7.41439 28.4011 7.0201C28.2815 6.62582 28.172 6.26584 28.0725 5.94015C27.973 5.61447 27.888 5.32725 27.8175 5.07848C27.7471 4.82972 27.6959 4.63224 27.6642 4.48604L27.6512 4.48655C27.6237 4.66977 27.5774 4.92745 27.5124 5.25958C27.4474 5.59172 27.3631 5.98533 27.2595 6.4404C27.1556 6.88682 27.0365 7.39021 26.9024 7.95056C26.7683 8.51092 26.6273 9.11924 26.4796 9.77554L25.0637 9.83108L22.8948 3.29407ZM36.41 2.7563C36.7827 2.7563 37.125 2.8083 37.437 2.9123C37.7577 3.0163 38.0437 3.16796 38.295 3.3673C38.5463 3.56663 38.7587 3.8093 38.932 4.0953C39.114 4.3813 39.2483 4.70196 39.335 5.0573C39.4303 5.41263 39.478 5.79396 39.478 6.2013C39.478 6.5913 39.4347 6.95963 39.348 7.3063C39.2613 7.65296 39.1313 7.97363 38.958 8.2683C38.7847 8.5543 38.5723 8.80563 38.321 9.0223C38.0697 9.2303 37.775 9.39496 37.437 9.5163C37.1077 9.62896 36.7393 9.6853 36.332 9.6853C35.8553 9.6853 35.422 9.60296 35.032 9.4383C34.6507 9.26496 34.3257 9.0223 34.057 8.7103C33.797 8.3983 33.5977 8.0343 33.459 7.6183C33.3203 7.19363 33.251 6.72996 33.251 6.2273C33.251 5.8373 33.2943 5.46896 33.381 5.1223C33.4763 4.76696 33.6107 4.4463 33.784 4.1603C33.9573 3.86563 34.1697 3.6143 34.421 3.4063C34.681 3.1983 34.9757 3.03796 35.305 2.9253C35.643 2.81263 36.0113 2.7563 36.41 2.7563ZM36.358 3.8093C36.124 3.8093 35.9117 3.84396 35.721 3.9133C35.5303 3.98263 35.3613 4.08663 35.214 4.2253C35.0753 4.36396 34.954 4.53296 34.85 4.7323C34.7547 4.92296 34.681 5.14396 34.629 5.3953C34.5857 5.64663 34.564 5.91963 34.564 6.2143C34.564 6.56963 34.603 6.89896 34.681 7.2023C34.7677 7.49696 34.889 7.75263 35.045 7.9693C35.201 8.1773 35.3917 8.34196 35.617 8.4633C35.8423 8.57596 36.098 8.6323 36.384 8.6323C36.6093 8.6323 36.8173 8.59763 37.008 8.5283C37.1987 8.45896 37.3633 8.35496 37.502 8.2163C37.6493 8.06896 37.7707 7.89996 37.866 7.7093C37.97 7.50996 38.048 7.28463 38.1 7.0333C38.152 6.78196 38.178 6.5133 38.178 6.2273C38.178 5.8633 38.1347 5.53396 38.048 5.2393C37.97 4.93596 37.853 4.6803 37.697 4.4723C37.5497 4.25563 37.3633 4.09096 37.138 3.9783C36.9127 3.86563 36.6527 3.8093 36.358 3.8093ZM40.9169 9.5293V4.7063C40.9169 4.41163 40.9169 4.15596 40.9169 3.9393C40.9169 3.72263 40.9126 3.53196 40.9039 3.3673C40.9039 3.19396 40.9039 3.0423 40.9039 2.9123H42.1519C42.1606 2.97296 42.1649 3.0683 42.1649 3.1983C42.1736 3.3283 42.1779 3.4843 42.1779 3.6663C42.1866 3.83963 42.1909 4.02596 42.1909 4.2253C42.2776 4.00863 42.3859 3.81363 42.5159 3.6403C42.6546 3.4583 42.8193 3.3023 43.0099 3.1723C43.2006 3.0423 43.4129 2.94263 43.6469 2.8733C43.8809 2.7953 44.1323 2.7563 44.4009 2.7563V4.0173C43.9503 4.0173 43.5603 4.09963 43.2309 4.2643C42.9016 4.4203 42.6459 4.67163 42.4639 5.0183C42.2819 5.3563 42.1909 5.8113 42.1909 6.3833V9.5293H40.9169ZM49.8419 0.000296354H51.1159V7.6703C51.1159 7.86963 51.1159 8.0733 51.1159 8.2813C51.1159 8.4893 51.1159 8.6973 51.1159 8.9053C51.1246 9.10463 51.1289 9.31263 51.1289 9.5293H49.8939C49.8853 9.46863 49.8766 9.3863 49.8679 9.2823C49.8679 9.16963 49.8636 9.05263 49.8549 8.9313C49.8463 8.80996 49.8419 8.7103 49.8419 8.6323C49.7379 8.84896 49.5906 9.03963 49.3999 9.2043C49.2179 9.3603 48.9926 9.4773 48.7239 9.5553C48.4639 9.64196 48.1563 9.6853 47.8009 9.6853C47.3763 9.6853 46.9949 9.6073 46.6569 9.4513C46.3189 9.28663 46.0286 9.05263 45.7859 8.7493C45.5433 8.44596 45.3569 8.0863 45.2269 7.6703C45.1056 7.2543 45.0449 6.79496 45.0449 6.2923C45.0449 5.88496 45.0883 5.50363 45.1749 5.1483C45.2703 4.7843 45.4003 4.4593 45.5649 4.1733C45.7296 3.87863 45.9333 3.6273 46.1759 3.4193C46.4186 3.20263 46.6916 3.03796 46.9949 2.9253C47.3069 2.81263 47.6493 2.7563 48.0219 2.7563C48.3079 2.7563 48.5506 2.7823 48.7499 2.8343C48.9579 2.87763 49.1356 2.94263 49.2829 3.0293C49.4303 3.1073 49.5473 3.19396 49.6339 3.2893C49.7293 3.38463 49.7986 3.47563 49.8419 3.5623V0.000296354ZM48.1779 3.8223C47.9439 3.8223 47.7316 3.85696 47.5409 3.9263C47.3589 3.99563 47.1943 4.09963 47.0469 4.2383C46.8996 4.3683 46.7739 4.53296 46.6699 4.7323C46.5746 4.92296 46.5009 5.1483 46.4489 5.4083C46.3969 5.65963 46.3709 5.9413 46.3709 6.2533C46.3709 6.63463 46.4143 6.97263 46.5009 7.2673C46.5876 7.56196 46.7046 7.8133 46.8519 8.0213C47.0079 8.22063 47.1899 8.3723 47.3979 8.4763C47.6146 8.57163 47.8443 8.6193 48.0869 8.6193C48.3903 8.6193 48.6459 8.57596 48.8539 8.4893C49.0619 8.40263 49.2309 8.28563 49.3609 8.1383C49.4996 7.9823 49.6079 7.80463 49.6859 7.6053C49.7639 7.3973 49.8159 7.17196 49.8419 6.9293C49.8679 6.67796 49.8809 6.41363 49.8809 6.1363C49.8809 5.78963 49.8593 5.4733 49.8159 5.1873C49.7726 4.9013 49.6903 4.65863 49.5689 4.4593C49.4476 4.2513 49.2743 4.0953 49.0489 3.9913C48.8236 3.87863 48.5333 3.8223 48.1779 3.8223Z"/>
                                        </svg>
                                    h3.p-top-service-item__title(style="background: #EBBA5F;")
                                        | 賃貸ビジネスを支える

                    .p-top-service__more
                        a(href=path + "service/").c-btn-round
                            span.c-btn-round__txt サービス一覧
                            i.c-btn-round__arrow
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")._arrow
                                    use(href="#ico-arrow-right")
        // CHINTAIの取り組み
        section.p-top-initiatives
            .l-container
                .p-top-initiatives__wrap
                    .p-top-initiatives__head
                        .c-heading-section
                            h2.c-heading-section__title
                                | CHINTAIの取り組み
                            p.c-heading-section__en
                                | Initiatives
                        p.c-paragraph-md
                            | CHINTAIは、誰もが心地よく暮らせる未来をつくるために、地域や社会と連携しながら、さまざまなプロジェクトに取り組んでいます。
                            br.pc
                            | ここでは、CHINTAIだからこそ実現できる取り組みをご紹介します。
                    .p-top-initiatives__items
                        .p-top-initiatives-item.p-top-initiatives-item--society
                            a(href="https://www.chintai.net/city-planning/" target="_blank").p-top-initiatives-item__link
                                figure.p-top-initiatives-item__pic
                                    img(src=img+"p-top-initiatives-item-society.webp" alt="社会貢献プロジェクト")
                                .p-top-initiatives-item__wrap
                                    .p-top-initiatives-item__head
                                        span.p-top-initiatives-item__label
                                            | Project 01
                                        h3.p-top-initiatives-item__title(style="background: #EF92AE;")
                                            | 社会貢献プロジェクト
                                        i.p-top-initiatives-item__ico
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-external")
                                    p.p-top-initiatives-item__desc
                                        | 子どもたちの学び、まちの安心、自然との共生まで。CHINTAIは地域や次世代のために、5つの視点から社会課題の解決に取り組んでいます。
                        .p-top-initiatives-item.p-top-initiatives-item--student
                            a(href=path + "initiatives/student/").p-top-initiatives-item__link
                                figure.p-top-initiatives-item__pic
                                    img(src=img+"p-top-initiatives-item-student.webp" alt="学生応援活動")
                                .p-top-initiatives-item__wrap
                                    .p-top-initiatives-item__head
                                        span.p-top-initiatives-item__label
                                            | Project 02
                                        h3.p-top-initiatives-item__title(style="background: #5BBFE1;")
                                            | 学生応援活動
                                        i.p-top-initiatives-item__ico
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                    p.p-top-initiatives-item__desc
                                        | 学生が「自分らしい理想の新生活」を安心して始められるよう、お部屋探しから新生活までを総合的にサポートするサービスやコンテンツを提供しています。
                        .p-top-initiatives-item.p-top-initiatives-item--media
                            a(href=path + "initiatives/media/").p-top-initiatives-item__link
                                figure.p-top-initiatives-item__pic
                                    img(src=img+"p-top-initiatives-item-media.webp" alt="メディア活動")
                                .p-top-initiatives-item__wrap
                                    .p-top-initiatives-item__head
                                        span.p-top-initiatives-item__label
                                            | Project 03
                                        h3.p-top-initiatives-item__title(style="background: #7EBEAF;")
                                            | メディア活動
                                        i.p-top-initiatives-item__ico
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")._arrow
                                                use(href="#ico-arrow-right")
                                    p.p-top-initiatives-item__desc
                                        | CHINTAIをもっと身近に感じていただけるよう、CMやスポーツ協賛をはじめとする多様なメディア活動を通じて、ブランド認知と企業イメージの向上に取り組んでいます。

                    .p-top-initiatives__more
                        a(href=path + "initiatives/").c-btn-round
                            span.c-btn-round__txt 取り組み一覧
                            i.c-btn-round__arrow
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")._arrow
                                    use(href="#ico-arrow-right")
        // お知らせ
        section.p-top-news
            .l-container
                .p-top-news__wrap
                    .p-top-news__head
                        .c-heading-section
                            h2.c-heading-section__title
                                | お知らせ
                            p.c-heading-section__en
                                | News
                    //-.p-top-news__list
                        .c-card-news
                            .c-card-news__wrap
                                p.c-card-news__date 2025.05.17
                                p.c-card-news__category
                                    span.c-card-news__label(style="background: #EF92AE;")
                                    span 暮らし調査
                                .c-card-news__title
                                    a(href=path + "single-news/").c-card-news__link
                                        | なにわ男子・大橋和也さんがミュージカル仕立てでお部屋探し！
                        .c-card-news
                            .c-card-news__wrap
                                p.c-card-news__date 2025.04.17
                                p.c-card-news__category
                                    span.c-card-news__label(style="background: #7EBEAF;")
                                    span お知らせ
                                .c-card-news__title
                                    a(href=path + "single-news/").c-card-news__link
                                        | なにわ男子・大橋和也さんがミュージカル仕立てでお部屋探し！ 2行の場合2行の場合2行の場合2行の場合2行の場合2行の場合
                        .c-card-news
                            .c-card-news__wrap
                                p.c-card-news__date 2025.04.17
                                p.c-card-news__category
                                    span.c-card-news__label(style="background: #EBBA5F;")
                                    span プレスリリース
                                .c-card-news__title
                                    a(href=path + "single-news/").c-card-news__link
                                        | サービス開始50周年！日本記念日協会が登録認定11月1日を「CHINTAIの日」に制定
                                    .c-card-news__pdf
                                        a(href="" target="_blank")
                                            span PDF
                                            svg(width=13 height=13 aria-hidden="true")
                                                use(href="#ico-external-sm")
                    .p-top-news__list#news-list(data-api-url="/news/api/news/latest.json", data-news-path=path + "news/")
                        //- CSR: src/js/top-news.js が #news-list に .c-card-news を挿入
                    .p-top-news__more
                        a(href=path+"news/").c-btn-more
                            span.c-btn-more__txt 一覧を見る
                            i.c-btn-more__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")._arrow
                                    use(href="#ico-arrow-right")

        .p-top-cta
            - var cta = "top"
            include ./template/_cm-section-cta











