extends ../../_default
block vars
    - var path = "../../"
    - var title = "CHINTAIの取り組み｜学生応援活動｜株式会社CHINTAI"
    - var description = "株式会社CHINTAIの学生応援活動のご紹介です。学生の新生活に寄り添い、未来への一歩を支えるために、お引越しから新生活までを総合的に支援する「ガクサポ」や「高校生のためのお部屋探し&一人暮らしガイド」など、さまざまな活動を展開。"
    - var pageClass = "page-gray is-header-dark dir-initiative"
    - var canonical = "https://www.chintai.jp/initiatives/student/"

block content
    .p-student
        section.cm-section-header.cm-section-header--hasBG
            picture.cm-section-header__bg
                source(srcset=img + "p-student-mv-sp.webp" media="(max-width: 1023px)")
                img(src=img + "p-student-mv.webp" alt="学生応援活動イメージ画像")
            .l-container
                .cm-section-header__wrap
                    .c-heading-page.c-heading-page--wh
                        h1.c-heading-page__single
                            | 学生応援活動
            ul.cm-section-header__bc
                li
                    a(href=path+"")
                        | Top
                li
                    a(href=path + "initiatives/")
                        | Initiatives
                li
                    span
                        | Student

        section.p-student-message
            .l-container
                .p-student-message__wrap
                    h2.p-student-message__title
                        | 学生の新生活に寄り添い、
                        br
                        | 未来への一歩を支える。
                    p.p-student-message__txt
                        | 学生にとっての一人暮らしは、人生で初めての経験であり、大きな転機となることが多いものです。期待に胸をふくらませる一方で、不安を感じることも少なくありません。
                        br
                        | また、学生生活は可能性に満ちている反面、「自分は何をすべきだろう」と迷う場面も多くあるはずです。
                        br
                        |
                        br
                        | そこでCHINTAIでは、学生が<span class="u-underline-dash js-underline-text">「自分らしい理想の</span><br class="sp"><span class="u-underline-dash js-underline-text">新生活」</span>
                        | を安心して始められるよう、お部屋探しから新生活までを総合的にサポート。新たな一歩を踏み出す学生の背中をそっと押し、未来につながる支援を強化しています。
                        br
                        |
                        br
                        | 私たちはこれからも、物件情報の提供にとどまらない支援の幅を広げ、
                        | <span class="u-underline-dash js-underline-text"> “独りじゃない”一人暮らしの</span><br class="sp"><span class="u-underline-dash js-underline-text">実現</span>
                        | を目指します。
        .p-student-project
            .l-container.l-container--lg
                .p-student-project__wrap
                    picture.p-student-project__bg
                        source(srcset=img + "bg-ellipse-sp.webp" media="(max-width: 1023px)")
                        img(src=img + "bg-ellipse.webp" alt="")
                    .c-heading-section.c-heading-section--sm.c-heading-section--center
                        h2.c-heading-section__title
                            | 取り組み紹介
                        p.c-heading-section__en
                            | Project
                    section.p-student-project-gakusapo
                        figure.p-student-project-gakusapo__pic
                            img(src=img+"p-student-project-gakusapo.webp" alt="ガクサポ")
                        .p-student-project-gakusapo__content
                            .cm-block-student.cm-block-student--gakusapo#student01
                                .cm-block-student__head
                                    h3.cm-block-student__title
                                        span.cm-block-student__label(style="background: #5BBFE1;")
                                            | 01
                                        img(src=img+"p-student-project-gakusapo-logo.svg" alt="ガクサポ")
                                .cm-block-student__body
                                    p.c-paragraph
                                        | 学生のお引越しから新生活までを総合的に支援する、学生サポートサービスです。ガクサポの理念に賛同いただいた企業と提携し、学生に向けた特別なサポートを提供しています。
                                    .cm-block-student__more
                                        a(href="https://gakusapo.chintai.net/" target="_blank").c-btn-more.c-btn-more--sm
                                            span.c-btn-more__txt ウェブサイトを見る
                                            i.c-btn-more__ico
                                                svg(width=42 height=42 aria-hidden="true")
                                                    use(href="#ico-circle")
                                                svg(width=42 height=42 aria-hidden="true")
                                                    use(href="#ico-external")

                    section.p-student-project-service
                        h2.p-student-project-service__title
                            | サービス内容
                        .p-student-project-service__items
                            .p-student-project-service-item
                                figure.p-student-project-service-item__pic
                                    img(src=img+"p-student-project-service-pic1.webp" alt="引越しお祝いBOX")
                                    figcaption.p-student-project-service-item__caption
                                        picture
                                            source(srcset=img + "p-student-project-service-label1-sp.svg" media="(max-width: 1023px)")
                                            img(src=img+"p-student-project-service-label1.svg" alt="これから引越しされる方向け")

                                .p-student-project-service-item__body
                                    h3.p-student-project-service-item__title
                                        | 引越しお祝いBOX
                                    p
                                        | 「新生活を始める学生を応援したい」という想いに賛同いただいた企業と連携し、引越し初日から役立つアイテムを厳選してお届けしています。
                            .p-student-project-service-item
                                figure.p-student-project-service-item__pic
                                    img(src=img+"p-student-project-service-pic2.webp" alt="くらしサポート")
                                    figcaption.p-student-project-service-item__caption
                                        picture
                                            source(srcset=img + "p-student-project-service-label2-sp.svg" media="(max-width: 1023px)")
                                            img(src=img + "p-student-project-service-label2.svg" alt="引越し済み・一人暮らし中の方向け")
                                .p-student-project-service-item__body
                                    h3.p-student-project-service-item__title
                                        | くらしサポート
                                    p
                                        | プログラミング検定や芸術体験の割引など、学生の学びや挑戦を後押しするコンテンツを展開しています。


                    section.p-student-project-list
                        .cm-block-student.cm-block-student--02#student02
                            .cm-block-student__head
                                h3.cm-block-student__title
                                    span.cm-block-student__caption
                                        img(src=img + "p-student-project-list-caption1.svg" alt="高校生のための")
                                    span.cm-block-student__label(style="background: #EF92AE;")
                                        | 02
                                    | お部屋探し&
                                    br
                                    | 一人暮らしガイド
                            figure.cm-block-student__pic
                                img(src=img+"p-student-project-list-pic1.webp" alt="お部屋探し&一人暮らしガイド")
                            .cm-block-student__body
                                p.c-paragraph
                                    | 進学や就職を控えた高校生が、お部屋選びや賃貸契約、引越し準備の基礎を実践的に学べる家庭科向け副教材です。卒業後すぐに一人暮らしを始める高校生が、安心してスムーズに自立できるようサポートすることを目的としています。現在、全国1,000校以上の高等学校で活用されています。

                        .cm-block-student#student03
                            .cm-block-student__head
                                h3.cm-block-student__title
                                    span.cm-block-student__label(style="background: #7EBEAF;")
                                        | 03
                                    | HR高等学院との
                                    br
                                    | 事業連携
                            figure.cm-block-student__pic
                                img(src=img+"p-student-project-list-pic2.webp" alt="HR高等学院との事業連携")
                            .cm-block-student__body
                                p.c-paragraph
                                    | 未来ある若者を支援するため、HR高等学院を運営する株式会社RePlayceと事業提携しています。その活動の一環として、HR高等学院の学生に向け、住まいや暮らしに関する教育コンテンツを提供するとともに、安心して新生活を始められるようお部屋探しをサポートしています。さらに、学生がより自分らしい暮らしを実現できるよう、HR高等学院と共同で授業コンテンツを開発・提供しています。

                        .cm-block-student
                            .cm-block-student__head
                                h3.cm-block-student__title
                                    span.cm-block-student__label(style="background: #EBBA5F;")
                                        | 04
                                    | CHINTAI
                                    br
                                    | 学生応援TV
                            figure.cm-block-student__pic
                                img(src=img+"p-student-project-list-pic3.webp" alt="CHINTAI学生応援TV")
                            .cm-block-student__body
                                p.c-paragraph
                                    | CHINTAIは、夢に向かって頑張る学生を応援するYouTubeチャンネル『CHINTAI 学生応援TV』を開設しています。このチャンネルでは、学問、スポーツ、芸術、起業、芸能など、さまざまな分野で挑戦する学生に密着し、その努力や新生活の様子を紹介しています。
                                .cm-block-student__more
                                    a(href="https://www.youtube.com/@student-supportiveTV" target="_blank").c-btn-more.c-btn-more--sm
                                        span.c-btn-more__txt YouTubeを見る
                                        i.c-btn-more__ico
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-circle")
                                            svg(width=42 height=42 aria-hidden="true")
                                                use(href="#ico-external")



                ul.p-student-project__more
                    li
                        a(href=path + "initiatives/media/").c-btn-square.c-btn-square--media
                            span.c-btn-square__txt
                                | メディア活動
                            i.c-btn-square__ico
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")._arrow
                                    use(href="#ico-arrow-right")
                    li
                        a(href="https://www.chintai.net/city-planning/" target="_blank").c-btn-square.c-btn-square--initiative
                            span.c-btn-square__txt
                                | 社会貢献プロジェクト
                            i.c-btn-square__arrow
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-circle")
                                svg(width=42 height=42 aria-hidden="true")
                                    use(href="#ico-external")













