.cm-nav-main
    ul.cm-nav-main__lv1
        li
            a(href=path + "company/").cm-nav-main__link
                span._ja 会社情報
                span._en Company
        li
            a(href=path + "service/").cm-nav-main__link
                span._ja サービス
                span._en Service
        li
            a(href=path + "initiatives/").cm-nav-main__link
                span._ja CHINTAIの取り組み
                span._en Initiatives
            ul.cm-nav-main__lv2
                li
                    a(href="https://www.chintai.net/city-planning/" target="_blank").cm-nav-main__sub
                        span 社会貢献プロジェクト
                        svg(width=13 height=13 aria-hidden="true")
                            use(href="#ico-external-sm")
                li
                    a(href=path + "initiative/student/").cm-nav-main__sub
                        span 学生応援活動
                li
                    a(href=path + "initiative/media/").cm-nav-main__sub
                        span メディア活動
        li
            a(href=path + "news/").cm-nav-main__link
                span._ja お知らせ
                span._en News
        li
            a(href="https://www.chintai.jp/recruit/").cm-nav-main__link
                span._ja 採用情報
                span._en Recruit
        li
            a(href=path + "contact/").cm-nav-main__link
                span._ja お問い合わせ
                span._en Contact


